<form name="formEndereco" role="form" class="form-horizontal" xt-form novalidate>

	<div class="form-group">
		<label class="col-sm-2 control-label">CEP</label>
		<div class="col-sm-9">
			<input id="cep" 
				   focus="true" 
				   ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && buscarCep()"
				   name="cep" 
				   type="text" 
				   class="form-control input-md" 
				   ng-required="endereco.requerCompleto" 
				   xt-validate-cep msg-cep="CEP Inválido!" 
				   ng-model="endereco.cep" 
				   ui-mask="99999-999" 
				   ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="9" 
				   ng-disabled="!permissaoEscrita || disabled">
		</div>
		<div class="col-sm-1">
			<a class="btn btn-success" style="float:right" ng-click="buscarCep()" ng-disabled="!permissaoEscrita || trancaEndereco">BUSCAR</a>
		</div>
	</div>

	<div class="form-group">
		<label for="estado" class="col-sm-2 control-label">País</label>
		<div class="col-sm-10">
			<input type="hidden" name="pais" style="width:100%" ui-select2="selectPaises" ng-required="true" ng-change="limparUf()" ng-model="endereco.idPais" ng-disabled="!permissaoEscrita || disabled" />
		</div>
	</div>

	<div class="form-group">
		<label for="estado" class="col-sm-2 control-label">UF</label>
		<div class="col-sm-10">
			<input type="hidden" name="estado" style="width:100%" ui-select2="selectEstados" ng-change="limparCidade()" ng-required="true" ng-model="endereco.idEstado" ng-disabled="!permissaoEscrita || disabled" />
		</div>
	</div>

	<div class="form-group">
		<label for="cidade" class="col-sm-2 control-label">Cidade</label>
		<div class="col-sm-10">
			<input type="hidden" name="cidade" style="width:100%" ui-select2="selectCidades" ng-model="endereco.idCidade" ng-required="true" ng-disabled="!permissaoEscrita || disabled" />
		</div>
	</div>

	<div class="form-group">
		<label for="estado" class="col-sm-2 control-label">Tipo Logradouro</label>
		<div class="col-sm-10">
			<input type="hidden" name="tipoLogradouro" style="width:100%" ui-select2="selectTiposLogradouro" ng-model="endereco.idTipoLogradouro" ng-disabled="!permissaoEscrita || disabled" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Logradouro</label>
		<div class="col-sm-10">
			<input id="logradouro" name="logradouro" uppercase type="text" xt-validate class="form-control input-md" ng-required="endereco.requerCompleto" ng-model="endereco.logradouro" maxlength="255" ng-disabled="!permissaoEscrita || disabled">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Número</label>
		<div class="col-sm-10">
			<input id="numero" name="numero" type="text" class="form-control input-md" ng-model="endereco.numero" maxlength="20" ng-disabled="!permissaoEscrita || disabled">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Complemento</label>
		<div class="col-sm-10">
			<input id="complemento" name="complemento" uppercase type="text" class="form-control input-md" ng-model="endereco.complemento" maxlength="20" ng-disabled="!permissaoEscrita || disabled">
		</div>
	</div>

	<div class="form-group">
		<label for="estado" class="col-sm-2 control-label">Bairro</label>
		<div class="col-sm-10">
			<input type="hidden" name="bairro" style="width:100%" ui-select2="selectBairros" ng-model="endereco.idBairro" ng-disabled="!permissaoEscrita || disabled" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Referência</label>
		<div class="col-sm-10">
			<input id="referencia" name="referencia" uppercase type="text" class="form-control input-md" ng-model="endereco.referencia" maxlength="100" ng-disabled="!permissaoEscrita || disabled">
			<p class="help-block"></p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">IDDNE</label>
		<div class="col-sm-10">
			<input id="iddne" name="iddne" type="text" class="form-control input-md" ng-model="endereco.iddne" maxlength="2" ng-disabled="!permissaoEscrita || disabled">
			<p class="help-block"></p>
		</div>
	</div>
</form>
