/* AJUSTES DE CORES (ALERTAS, NOTIFICACOES, ETC) */

.form-control {
    border-radius: 0;
    /*text-transform: uppercase;*/
}

#toast-container > div {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.toast-success {
    background-color: #a1af00;
}

.toast-info {
    background-color: #2f96b4;
}

.alert {
    border-radius: 0;
}

.alert-warning {
    background-image: none;
    background-color: #ffd600;
    border-color: transparent;
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #a1af00;
}

    .nav-tabs > li > a {
        border-radius: 0;
        border-top: 4px solid transparent;
        color: #aaa;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #a1af00;
        border-left: 1px solid #a1af00;
        border-right: 1px solid #a1af00;
        border-top: 4px solid #a1af00;
    }

.parametrizacao .nav-tabs {
    border-bottom: 1px solid #e95e0f;
}

    .parametrizacao .nav-tabs > li > a {
        border-radius: 0;
        border-top: 4px solid transparent;
        color: #aaa;
    }

    .parametrizacao .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #e95e0f;
        border-left: 1px solid #e95e0f;
        border-right: 1px solid #e95e0f;
        border-top: 4px solid #e95e0f;
    }

#criticas .nav-tabs {
    border-bottom: 1px solid #b50f22;
}

    #criticas .nav-tabs > li > a {
        border-radius: 0;
        border-top: 4px solid transparent;
        color: #aaa;
    }

    #criticas .nav-tabs > li.active > a, #criticas .nav-tabs > li.active > a:hover, #criticas .nav-tabs > li.active > a:focus {
        color: #b50f22;
        border-left: 1px solid #b50f22;
        border-right: 1px solid #b50f22;
        border-top: 4px solid #b50f22;
    }

#criticas .nav-pills a {
    color: #000;
    border: 1px solid #eee;
    background: #fafafa;
}

#criticas .nav-pills > li > a:hover {
    background: #eee;
}

#criticas .nav-pills > li.active > a,
#criticas .nav-pills > li.active > a:hover,
#criticas .nav-pills > li.active > a:focus {
    color: #ffffff;
    background: #a01025;
}

.dropdown-menu {
    background-color: #fafafa;
}

.context-menu-item {
    padding: 3px 2px 3px 32px;
    color: #333;
}

    .context-menu-item:hover {
        cursor: pointer;
        background-color: #2277DD;
        color: #fff;
    }

    .context-menu-item.icon {
        min-height: 18px;
        background-repeat: no-repeat;
        background-position: 6px 4px;
    }

    .context-menu-item.icon-copy {
        background-image: url(/images/icon-copy.png);
    }

    .context-menu-item.icon-paste {
        background-image: url(/images/icon-paste.png);
    }

/* CARDS DE CONTATO */
.card-contato {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 2% 20px 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 5px solid #a1af00;
}

    .card-contato .card-contato__list {
        margin: 0;
        padding: 0;
    }

        .card-contato .card-contato__list .card-contato__item,
        .card-contato .card-contato__list .card-contato__controls {
            display: block;
            width: 100%;
            list-style-type: none;
            min-height: 12px;
        }

            .card-contato .card-contato__list .card-contato__item:not(:last-child) {
                margin-bottom: 10px;
            }

            .card-contato .card-contato__list .card-contato__item .card-contato__label,
            .card-contato .card-contato__list .card-contato__item .card-contato__value {
                display: inline-block;
                vertical-align: top;
                margin: 0;
            }

            .card-contato .card-contato__list .card-contato__item .card-contato__label {
                width: 32%;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
            }

            .card-contato .card-contato__list .card-contato__item .card-contato__value {
                width: 66%;
            }

        .card-contato .card-contato__list .card-contato__controls {
            text-align: right;
        }



/* BOTAO NOVO NA AREA DE TITULO */

.entidade__area-title {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0;
}

    .entidade__area-title .area-title__title {
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
        font-size: 4em;
        font-weight: 300;
        color: #111111;
    }

    .entidade__area-title .area-title__subtitle {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 0 .3em;
        font-size: 1.8em;
        font-weight: 300;
        color: #928580;
    }

.entidade__area-title {
    vertical-align: middle;
    width: 75%;
}

.entidade__new-button-area {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    text-align: right;
}

    .entidade__new-button-area .entidade__new-button {
        padding: .6em .8em;
        font-size: .8em;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 8em;
        font-weight: 600;
        color: #fefefe;
        background: #cdc300;
        border-bottom: 0.4em solid #9a9200;
    }


/* TREE DE REGIAO */
.tree-node {
    color: #555;
    font-size: 14px;
    padding: 3px 3px;
    cursor: pointer;
}

    .tree-node .btn-default {
        text-shadow: none;
        box-shadow: none;
    }

    .tree-node:hover {
        background: #a1af00;
        color: white;
    }

        .tree-node:hover .glyphicon {
            color: white;
        }

.botaoArvoreRegioes:first-child {
    color: #777;
}

.tree-node-content .btn {
    background: none;
}

.tree-node-content .btn-default {
    background-image: none;
    border-color: transparent;
}

.angular-ui-tree-handle {
    padding: 5px 10px;
}

.tree-node.ui-selected {
    background: #a1af00;
    color: white;
}

/* PAINEL (EX: AREA DE REGIOES) */
.panel, .panel-classes, .panel-cadastro {
    border-radius: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    .panel-cadastro > .panel-heading, .panel-classes > .panel-heading {
        background-image: none;
        background-color: #a1af00;
        color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .panel-cadastro > .panel-body .form-group .form-control {
        border-radius: 0;
    }

    .panel-classes .list-group-item.ui-selected {
        background-color: #cdc300;
    }

.panel-criticas > .panel-heading, .panel-variaveis > .panel-heading {
    padding: 4px 12px;
}

.panel-criticas > .panel-body {
    padding: 15px;
}

.panel-variaveis > .panel-body {
    padding: 7px;
}

.panel-login {
    border: 1px solid #e95e0f;
}

.panel-login > .panel-heading {
        background-image: none;
        background-color: #e95e0f;
        color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

/* BOTOES DA AREA DE PRODUTOS / IMAGENS */
.btn {
    border-radius: 0;
}

.btn-success, .btn-primary, .btn-warning {
    background-image: none;
    border-color: transparent;
    text-transform: 0 0 0 transparent;
}

.btn-success {
    background-color: #a1af00;
}

    .btn-success:hover {
        background-color: #909c00;
        border-color: transparent;
    }

.btn-warning {
    background-color: #ffd600;
}



/* ALERTS (EX. CADASTROS/CATEGORIADOPRODUTO/) */
.alert {
    border-radius: 0;
    border: 0 solid transparent;
}

.alert-info, .alert-warning, .alert-error, .alert-success {
    background-image: none;
    color: white;
}

.alert-info {
    background-color: #2f96b4;
}

.alert-warning {
    background-color: #ffd600;
    color: #404040;
}

.alert-error {
    background-color: #bd362f;
}

.alert-success {
    background-color: #a1af00;
}



/* INPUT DE FILTRO COM 2 BOTOES */
.filter-box__input-2-btn {
    width: 67%;
    margin-left: -4px;
}

.filter-box__input-1-btn {
    width: 80%;
    margin-left: -4px;
}

.filter-box__search-button {
    margin-left: -4px;
}



/* MENU INICIAL */
.menu-inicial-box {
    display: block;
    position: relative;
    width: 100%;
    top: 100px;
    text-align: center;
}

    .menu-inicial-box .menu-inicial-box__list {
        margin: 0;
        padding: 0;
    }

        .menu-inicial-box .menu-inicial-box__list .menu-inicial-box__item {
            display: inline-block;
            vertical-align: top;
            width: 360px;
            padding: 30px 0;
            cursor: pointer;
        }

            .menu-inicial-box .menu-inicial-box__list .menu-inicial-box__item:hover {
                background: #eee;
            }

            .menu-inicial-box .menu-inicial-box__list .menu-inicial-box__item:not(:first-child) {
                margin-left: -4px;
            }

        .menu-inicial-box .menu-inicial-box__list .menu-inicial-box__icon {
            width: 150px;
        }

        .menu-inicial-box .menu-inicial-box__list .menu-inicial-box__label {
            margin: 0;
            font-size: 20px;
            color: #e95e0f;
            text-transform: uppercase;
        }

a:hover {
    text-decoration: none;
}

.modal-content {
    padding: 5px;
}

.modal-footer {
    padding: 10px;
}

.janelaVigencia, .janelaAdicionarFavorito {
    width: 550px;
    top: 100px;
}

.janelaRecorrencia {
    width: 500px;
    top: 100px;
}

.janelaPDVs {
    width: 880px;
    height: 600px;
    top: 100px;
}

.janelaLocaisExibicao {
    width: 550px;
    top: 100px;
}

.janelaNomenclaturaExibicao {
    width: 80%;
    top: 100px;
}

.janelaDadosLinha {
    width: 95%;
    height: 95%;
}

.janelaUsoItem {
    width: 800px;
    top: 50px;
}


.tabelaDadosLinha {
    width: 100%;
}

    .tabelaDadosLinha tr td {
        vertical-align: top;
        border: 1px solid #ddd;
    }

    .tabelaDadosLinha thead {
        background: #e95e0f;
        color: #fefefe;
    }

        .tabelaDadosLinha thead th {
            padding: 5px;
        }

.janelaLinhasParametrizacaoColeta {
    width: 650px;
    height: 400px;
    top: 100px;
}

.janelaItensColeta {
    top: 5%;
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 90%;
}

.janelaNovaParametrizacao {
    width: 600px;
    top: 100px;
}

.janelaConfirmacao {
    top: 200px;
}

.janelaEdicaoItemColeta {
    width: 850px;
    height: 380px;
    top: 100px;
}

    .janelaEdicaoItemColeta .modal-body {
        padding: 10px 0px;
    }


.janelaEdicaoPergunta {
    width: 850px;
    height: 250px;
    top: 100px;
}

    .janelaEdicaoItemColeta .modal-body {
        padding: 10px 0px;
    }

.table-layout {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

    .table-layout .table-row {
        display: table-row;
    }

.table-row .table-cell {
    display: table-cell;
    padding: 4px 8px;
    border: 1px solid #e8e7e6;
}

.table-cell .checkbox-inline {
    width: 80px;
}

    .table-cell .checkbox-inline + .checkbox-inline {
        margin-left: 0px;
    }

.fixed-width {
    width: 100px;
    text-align: right;
}

.janelaRecorrencia .frequenciaSelecionada {
    color: #fefefe;
    background: #e95e0f;
}

.janelaPDVs .conjuntoPDVs {
    font-weight: bold;
}

.exibirMais {
    border: 0px;
    background: #fff;
    font-size: 11px;
    height: 15px;
    vertical-align: middle;
    width: 100%;
    color: #555;
}

    .exibirMais:hover, .exibirMais:focus {
        outline: 0;
    }

    .exibirMais:hover {
        background: #fff;
        color: #000;
    }

    .exibirMais .exibirMais-texto {
        background: url(/images/down-arrow.gif) right no-repeat;
        padding-right: 15px;
    }

.listaComScroll {
    overflow-y: auto;
    max-height: 250px;
    border: 1px solid #e0e0e0;
}

.janelaItensColeta .panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0px;
    margin: 0px;
}

.janelaItensColeta #categorias .panel > .panel-heading {
    color: #444;
    background-image: linear-gradient(to bottom, #fcfcfc 0%, #f5f5f5 100%);
    border: 1px solid #ededed;
}

.janelaItensColeta .panel {
    border: 0px;
}

.janelaItensColeta .panel-heading {
    padding: 4px;
    vertical-align: middle;
}

.janelaItensColeta .panel-title > a {
    color: #333;
    font-size: 13px;
}

.janelaItensColeta .panel-title .glyphicon {
    color: #888;
    font-size: 10px;
}

.janelaItensColeta .badge {
    padding: 2px 6px;
}

.janelaItensColeta .panel-body {
    padding: 0px;
}

.janelaLocaisExibicao .listaComScroll {
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid #e0e0e0;
}

.janelaItensColeta .panel .lista {
    margin-left: 15px;
    margin-bottom: 1px;
}

.janelaItensColeta .lista li {
    padding: 1px;
    font-size: 13px;
}

.janelaItensColeta .itensSelecionados {
    width: 360px;
    display: table-cell;
    margin-left: 30px;
}

    .janelaItensColeta .itensSelecionados .lista li {
        font-size: 14px;
        padding: 2px;
    }

.highlightedText {
    font-weight: bold;
    /*background: yellow;*/
}

modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}

.ng-enter {
    opacity: 0;
}

.ng-enter-active {
    opacity: .5;
}

.ng-leave {
    opacity: .5;
}

.ng-leave-active {
    opacity: 0;
}

.modal h1 {
    margin: 0px;
}

.aside {
    position: relative;
    min-width: 200px;
    background: #555;
}

    .aside .aside-dialog .aside-footer {
        border: 0px;
    }


    .aside .aside-dialog .aside-header {
        background: #111;
        color: #fff;
        border: 1px solid #333;
    }

.modal-header .nomeElemento, .parametrizacao .nav-tabs .nomeRecorrencia {
    display: inline;
    border: 0px;
}

.modal-header .nomeElemento {
    margin: 6px 10px;
    vertical-align: top;
    width: 200px;
    color: #aaa;
}

.parametrizacao .nav-tabs .nomeRecorrencia {
    vertical-align: top;
    width: 100%;
    font-size: 14px;
    margin: 0px;
    padding: 3px;
    width: 100px;
    text-align: center;
}

.modal-header h1 {
    display: inline;
}


.filterField, .filterOperator {
    width: 100%;
    display: inline;
    border: 1px solid #eee !important;
}

input[type="text"].filterValue {
    width: 100%;
    display: inline;
    border: 1px solid #eee !important;
}

#filtro {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    height: auto;
}

    #filtro .form-group {
        height: 35px;
        clear: both;
    }

    #filtro .filtroStatus {
        height: 30px;
        margin-top: 10px;
    }

    #filtro div {
        margin-bottom: 2px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #filtro .control-label {
        font-weight: normal;
        font-size: 13px;
        padding-right: 0px;
        padding-top: 3px;
    }

    #filtro .dropdown .btn {
        font-size: 13px;
    }

    #filtro .glyphicon {
        font-size: 16px;
        margin: 3px;
    }

.ui-select-choices-row-inner {
    height: 30px;
}


li > .ui-select-choices-row:nth-child(odd) {
    background-color: #eee;
}

.ui-select-choices-row-inner .ui-select-highlight {
    margin-top: 0px;
}


.select2-container .select2-choice {
    background-image: none !important;
    border-radius: 0px !important;
    border: 0px !important;
    font-size: .8em;
    height: 30px !important;
    padding: .3em .8em !important;
}

#nomenclatura .valorNaoEncontrado .select2-container .select2-choice {
    background: red !important;
    color: #fff !important;
}
