<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Usuários do <b>Sistema</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table width="500px" ng-if="tipo==5">
                <tr>
                    <td width="20px"></td>
                    <td width="120px"><b>(DBA) Empresa</b></td>
                    <td width="20px">
                    </td>
                    <td width="220px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"> </tr>
            </table>
            <table class="widget" style="color: white">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td width='20px'></td>
                    <td width='120px'><b>Nome</b></td>
                    <td width='200px'>
                        <input type="text" class="form-control input-transparent"
                               ng-model="campos.nome">
                    </td>
                    <td width='20px'></td>
                    <td width='90px' align="right">
                        <button class="btn btn-primary" ng-click="search()">Pesquisar</button>                        
                    </td>
                    <td width='90px' align="right">                        
                        <button class="btn btn-success" ng-click="abreNovo()">Novo...</button>
                    </td>
                    <td width='20px'></td>
                </tr>
                <tr height="20px"></tr>
            </table>
            <div style="overflow-x:scroll;overflow:auto;width:100%">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Nome</th>
                                            <th>Situação</th>
                                        </tr>
                                    </thead>
                                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                        <td>{{ mdl.empresa }}</td>
                                        <td>{{ mdl.nome }}</td>
                                        <td>{{ mdl.sit }}</td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />

            <div class="modal-backdrop"
                 ng-if="modal == true"
                 style="background: rgba(55, 55, 55, 0.5 );">
                <div class="modal-dialog" style="width:500px">
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="modal-content" style="color:black">                        
                        <h3>Criar novo usuário</h3>
                        <table class="widgetForm" style="color:black">
                            <tr height="12px"> </tr>
                            <tr height="43px">
                                <td width="20px"></td>
                                <td width="130px">
                                    <b>Login</b>
                                </td>
                                <td width="20px"></td>
                                <td width="320px">
                                    <input type="text" class="form-control input-transparent" maxlength="200" ng-model="novoUsuario.nome">
                                </td>
                                <td width="20px"></td>
                            </tr>
                            <tr height="43px">
                                <td width="20px"></td>
                                <td width="130px">
                                    <b>Senha Inicial</b>
                                </td>
                                <td width="20px"></td>
                                <td width="320px">
                                    <input type="text" class="form-control input-transparent" maxlength="200" ng-model="novoUsuario.senha">
                                </td>
                                <td width="20px"></td>
                            </tr>
                            <tr height="43px">
                                <td></td>
                                <td>
                                    <b>Empresa</b>
                                </td>
                                <td></td>
                                <td>
                                    <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="novoUsuario.idEmpresa" />
                                </td>
                                <td></td>
                            </tr>
                            <tr height="22px"> </tr>
                        </table>
                        <br />
                        <br />
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-default" ng-click="fecharModal()">Cancelar</button>
                                </td>
                                <td width="20px"></td>
                                <td>
                                    <button class="btn btn-info" ng-disabled="novoUsuario.nome.length < 3" ng-click="criarNovoUsuario()">Confirmar</button>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>
                </div>
            </div>


        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
</div>
