<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Auditoria do <b>Sistema</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table width="500px" ng-if="tipo==5">
                <tr>
                    <td width="20px"></td>
                    <td width="120px"><b>(DBA) Empresa</b></td>
                    <td width="20px">
                        
                    </td>
                    <td width="220px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"> </tr>
            </table>
            <table class="widget" style="color: white">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="150px">
                        <b>Operação</b>
                    </td>
                    <td width="120px">
                        <input type="text" focus="true"
                               class="form-control input-transparent"
                               ng-model="campos.oper" />
                    </td>
                    <td width="50px"></td>
                    <td width="120px">
                        <b>Conteúdo</b>
                    </td>
                    <td width="260px">
                        <input type="text" focus="true"
                               class="form-control input-transparent"
                               ng-model="campos.cont" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px" align="right">
                        <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                    </td>
                    <td width="20px"></td>
                </tr>
                <tr height="20px">
                </tr>
            </table>
            <div style="overflow-x:scroll;overflow:auto;width:100%">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Empresa</th>
                                            <th>Responsável</th>
                                            <th>Operação</th>                                            
                                            <th>Conteúdo</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="mdl in list">
                                        <td>{{ mdl.data }}</td>
                                        <td>{{ mdl.emp }}</td>
                                        <td>{{ mdl.resp }}</td>
                                        <td>{{ mdl.oper }}</td>
                                        <td>{{ mdl.log }}</td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
</div>

<div class="modal-backdrop"
     ng-if="modal == true"
     style="background: rgba(55, 55, 55, 0.5 );">
    <div class="modal-dialog" style="width:500px">
        <br />
        <br />
        <br />
        <br />
        <div class="modal-content" style="color:black">
            <table>
                <tr>
                    <td width="350px">
                        <h3>Alterar limites do cartão</h3>
                    </td>
                    <td width="20px"></td>
                    <td style="padding-top:12px">
                        <button class="btn btn-info" ng-click="editar()">Editar cartão</button>
                    </td>
                </tr>
                <tr height="12px"></tr>
            </table>     
            <table class="widgetForm" style="color:black">
                <tr height="12px"> </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="130px">
                        <b>Matrícula</b>
                    </td>
                    <td width="20px"></td>
                    <td width="320px">
                        {{cartaoSelecionado.cartaoTitVia}}
                    </td>
                    <td width="20px"></td>
                </tr>
                <tr height="43px">
                    <td></td>
                    <td>
                        <b>Associado</b>
                    </td>
                    <td></td>
                    <td>
                        <b>{{cartaoSelecionado.associado}}</b>
                    </td>
                    <td></td>                    
                </tr>
                <tr height="43px">
                    <td></td>
                    <td> <b>Limite Mensal</b></td>
                    <td> <button class="btn btn-xs btn-danger" ng-show="limMes_fail">!</button></td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent"
                               maxlength="12"
                               onKeyUp="money(this,Valor);"
                               ng-model="cartaoSelecionado.limM" />
                    </td>
                    <td></td>                    
                </tr>
                <tr height="43px">
                    <td></td>
                    <td> <b>Limite Total</b></td>
                    <td> <button class="btn btn-xs btn-danger" ng-show="limTot_fail">!</button></td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent"
                               maxlength="12"
                               onKeyUp="money(this,Valor);"
                               ng-model="cartaoSelecionado.limT" />
                    </td>
                    <td></td>                    
                </tr>
                <tr height="22px"> </tr>
            </table>
            <br />
            <br />
            <table>
                <tr>
                    <td>
                        <button class="btn btn-default" ng-click="fecharModal()">Cancelar</button>
                    </td>
                    <td width="20px"></td>
                    <td>
                        <button class="btn btn-info" ng-click="confirmar()">Alterar limites</button>
                    </td>
                </tr>                
            </table>            
            <br />
        </div>
    </div>
</div>
