<div class="webFormPostion" style="width:90%">
    <section class="widgetForm" style="width:100%">
        <legend class="legendTop" style="width:100%">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Novo <b>lote para à gráfica</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebFormListing" style="padding-left:35px;width:{{windowWidth}}px">
            
            <table width="95%">
                <tr>
                    <td valign="top">
                        <div ng-show="list.length == 0">
                            <br />
                            <br />
                            <div class="btn btn-info btn-lg">Nenhum cartão requerido.</div>
                            <br />
                            <br />
                        </div>
                        <div ng-show="list.length > 0">
                            <h4>Lista de empresas com cartões requeridos</h4>
                            <br />
                            <table class="table table-hover" style="width:600px">
                                <thead>
                                    <tr>
                                        <th width="30px"></th>
                                        <th width="320px">Empresa</th>
                                        <th width="120px">Cartões</th>
                                    </tr>
                                </thead>
                                <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                    <td><input type="checkbox" ng-checked="mdl.selecionado" ng-click="ativar(mdl)" /></td>
                                    <td>{{ mdl.empresa }}</td>
                                    <td>{{ mdl.qtdCartoes }}</td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <br />
                        <table>
                            <tr>
                                <td><button class="btn btn-default" ng-click="cancelar()">Cancelar</button></td>
                                <td width="34px"></td>
                                <td ng-show="list.length > 0"><button class="btn btn-primary" ng-click="criarLote()">Criar lote</button></td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>