<div class="webFormPostion">
	<section class="widgetForm" style="width:895px; height:100%">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>
						System \ Profile <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
						<button class="btn btn-default pull-right" ng-show="viewModel.id > 0" ng-click="remove()">Remove</button>
					</td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
				<tab heading="Profile">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table>
							<thead>
								<tr>
									<th width="20px"></th>
									<th width="120px"></th>
									<th width="20px"></th>
									<th width="240px"></th>
								</tr>
							</thead>
							<tr height="12px"></tr>
							<tr height="40px" ng-show="viewModel.id > 0">
								<td></td>
								<td>Id</td>
								<td></td>
								<td>
									<b>{{viewModel.id}}</b>
								</td>
							</tr>
							<tr height="40px">
								<td></td>
								<td>Profile name</td>
								<td>
									<button class="btn btn-xs btn-danger" ng-show="stName_fail">!</button>
								</td>
								<td>
									<input type="text" class="form-control input-transparent" maxlength="150"
										   ng-disabled="!permModel.edicao" ng-model="viewModel.stName">
								</td>
							</tr>

							<tr height="20px"></tr>
							
						</table>
					</div>
				</tab>

				<tab heading="Users" disabled="true" ng-if="viewModel.id == undefined"></tab>
				<tab heading="Users [{{viewModel.users.length}}]" ng-if="viewModel.id != undefined">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table width="100%">
							<tr height="12px"></tr>
							<tr>
								<td width="20px"></td>
								<td width="400px">
									<legend style="color:white">Users with this profile</legend>
									<br />
									<table>
										<tr>
											<td>
												<table class="table table-hover" ng-if="viewModel.users.length > 0">
													<thead>
														<tr>
															<th width="100px">Id</th>
															<th width="250px">Login</th>
														</tr>
													</thead>
													<tr ng-click="showUser(mdl)" data-ng-repeat="mdl in viewModel.users">
														<td>{{ mdl.id }}</td>
														<td>{{ mdl.stLogin }}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
				</tab>

				<tab heading="Permissions" disabled="true" ng-if="viewModel.id == undefined"></tab>
				<tab heading="Permissions" ng-if="viewModel.id != undefined">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table width="100%">
							<tr height="12px"></tr>
							<tr>
								<td width="20px"></td>
								<td width="400px">
									<legend style="color:white">Permissions catalog</legend>
									<br />
									<table class="table table-hover">
										<thead>
											<tr>
												<th width="250px"><b>System</b></th>
												<th width="70px">Listing</th>
												<th width="70px">View</th>
												<th width="70px">Edit</th>
												<th width="70px">Create</th>
												<th width="70px">Remove</th>
											</tr>
										</thead>
										<tr>
											<td>System setup</td>
											<td></td>
											<td><input name="tg1002" type="checkbox" ng-model="viewModel.tg1002" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1003" type="checkbox" ng-model="viewModel.tg1003" ng-disabled="!permModel.edicao"></td>
											<td></td>
											<td></td>
										</tr>
										<tr>
											<td>Users profiles</td>
											<td><input name="tg1011" type="checkbox" ng-model="viewModel.tg1011" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1012" type="checkbox" ng-model="viewModel.tg1012" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1013" type="checkbox" ng-model="viewModel.tg1013" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1014" type="checkbox" ng-model="viewModel.tg1014" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1015" type="checkbox" ng-model="viewModel.tg1015" ng-disabled="!permModel.edicao"></td>
										</tr>
										<tr>
											<td>Users maintenance</td>
											<td><input name="tg1021" type="checkbox" ng-model="viewModel.tg1021" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1022" type="checkbox" ng-model="viewModel.tg1022" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1023" type="checkbox" ng-model="viewModel.tg1023" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1024" type="checkbox" ng-model="viewModel.tg1024" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1025" type="checkbox" ng-model="viewModel.tg1025" ng-disabled="!permModel.edicao"></td>
										</tr>
										<tr>
											<td>Projects maintenance</td>
											<td><input name="tg1031" type="checkbox" ng-model="viewModel.tg1031" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1032" type="checkbox" ng-model="viewModel.tg1032" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1033" type="checkbox" ng-model="viewModel.tg1033" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1034" type="checkbox" ng-model="viewModel.tg1034" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1035" type="checkbox" ng-model="viewModel.tg1035" ng-disabled="!permModel.edicao"></td>
										</tr>
										<tr>
											<td>Sprints maintenance</td>
											<td><input name="tg1041" type="checkbox" ng-model="viewModel.tg1041" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1042" type="checkbox" ng-model="viewModel.tg1042" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1043" type="checkbox" ng-model="viewModel.tg1043" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1044" type="checkbox" ng-model="viewModel.tg1044" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1045" type="checkbox" ng-model="viewModel.tg1045" ng-disabled="!permModel.edicao"></td>
										</tr>
										<tr>
											<td>Task type maintenance</td>
											<td><input name="tg1051" type="checkbox" ng-model="viewModel.tg1051" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1052" type="checkbox" ng-model="viewModel.tg1052" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1053" type="checkbox" ng-model="viewModel.tg1053" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1054" type="checkbox" ng-model="viewModel.tg1054" ng-disabled="!permModel.edicao"></td>
											<td><input name="tg1055" type="checkbox" ng-model="viewModel.tg1055" ng-disabled="!permModel.edicao"></td>
										</tr>
									</table>
								</td>
								<td width="20px"></td>
							</tr>
						</table>
					</div>
				</tab>

			</tabset>
			<br />
			<br />
			<table>
				<tr>
					<td><button class="btn btn-default" ng-click="list()">Cancel</button> </td>
					<td width="34px"></td>
					<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
				</tr>
			</table>
			<br />
			<br />
		</div>
	</section>
</div>
