<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>Listagem <b>Sprints </b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
					<td width="80px"></td>
					<td><input type="submit" class="btn btn-success pull-right" value="Novo" ng-click="new()"></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<table width="100%">
				<tr>
					<td width="15px"></td>
					<td valign="top">
						<ng-filtro tipo="sprint" campos="campos" template-avancado="app/configuration/sprint/_filterSprint.html" 
								   funcao-pesquisar="search"></ng-filtro>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td valign="top">
						<div ng-show="list.length == 0">
							<br />
							<br />
							<div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
							<br />
							<br />
						</div>
						<div ng-show="list.length > 0">
							<br />
							<ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
							<br />
							<table class="table table-hover">
								<thead>
									<tr>
										<th width="120px">Situação</th>
										<th width="200px">Sprint</th>
										<th width="90px">Versão</th>
										<th width="200px">Fase</th>
										<th width="200px">Projeto</th>
									</tr>
								</thead>
								<tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
									<td>{{ mdl.bComplete ? 'Complete' : 'Active' }}</td>
									<td>{{ mdl.stName }}</td>
									<td>{{ mdl.versions.length }}</td>
									<td>{{ mdl.sfkPhase }}</td>
									<td>{{ mdl.sfkProject }}</td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>