<div class="form-group" style="color:white;">
	<table>
		<tr height="12px"> </tr>
		<tr height="36px">
			<td width="20px"></td>
			<td width="120px"><b>Tipo de tarefa</b></td>
			<td width="180px">
				<input type="text" focus="true" class="form-control input-transparent" ng-model="filtro.campos.busca" />
			</td>
			<td width="60px"></td>
			<td width="120px"><b>Projeto</b></td>
			<td width="180px">
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.project" data-placeholder="(Selecione)" ng-model="filtro.campos.fkProject" />
			</td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Gerenciado</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.managed" /></td>
						<td> Yes</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.managed" /></td>
						<td> No</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="" ng-model="filtro.campos.managed" /></td>
						<td> Both</td>
						<td width="20px"></td>
					</tr>
				</table>
			</td>
			<td></td>
			<td><b>Condensado</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.condensed" /></td>
						<td> Yes</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.condensed" /></td>
						<td> No</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="" ng-model="filtro.campos.condensed" /></td>
						<td> Both</td>
						<td width="20px"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>KPA</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.kpa" /></td>
						<td> Yes</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.kpa" /></td>
						<td> No</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="" ng-model="filtro.campos.kpa" /></td>
						<td> Both</td>
						<td width="20px"></td>
					</tr>
				</table>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
