<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>Listagem de <b>Tipos de tarefa</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
					<td width="80px"></td>
					<td><input type="submit" class="btn btn-success pull-right" value="Novo" ng-click="new()"></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<table width="100%">
				<tr>
					<td valign="top">
                        <table class="widget" style="color:white">
                            <tr height="22px"> </tr>
                            <tr height="36px">
                                <td width="20px"></td>
                                <td width="120px"><b>Tipo de tarefa</b></td>
                                <td width="180px">
                                    <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.busca" />
                                </td>
                                <td width="60px"></td>
                                <td width="120px"><b>Projeto</b></td>
                                <td width="180px">
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.project" data-placeholder="(Selecione)" ng-model="campos.fkProject" />
                                </td>
                                <td width="60px"></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Gerenciado</b></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.managed" /></td>
                                            <td> Sim</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.managed" /></td>
                                            <td> Não</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="" ng-model="campos.managed" /></td>
                                            <td> Ambos</td>
                                            <td width="20px"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                                <td><b>Condensado</b></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.condensed" /></td>
                                            <td> Sim</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.condensed" /></td>
                                            <td> Não</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="" ng-model="campos.condensed" /></td>
                                            <td> Todos</td>
                                            <td width="20px"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                            </tr>
                            <tr height="12px"> </tr>
                            <tr height="42px">
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                                </td>
                            </tr>
                            <tr height="12px"> </tr>
                        </table>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td valign="top">
						<div ng-show="list.length == 0">
							<div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
							<br />
							<br />
						</div>
						<div ng-show="list.length > 0">
							<ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
							<br />
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Projeto</th>
										<th>Tipo</th>
										<th>Gerenciado</th>
										<th>Condensado</th>
										<th>Categorias</th>
									</tr>
								</thead>
								<tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
									<td>{{ mdl.project.stName }}</td>
									<td>{{ mdl.stName }}</td>
									<td>{{ mdl.bManaged ? 'Sim' : 'Não' }}</td>
									<td>{{ mdl.bCondensedView ? 'Sim' : 'Não' }}</td>
									<td><div data-ng-repeat="m in mdl.categories">{{ m.stName }}</div></td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>
