
<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>DBA \ Listagem de <b>Lotes</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                    <td><input type="submit" class="btn btn-success pull-right" value="Novo" ng-click="new()"></td>
                    <td width="20px"></td>
                </tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white" width="590px">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="110px"><b>Matrícula</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.matricula" />
                    </td>
                    <td width="25px"></td>
                    <td width="60px">
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>                
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="110px"><b>Empresa</b></td>
                    <td width="220px">
                        <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="selectEmpresa" ng-model="campos.idEmpresa" />
                    </td>
                </tr>

                <tr height="36px">
                    <td width="25px"></td>
                    <td width="110px"><b>Todos?</b></td>
                    <td width="220px">
                        Sim <input type="checkbox" ng-model="campos.todos" />
                    </td>
                </tr>

                <tr height="22px"> </tr>
            </table>
            <div ng-show="list.length == 0">
                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                <br />
                <br />
            </div>
            <div ng-show="list.length > 0">
                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                <br />
                <table class="table table-hover" style="width:1050px">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Situação</th>
                            <th>Cartões</th>
                            <th>Empresas</th>
                            <th>Dt. Abertura</th>
                            <th>Dt. Gráfica</th>
                            <th>Dt. Ativação</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="mdl in list">
                        <td>{{ mdl.i_unique }}</td>
                        <td>{{ mdl.situacao }}</td>
                        <td>{{ mdl.cartoes }}</td>
                        <td>{{ mdl.empresas }}</td>
                        <td>{{ mdl.data }}</td>
                        <td>{{ mdl.dataGrafica }}</td>
                        <td>{{ mdl.dataAtiv }}</td>
                        <td><button type="submit" class="btn btn-primary" ng-click="reenvio(mdl)">Email</button></td>
                        <td><button type="submit" class="btn btn-primary" ng-click="show(mdl)">Cartões</button></td>
                        <td><button type="submit" class="btn btn-primary" ng-click="arquivo(mdl)">Arquivo gráfica</button></td>
                        <td><button type="submit" class="btn btn-primary" ng-click="ativar(mdl)">Ativação</button></td>
                        <td><button type="submit" class="btn btn-primary" ng-click="remover(mdl)">Remover</button></td>
                    </tr>
                </table>
                <br />
                <br />

                <div class="modal-backdrop"
                     ng-if="modalCartoes == true"
                     style="background: rgba(55, 55, 55, 0.5 );">
                    <div class="modal-dialog" style="width:900px;height:500px">
                        <br />
                        <br />
                        <br />
                        <div class="modal-content" style="color:black">
                            <legend style="color:black">
                                Detalhes do Lote
                                <button class="btn btn-transparent btn-lg pull-right" style="margin-top:-10px" ng-click="closeModalCartoes()"> X </button> &nbsp;
                            </legend>
                            <br />
                            <div style="height:450px;overflow-y:scroll;">
                                <table class="table table-hover" style="width:850px">
                                    <thead>
                                        <tr>
                                            <th>Nome Cartão</th>
                                            <th>CPF</th>
                                            <th>Dt. Pedido</th>
                                            <th>Expedição</th>
                                            <th>Matrícula</th>
                                            <th>Titularidade</th>
                                            <th>Via</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="mdl in listDet">
                                        <td style="color:black">{{ mdl.nome }}</td>
                                        <td style="color:black">{{ mdl.cpf }}</td>
                                        <td style="color:black">{{ mdl.sdt_pedido }}</td>
                                        <td style="color:black">{{ mdl.tg_emitido }}</td>
                                        <td style="color:black">{{ mdl.matricula }}</td>
                                        <td style="color:black">{{ mdl.titularidade }}</td>
                                        <td style="color:black">{{ mdl.via }}</td>
                                    </tr>
                                </table>
                                <br />
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div class="modal-backdrop"
                     ng-if="modalRemocao == true"
                     style="background: rgba(55, 55, 55, 0.5 );">
                    <div class="modal-dialog" style="width:700px;height:500px">
                        <div class="modal-content" style="color:black">
                            <legend style="color:black">
                                Remover Lote
                                <button class="btn btn-transparent btn-lg pull-right" style="margin-top:-10px" ng-click="closeModalRemover()"> X </button> &nbsp;
                            </legend>
                            <br />
                            Deseja remover o lote {{loteAtual.i_unique}}?
                            <br />
                            <br />
                            <button class="btn btn-default" ng-click="closeModalRemover()">Não</button> &nbsp;
                            <button class="btn btn-danger" ng-click="removerLote()">Sim</button>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <br />
            </div>
            <br />
        </div>
    </section>
</div>
