<div class="webFormPosition">
    <section class="widgetForm" style="width:950px; height:100%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>
                        <span ng-show="viewModel.id == undefined">Novo </span> DBA \ Lotes <i class="fa fa-spinner fa-spin" ng-show="loading"></i>                        
                    </td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
                <tab heading="Dados">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table>
                            <thead>
                                <tr>
                                    <th width="20px"></th>
                                    <th width="150px"></th>
                                    <th width="20px"></th>
                                    <th width="380px"></th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tr height="22px"></tr>
                            <tr height="40px" ng-if="viewModel.i_unique != undefined">
                                <td></td>
                                <td>
                                    <b>Código</b>
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    <b>{{viewModel.i_unique}}</b>
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>
                                    <b>Nome Fantasia</b>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-danger" ng-show="st_fantasia_fail">!</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-transparent" maxlength="200" ng-model="viewModel.st_fantasia">
                                </td>
                            </tr>
                            
                            <tr height="46px"></tr>
                        </table>
                    </div>
                </tab>
                <tab heading="Detalhes">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table>
                            <thead>
                                <tr>
                                    <th width="20px"></th>
                                    <th width="150px"></th>
                                    <th width="20px"></th>
                                    <th width="380px"></th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tr height="22px"></tr>
                            
                            <tr height="40px">
                                <td></td>
                                <td>
                                    <b>OBS</b>
                                </td>
                                <td></td>
                                <td>
                                    
                                </td>
                                <td></td>
                            </tr>
                            <tr height="46px"></tr>
                        </table>
                    </div>
                </tab>
            </tabset>
            <br />
            <br />
            <table>
                <tr>
                    <td><button class="btn btn-default" ng-click="list()">Cancelar</button></td>
                    <td width="34px"></td>
                    <td><button class="btn btn-primary" ng-click="save()">Salvar</button></td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </section>
</div>
