<!DOCTYPE html>
<html>
<head>
    <title>Adesão Comercial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script type="text/javascript">
    </script>
</head>
<body class="background-white">
    <div ng-if="MyWidth > 600">
        <div align="center">
            <div style="padding-top:20px;padding-left:60px">
                <br />
                <img src='../../images/logo.png' height="140px" /><br />
                <br />
                <div align="center" style="width:640px;height:520px;background-color:#e0e0e0;">
                    <br />
                    <h3>Adesão Comercial - Convey BENEFÍCIOS</h3>
                    <br />
                    <div disabled>
                        <input type="radio" name="step" id="step" value="1" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="2" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="3" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="4" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="5" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="6" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="7" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="8" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="9" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="10" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="11" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;                        
                    </div>
                    <div style="height:300px">
                        <br />                        
                        <div ng-if="stepAtual == '1'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Email para contato</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_email" title="Informe um email corretamente">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="email"
                                               maxlength="150"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"                                               
                                               ng-model="onboardingData.email">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '2'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe uma senha desejada</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_senha" title="Informe uma senha corretamente">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="senha"
                                               type="password"
                                               maxlength="8"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"                                               
                                               ng-model="onboardingData.senha">
                                    </td>
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey"><br />Confirme sua senha</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_conf_senha" title="Confirmação de senha inválida">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="login-senha"
                                               type="password"
                                               maxlength="8"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"                                               
                                               ng-model="onboardingData.senhaConf">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '3'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe seu CNPJ</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_cnpj" title="Informe um CNPJ corretamente">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="cnpj"
                                               type="tel" pattern="[0-9]*" inputmode="numeric"
                                               class="form-control input-transparent"
                                               maxlength="18"                                               
                                               ui-mask="99.999.999/9999-99" ui-mask-placeholder ui-mask-placeholder-char="_"
                                               ng-model="onboardingData.cnpj">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '4'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe sua razão social</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_razSoc" title="Informe corretamente sua razão social">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="razSoc"
                                               maxlength="200"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"                                               
                                               ng-model="onboardingData.razSoc">
                                    </td>
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey"><br />Informe seu nome fantasia</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_fantasia" title="Informe corretamente seu nome fantasia">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="fantasia"
                                               maxlength="200"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"                                               
                                               ng-model="onboardingData.fantasia">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '5'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe seu CEP cobrança</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_cep" title="Informe seu CEP para cobrança">!</button>
                                    </td>
                                    <td width="150px" valign="top">
                                        <input id="cep"
                                               type="text"
                                               class="form-control input-transparent"
                                               maxlength="9"
                                               ui-mask="99999-999"
                                               ui-mask-placeholder ui-mask-placeholder-char="_"
                                               ng-model="onboardingData.cep">
                                    </td>
                                    <td width="20px"></td>
                                    <td width="90px" valign="top">
                                        <button id="btnCep" style="width:120px; font-size:11px" class="btn btn-info" ng-click="validaCep()">
                                            Localizar
                                        </button>
                                    </td>
                                </tr>
                            </table>                            
                            <div align="left" style="padding-left:140px">
                                <br />
                                <p style="color:blue">{{onboardingData.cepStr}}</p>
                                <br />
                                <h4 style="color:grey"><br />Informe seu numero e complemento</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_numero" title="Informe corretamente seu numero">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="fantasia"
                                               maxlength="200"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"
                                               ng-model="onboardingData.numero">
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <br />
                        </div>
                        <div ng-if="stepAtual == '6'">
                            <div align="left" style="padding-left:140px">
                                <input type="checkbox" ng-click="mesmoCep()" ng-model="onboardingData.mesmoCep" /> Mesmo CEP cobrança
                                <h4 style="color:grey">Informe seu CEP de instalação</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_cepInst" title="Informe seu CEP de instalação">!</button>
                                    </td>
                                    <td width="150px" valign="top">
                                        <input id="cepInst"
                                               type="text"
                                               class="form-control input-transparent"
                                               maxlength="9"
                                               ui-mask="99999-999"
                                               ui-mask-placeholder ui-mask-placeholder-char="_"
                                               ng-model="onboardingData.cepInst"> <br />

                                    </td>
                                    <td width="20px"></td>
                                    <td width="90px" valign="top">
                                        <button id="btnCep" style="width:120px; font-size:11px" class="btn btn-info" ng-click="validaCepInst()">
                                            Localizar
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <br />
                                <p style="color:blue">{{onboardingData.cepInstStr}}</p>
                                <br />
                                <h4 style="color:grey"><br />Informe seu numero e complemento</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_numeroInst" title="Informe corretamente seu numero">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="fantasia"
                                               maxlength="200"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"
                                               ng-model="onboardingData.numeroInst">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '7'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe um celular</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_tel_cel" title="Informe corretamente seu celular">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="telCel"
                                               type="tel" pattern="[0-9]*" inputmode="numeric"
                                               class="form-control input-transparent"
                                               maxlength="13"                                               
                                               onKeyUp="money(this,ValorNum);"                                               
                                               ng-model="onboardingData.telCel">
                                    </td>
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey"><br />Informe um telefone fixo</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px"></td>
                                    <td width="380px">
                                        <input id="telFixo"
                                               type="tel" pattern="[0-9]*" inputmode="numeric"
                                               class="form-control input-transparent"
                                               maxlength="13"
                                               onKeyUp="money(this,ValorNum);"                                               
                                               ng-model="onboardingData.telFixo">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '8'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Informe o nome do responsável</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_resp" title="Informe corretamente um responsável">!</button>
                                    </td>
                                    <td width="380px">
                                        <input id="resp"
                                               maxlength="50"
                                               style="font-size: 12px; border: 1px solid #ccc;"
                                               class="form-control"
                                               ng-model="onboardingData.resp">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '9'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Possui SITEF?</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_sitef" title="Informe corretamente sitef">!</button>
                                    </td>
                                    <td width="380px">
                                        <input type="radio" name="stepSitef" id="stepSitef" value="true" ng-model="onboardingData.sitef" style="cursor:default" /> Sim &nbsp;
                                        <input type="radio" name="stepSitef" id="stepSitef" value="false" ng-model="onboardingData.sitef" style="cursor:default" /> Não&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '10'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Assinado com instituição?</h4>
                            </div>
                            <table width="400px">
                                <tr height="48px">
                                    <td width="20px">
                                        <button class="btn btn-xs btn-danger" ng-show="fail_assInst" title="Informe corretamente instituição">!</button>
                                    </td>
                                    <td width="380px">
                                        <input type="radio" name="stepassInst" id="stepassInst" value="true" ng-model="onboardingData.assInst" style="cursor:default" /> Sim &nbsp;
                                        <input type="radio" name="stepassInst" id="stepassInst" value="false" ng-model="onboardingData.assInst" style="cursor:default" /> Não &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="stepAtual == '11'">
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey">Dados bancários - Banco</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                    </td>
                                    <td width="380px">
                                        <input type="hidden"
                                               style="width:100%;"
                                               data-placeholder="(Selecione)"
                                               ui-select2="selectBanco"
                                               ng-model="onboardingData.fk_banco" />
                                    </td>
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey"><br />Dados bancários - Agência</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                    </td>
                                    <td width="380px">
                                        <input id="resp"
                                               type="tel" pattern="[0-9]*" inputmode="numeric"
                                               maxlength="9"
                                               style="font-size:xx-small;border: 1px solid #ccc;"
                                               class="form-control"
                                               onKeyUp="money(this,ValorNum);"
                                               ng-model="onboardingData.ag">
                                </tr>
                            </table>
                            <div align="left" style="padding-left:140px">
                                <h4 style="color:grey"><br />Dados bancários - Conta</h4>
                            </div>
                            <table width="400px">
                                <tr height="32px">
                                    <td width="20px">
                                    </td>
                                    <td width="380px">
                                        <input id="resp"
                                               maxlength="12"
                                               type="tel" pattern="[0-9]*" inputmode="numeric"
                                               style="font-size:xx-small;border: 1px solid #ccc;"
                                               class="form-control"
                                               onKeyUp="money(this,ValorNum);"
                                               ng-model="onboardingData.conta">
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-if="stepAtual == 1">
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-success" ng-click="proximo()">
                            Próximo
                        </button>
                    </div>
                    <div ng-if="stepAtual > 1">
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-primary" ng-click="anterior()">
                            Anterior
                        </button>
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-success" ng-click="proximo()">
                            Próximo
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div ng-if="MyWidth < 600">
        <div align="center" style="width:100%;">
            <div style="padding-top:20px;">
                <img src='../../images/logo.png' height="80px" /><br />
                <div align="center"
                     style="padding-left:10px;width:320px;height:450px;background-color:#e0e0e0;">
                    <br />
                    <p style="font-size:xx-small">Adesão Comercial - Convey BENEFÍCIOS<br /><br /></p>
                    <div disabled>
                        <input type="radio" name="step" id="step" value="1" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="2" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="3" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="4" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="5" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="6" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="7" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="8" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="9" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="10" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                        <input type="radio" name="step" id="step" value="11" ng-model="stepAtual" disabled style="cursor:default" /> &nbsp;
                    </div>
                    <div style="min-height:280px">
                        <br />
                        <div ng-if="stepAtual == '1'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Email para contato</p>
                                <table width="300px">
                                    <tr height="36px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_email"
                                                    title="Informe um email corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="email"
                                                   maxlength="150"
                                                   style="font-size:xx-small;border:1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.email">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '2'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe sua senha desejada</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_senha"
                                                    title="Informe uma senha corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="senha"
                                                   maxlength="8"
                                                   type="password"
                                                   style="font-size:xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.senha">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                            <div align="left">
                                <p style="color:grey;padding-left:20px;"><br />Confirme sua senha</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_conf_senha"
                                                    title="Confirmação de senha inválida">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="login-senha"
                                                   type="password"
                                                   maxlength="8"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.senhaConf">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '3'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe seu CNPJ</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_cnpj"
                                                    title="Informe um CNPJ corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="cnpj"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   class="form-control input-transparent"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   maxlength="18" ui-mask="99.999.999/9999-99" ui-mask-placeholder ui-mask-placeholder-char="_"
                                                   ng-model="onboardingData.cnpj">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '4'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe sua razão social</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_razSoc"
                                                    title="Informe sua razão social">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="razSoc"
                                                   maxlength="150"
                                                   style="font-size:xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.razSoc">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>                            
                                <p style="color:grey;padding-left:20px;"><br />Informe seu nome fantasia</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_fantasia"
                                                    title="Informe seu nome fantasia">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="fantasia"
                                                   maxlength="150"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.fantasia">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '5'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe seu CEP cobrança</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_cep"
                                                    title="Informe um CEP corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="150px">
                                            <input id="cep"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   class="form-control input-transparent"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   maxlength="9" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_"
                                                   ng-model="onboardingData.cep">
                                        </td>
                                        <td width="20px"></td>
                                        <td>
                                            <button id="btnCep" class="btn btn-info" ng-click="validaCep()">
                                                Localizar
                                            </button>
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                                <br />
                                <p style="color:blue;padding-left:20px;">{{onboardingData.cepStr}}</p>
                                <p style="color:grey;padding-left:20px;">Informe número e complemento</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_numero"
                                                    title="Informe um CEP corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input maxlength="20"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.numero">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '6'">
                            <div align="left">
                                <div style="padding-left:20px">
                                    <input type="checkbox" ng-click="mesmoCep()" /> Mesmo CEP cobrança
                                </div>                                
                                <p style="color:grey;padding-left:20px;">Informe seu CEP de instalação</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_cepInst"
                                                    title="Informe um CEP corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="150px">
                                            <input id="cepInst"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   class="form-control input-transparent"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   maxlength="9" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_"
                                                   ng-model="onboardingData.cepInst">
                                        </td>
                                        <td width="20px"></td>
                                        <td>
                                            <button id="btnCep" class="btn btn-info" ng-click="validaCepInst()">
                                                Localizar
                                            </button>
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                                <br />
                                <p style="color:blue;padding-left:20px;">{{onboardingData.cepInstStr}}</p>
                                <p style="color:grey;padding-left:20px;">Informe numero / complemento</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_numeroInst"
                                                    title="Informe um CEP corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td>
                                            <input maxlength="20"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   ng-model="onboardingData.numeroInst">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '7'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe um celular</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_telCel"
                                                    title="Informe um CNPJ corretamente">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="telCel"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   class="form-control input-transparent"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   onKeyUp="money(this,ValorNum);"
                                                   ng-model="onboardingData.telCel">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                            <div align="left">
                                <p style="color:grey;padding-left:20px;"><br />Informe um telefone fixo</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                        </td>
                                        <td width="260px">
                                            <input id="telFixo"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   class="form-control input-transparent"
                                                   style="font-size: xx-small;border: 1px solid #ccc;"
                                                   onKeyUp="money(this,ValorNum);"
                                                   ng-model="onboardingData.telFixo">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '8'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Informe o responsável</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_resp"
                                                    title="Informe sua razão social">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input id="resp"
                                                   maxlength="50"
                                                   style="font-size:xx-small;border: 1px solid #ccc;"
                                                   class="form-control"                                                   
                                                   ng-model="onboardingData.resp">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '9'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Possui SITEF?</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_sitef"
                                                    title="Informe situação do sitef">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input type="radio" name="stepSitef" id="stepSitef" value="true" ng-model="onboardingData.sitef" style="cursor:default" /> Sim&nbsp;
                                            <input type="radio" name="stepSitef" id="stepSitef" value="false" ng-model="onboardingData.sitef" style="cursor:default" /> Não&nbsp;
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '10'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Assinado instituição?</p>
                                <table width="300px">
                                    <tr height="48px">
                                        <td width="20px">
                                            <button class="btn btn-xs btn-danger"
                                                    ng-show="fail_assInst"
                                                    title="Informe situação do sitef">
                                                !
                                            </button>
                                        </td>
                                        <td width="260px">
                                            <input type="radio" name="stepassInst" id="stepassInst" value="true" ng-model="onboardingData.assInst" style="cursor:default" /> Sim&nbsp;
                                            <input type="radio" name="stepassInst" id="stepassInst" value="false" ng-model="onboardingData.assInst" style="cursor:default" /> Não&nbsp;
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="stepAtual == '11'">
                            <div align="left">
                                <p style="color:grey;padding-left:20px;">Dados bancários - Banco</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                        </td>
                                        <td width="260px">
                                            <input type="hidden"
                                                   style="width:100%;"
                                                   data-placeholder="(Selecione)"
                                                   ui-select2="selectBanco"
                                                   ng-model="onboardingData.fk_banco" />
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                            <div align="left">
                                <p style="color:grey;padding-left:20px;"><br />Dados bancários - Agência</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                        </td>
                                        <td width="260px">
                                            <input id="resp"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   maxlength="9"
                                                   style="font-size:xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   onKeyUp="money(this,ValorNum);"
                                                   ng-model="onboardingData.ag">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                            <div align="left">
                                <p style="color:grey;padding-left:20px;"><br />Dados bancários - Conta</p>
                                <table width="300px">
                                    <tr height="32px">
                                        <td width="20px">
                                        </td>
                                        <td width="260px">
                                            <input id="resp"
                                                   type="tel" pattern="[0-9]*" inputmode="numeric"
                                                   maxlength="9"
                                                   style="font-size:xx-small;border: 1px solid #ccc;"
                                                   class="form-control"
                                                   onKeyUp="money(this,ValorNum);"
                                                   ng-model="onboardingData.conta">
                                        </td>
                                        <td width="20px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-if="stepAtual == 1">
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-success" ng-click="proximo()">
                            Próximo
                        </button>
                    </div>
                    <div ng-if="stepAtual > 1">
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-primary" ng-click="anterior()">
                            Anterior
                        </button>
                        <button id="btnProximo" style="width:120px; font-size:11px" class="btn btn-lg btn-success" ng-click="proximo()">
                            Próximo
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

</body>
</html>