<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">Suporte CIT</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header">
        <div class="container">
            <div class="header__menu"></div>
            <div class="header__user-info">
                <div class="user-info__photo">
                    
                </div>
                <div class="user-info__name">
                    <p>Joao da Silva</p>
                </div>
                <div class="user-info__logout">
                    <img src="@Href("~/images/icon-logout.png")" alt="">
                </div>
            </div>
        </div>
    </header>

    <section class="section">
        <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        </div>
    </section>

    @Scripts.Render("~/js/jquery")
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    @Scripts.Render("~/js/app")

</body>
</html>