<div class="webFormPostion">
	<section class="widgetForm">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td> System \ Users profile <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<form name="formEntidade" role="form" class="form-horizontal" ng-disabled="!permModel.edicao" xt-form novalidate>
				<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
					<tab heading="Profile">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<table>
								<thead>
									<tr>
										<th width="20px"></th>
										<th width="120px"></th>
										<th width="240px"></th>
									</tr>
								</thead>
								<tr height="12px"></tr>
								<tr height="40px" ng-show="viewModel.id > 0">
									<td></td>
									<td>Id</td>
									<td>
										<b>{{viewModel.id}}</b>
									</td>
								</tr>
								<tr height="40px">
									<td></td>
									<td>Profile name</td>
									<td>
										<input type="text" focus="true" name="nome" class="form-control input-transparent" ng-disabled="!permModel.edicao"
											   id="nome" placeholder="" ng-model="viewModel.stName" ng-maxlength="150" xt-validate required>
									</td>
								</tr>
							</table>
						</div>
					</tab>

					<tab heading="Users" disabled="true" ng-if="viewModel.id == undefined"></tab>
					<tab heading="Users [{{viewModel.users.length}}]" ng-if="viewModel.id != undefined">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<br />
							<table width="100%">
								<tr height="12px"></tr>
								<tr>
									<td width="20px"></td>
									<td width="400px">
										<legend style="color:white">Users with this profile</legend>
										<br />
										<table>
											<tr>
												<td>
													<table class="table table-hover" ng-if="viewModel.users.length > 0">
														<thead>
															<tr>
																<th width="100px">Id</th>
																<th width="250px">Login</th>
															</tr>
														</thead>
														<tr ng-click="showUser(mdl)" data-ng-repeat="mdl in viewModel.users">
															<td>{{ mdl.id }}</td>
															<td>{{ mdl.stLogin }}</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<td width="20px"></td>
								</tr>
							</table>
						</div>
					</tab>

					<tab heading="Permissions" disabled="true" ng-if="viewModel.id == undefined"></tab>
					<tab heading="Permissions" ng-if="viewModel.id != undefined">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<br />
							<table width="100%">
								<tr height="12px"></tr>
								<tr>
									<td width="20px"></td>
									<td width="400px">
										<legend style="color:white">Permissions catalog</legend>
										<br />
										<table class="table table-hover">
											<thead>
												<tr>
													<th width="250px"><b>System</b></th>
													<th width="70px">Listing</th>
													<th width="70px">View</th>
													<th width="70px">Edit</th>
													<th width="70px">Create</th>
													<th width="70px">Remove</th>
												</tr>
											</thead>
											<tr>
												<td>Users profiles</td>
												<td><input name="tg1011" type="checkbox" ng-model="viewModel.tg1011" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1012" type="checkbox" ng-model="viewModel.tg1012" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1013" type="checkbox" ng-model="viewModel.tg1013" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1014" type="checkbox" ng-model="viewModel.tg1014" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1015" type="checkbox" ng-model="viewModel.tg1015" ng-disabled="!permModel.edicao"></td>
											</tr>
											<tr>
												<td>Users maintenance</td>
												<td><input name="tg1021" type="checkbox" ng-model="viewModel.tg1021" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1022" type="checkbox" ng-model="viewModel.tg1022" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1023" type="checkbox" ng-model="viewModel.tg1023" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1024" type="checkbox" ng-model="viewModel.tg1024" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1025" type="checkbox" ng-model="viewModel.tg1025" ng-disabled="!permModel.edicao"></td>
											</tr>
										</table>
									</td>
									<td width="20px"></td>
								</tr>
							</table>
						</div>
					</tab>

				</tabset>
			</form>
		</div>
		<br />
		<br />
		<table>
			<tr>
				<td width="34px"></td>
				<td><button class="btn btn-default" ng-click="list()">Cancel</button> </td>
				<td width="34px"></td>
				<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
				<td width="635px"><button class="btn btn-default pull-right" ng-show="viewModel.id > 0" ng-click="remove()">Remove</button></td>
			</tr>
		</table>
		<br />
		<br />
	</section>
</div>
