<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Verificar cartão de <b>associado </b> </td>
					<td width="80px"></td>
					<td></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
            <table >
                <tr height="40px">                    
                    <td width="60px">
                        <b>Cartão</b>
                    </td>
                    <td width="10px"></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stEmpresa_fail">!</button>
                    </td>
                    <td width="90px">
                        <input type="text" numeric-only maxlength="6" class="form-control input-transparent" ng-model="viewModel.stEmpresa">
                    </td>                 
                    <td width="10px"></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stMatricula_fail">!</button>
                    </td>
                    <td width="90px">
                        <input type="text" numeric-only maxlength="6" class="form-control input-transparent" ng-model="viewModel.stMatricula">
                    </td>
                    <td width="10px"></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stAcesso_fail">!</button>
                    </td>
                    <td width="60px">
                        <input type="text" numeric-only maxlength="4" class="form-control input-transparent" ng-model="viewModel.stAcesso">
                    </td>                 
                    <td width="10px"></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stVencimento_fail">!</button>
                    </td>
                    <td width="60px">
                        <input type="text" numeric-only maxlength="4" class="form-control input-transparent" ng-model="viewModel.stVencimento">
                    </td>
                    <td width="40px"></td>
                    <td width="160px">
                        <button class="btn btn-primary" ng-click="conferir()">Consulta saldo</button>
                    </td>
                </tr>
                <tr height="24px"></tr>
            </table>

            <div class="btn btn-warning btn-lg" ng-if="viewModel.data.error != '' && viewModel.data.error != undefined">
                {{viewModel.data.error}}
            </div>

            <div ng-if="viewModel.data.error == undefined" style="width:500px">
                <div class="btn btn-warning btn-lg" ng-if="viewModel.data.bloqueado == true">
                    Atenção: cartão situação BLOQUEADO. Entre em contato com sua entidade.
                </div>
                <table class="table table-hover" ng-if="viewModel.data.bloqueado == false">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Nome associado</td>
                        <td>{{ viewModel.data.nome }}</td>
                    </tr>
                    <tr>
                        <td>Disponível mensal</td>
                        <td>{{ viewModel.data.dispMensal }}</td>
                    </tr>
                    <tr>
                        <td>Disponível total</td>
                        <td>{{ viewModel.data.dispTotal }}</td>
                    </tr>
                </table>

                <!--<table>
                    <tr height="20px"></tr>
                    <tr data-ng-repeat="mdl in viewModel.data.lstParcelas">
                        <td>
                            {{mdl}}
                        </td>
                    </tr>
                </table>-->

            </div>                        
        </div>
	</section>
</div>
