<div style="color:white;">
	<table>
		<tr height="36px">
			<td width="25px"></td>
			<td width="110px"><b>Título</b></td>
			<td width="220px">
				<input type="text" focus="true" class="form-control input-transparent" ng-model="filtro.campos.busca" />
			</td>
			<td width="60px"></td>
			<td width="110px"><b>Prioridade</b></td>
			<td width="220px">
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.priority" ng-model="filtro.campos.nuPriority" />
			</td>
			<td width="25px"></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Projeto</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.project" ng-model="filtro.campos.fkProject" />
			</td>
			<td></td>
			<td><b>Fase</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.phase" ng-model="filtro.campos.fkPhase" />
			</td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Sprint</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.sprint" ng-model="filtro.campos.fkSprint" />
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Responsável</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.user" ng-model="filtro.campos.fkUserAssigned" />
			</td>
			<td></td>
			<td><b>Aberto por</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.user" ng-model="filtro.campos.fkUserStart" />
			</td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Tipo de tarefa</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.tasktype" ng-model="filtro.campos.fkTaskType" />
			</td>
			<td></td>
			<td><b>Categoria</b></td>
			<td>
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.taskcategory" ng-model="filtro.campos.fkTaskCategory" />
			</td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>KPA</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.kpa" /></td>
						<td> Yes</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.kpa" /></td>
						<td> No</td>
					</tr>
				</table>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Expirou?</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.expired" /></td>
						<td> Não</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.expired" /></td>
						<td> Sim</td>
					</tr>
				</table>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr height="36px">
			<td></td>
			<td><b>Situação</b></td>
			<td>
				<table>
					<tr>
						<td width="20px"><input type="radio" value="false" ng-model="filtro.campos.complete" /></td>
						<td> Aberta</td>
						<td width="20px"></td>
						<td width="20px"><input type="radio" value="true" ng-model="filtro.campos.complete" /></td>
						<td> Fechada</td>
					</tr>
				</table>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
