<div class="webFormPostion" style="width:99%">
	<section class="widgetForm" style="width:100%">
		<legend class="legendTop" style="width:100%">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>Tarefas de usuários <b>Kanban</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm" style="width:98%">
			<table width="100%">
				<tr>
					<td valign="top">						
                        <table class="widget" style="color:white">
                            <tr height="22px"> </tr>
                            <tr height="36px">
                                <td width="25px"></td>
                                <td width="110px"><b>Título</b></td>
                                <td width="220px">
                                    <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.busca" />
                                </td>
                                <td width="60px"></td>
                                <td width="110px"><b>Prioridade</b></td>
                                <td width="220px">
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.priority" data-placeholder="(Selecione)" ng-model="campos.nuPriority" />
                                </td>
                                <td width="25px"></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Projeto</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.project" data-placeholder="(Selecione)" ng-model="campos.fkProject" />
                                </td>
                                <td></td>
                                <td><b>Fase</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.phase" data-placeholder="(Selecione)" ng-model="campos.fkPhase" />
                                </td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Sprint</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.sprint" data-placeholder="(Selecione)" ng-model="campos.fkSprint" />
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Responsável</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.user" data-placeholder="(Selecione)" ng-model="campos.fkUserAssigned" />
                                </td>
                                <td></td>
                                <td><b>Aberto por</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.user" data-placeholder="(Selecione)" ng-model="campos.fkUserStart" />
                                </td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Tipo de tarefa</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.tasktype" data-placeholder="(Selecione)" ng-model="campos.fkTaskType" />
                                </td>
                                <td></td>
                                <td><b>Categoria</b></td>
                                <td>
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.taskcategory" data-placeholder="(Selecione)" ng-model="campos.fkTaskCategory" />
                                </td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>KPA</b></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.kpa" /></td>
                                            <td> Yes</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.kpa" /></td>
                                            <td> No</td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Expirou?</b></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.expired" /></td>
                                            <td> Não</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.expired" /></td>
                                            <td> Sim</td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Situação</b></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.complete" /></td>
                                            <td> Aberta</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.complete" /></td>
                                            <td> Fechada</td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="12px"> </tr>
                            <tr height="42px">
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                                </td>
                            </tr>
                            <tr height="12px"> </tr>
                        </table>
					</td>
				</tr>
			</table>
			<br />
			<div ng-show="fail == true">
				<div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
				<br />
				<br />
			</div>
			<div class="panel-group" data-ng-repeat="proj in viewModel.projects" ng-show="fail == false">
				<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="task/kanban#collapseProj{{proj.project_id}}">
							Projeto > <b>{{proj.project}}</b>
						</a>
					</div>
					<div id="collapseProj{{proj.project_id}}" class="panel-collapse collapse" style="height: auto;">
						<div class="panel-body">
							<div class="panel-group" data-ng-repeat="sp in proj.sprints">
								<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
									<div class="panel-heading">
										<a class="accordion-toggle" data-toggle="collapse" href="task/kanban#collapseSprint{{sp.sprint_id}}">
											Sprint > <b>{{sp.sprint}}</b>
										</a>
									</div>
									<div id="collapseSprint{{sp.sprint_id}}" class="panel-collapse collapse" style="height: auto;">
										<div class="panel-body">
											<div class="panel-group" data-ng-repeat="tt in sp.tasktypes">
												<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
													<div class="panel-heading">
														<a class="accordion-toggle" data-toggle="collapse" href="task/kanban#collapseTaskType{{sp.sprint_id}}_{{tt.tasktype_id}}">
															Tipo de tarefa > <b>{{tt.tasktype}}</b>
														</a>
													</div>
													<div id="collapseTaskType{{sp.sprint_id}}_{{tt.tasktype_id}}" class="panel-collapse collapse" style="height: auto;">
														<div class="panel-body">
															<div data-ng-repeat="cat in tt.categories">
																Categoria > <b>{{ cat.category }}</b><br />
																<br />
																<table class="table table-hover">
																	<thead>
																		<tr>
																			<th ng-repeat="f in cat.flows">{{f.flow}} </th>
																		</tr>
																	</thead>
																	<tr>
																		<td ng-repeat="f in cat.flows">
																			<div ng-show="f.tasks.length > 0 ">
																				<span data-ng-repeat="t in f.tasks">
																					<button class="btn btn-info btn-xs" title="{{t.stDescription}}" ng-click="open(t)">T{{t.nuPriority}}</button>
																					&nbsp;
																				</span>
																			</div>
																		</td>
																	</tr>
																</table>
																<table class="table table-hover" style="width:300px">
																	<tr data-ng-repeat="acc in cat.accs">
																		<td>{{ acc.stName }}</td>
																		<td width="20px"></td>
																		<td width="70px">{{ acc.sValue }}</td>
																	</tr>
																</table>																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<br />
		</div>
	</section>
</div>
