<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>Listagem de <b>Usuários</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
					<td width="80px"></td>
					<td><input type="submit" class="btn btn-success pull-right" value="Novo" ng-click="new()"></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<table width="100%">
				<tr>
                    <td valign="top">
                        <table class="widget" style="color:white">
                            <tr height="22px"> </tr>
                            <tr height="36px">
                                <td width="20px"></td>
                                <td width="120px"><b>Situação</b></td>
                                <td width="250px">
                                    <table>
                                        <tr>
                                            <td width="20px"><input type="radio" value="true" ng-model="campos.ativo" /></td>
                                            <td> Ativo</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="false" ng-model="campos.ativo" /></td>
                                            <td> Bloqueado</td>
                                            <td width="20px"></td>
                                            <td width="20px"><input type="radio" value="" ng-model="campos.ativo" /></td>
                                            <td> Tudo</td>
                                            <td width="20px"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="30px"></td>
                                <td width="120px">Perfil</td>
                                <td width="200px">
                                    <input type="hidden" style="width:100%" ui-select2="campos.selects.perfil" data-placeholder="(Selecione)" ng-model="campos.fkPerfil" />
                                </td>
                                <td width="60px"></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Login</b></td>
                                <td>
                                    <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.busca" />
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Email</b></td>
                                <td>
                                    <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.email" />
                                </td>
                                <td></td>
                                <td><b>Telefone</b></td>
                                <td>
                                    <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.phone" />
                                </td>
                            </tr>
                            <tr height="12px"> </tr>
                            <tr height="42px">
                                <td></td>
                                <td>
                                    <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                                </td>
                            </tr>
                            <tr height="12px"> </tr>
                        </table>
                    </td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td valign="top">
						<div ng-show="list.length == 0">
							<div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
							<br />
							<br />
						</div>
						<div ng-show="list.length > 0">
							<ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
							<br />
							<table class="table table-hover">
								<thead>
									<tr>
										<th width="90px">Situação</th>
										<th width="150px">Login</th>
										<th width="150px">Perfil</th>
										<th width="150px">Telefones</th>
										<th width="220px">Emails</th>
										<th width="120px">Último Login</th>
									</tr>
								</thead>
								<tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
									<td>{{ mdl.bActive ? 'Ativo' : 'Bloqueado' }}</td>
									<td>{{ mdl.stLogin }}</td>
									<td>{{ mdl.profile.stName }}</td>
									<td><div data-ng-repeat="m in mdl.phones">{{ m.stPhone }}</div></td>
									<td><div data-ng-repeat="m in mdl.emails">{{ m.stEmail }}</div></td>
									<td>{{ mdl.sdtLastLogin }}</td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>