<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Verificar cartão de <b>associado </b> </td>
					<td width="80px"></td>
					<td></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
            <table>
                <thead>
                    <tr>
                        <th width="20px"></th>
                        <th width="140px"></th>
                        <th width="20px"></th>
                        <th width="300px"></th>
                        <th width="20px"></th>
                    </tr>
                </thead>
                <tr height="12px"></tr>
                <tr height="40px">
                    <td></td>
                    <td>
                        Empresa
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stEmpresa_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="6"
                               ng-disabled="!permModel.edicao" ng-model="viewModel.stEmpresa">
                    </td>
                    <td></td>
                </tr>
                <tr height="40px">
                    <td></td>
                    <td>
                        Matrícula
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stMatricula_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="6"
                               ng-disabled="!permModel.edicao" ng-model="viewModel.stMatricula">
                    </td>
                    <td></td>
                </tr>

                <tr height="40px">
                    <td></td>
                    <td>
                        Acesso
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stAcesso_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="4"
                               ng-disabled="!permModel.edicao" ng-model="viewModel.stAcesso">
                    </td>
                    <td></td>
                </tr>

                <tr height="40px">
                    <td></td>
                    <td>
                        Vencimento
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="stVencimento_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="4"
                               ng-disabled="!permModel.edicao" ng-model="viewModel.stVencimento">
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
	</section>
</div>
