<div class="form-group" style="color:white;">
	<table>
		<tr height="12px"> </tr>
		<tr>
			<td width="20px"></td>
			<td width="120px"><b>Survey Name</b></td>
			<td width="120px">
				<input type="text" focus="true" class="form-control input-transparent" ng-model="filtro.campos.busca" />
			</td>
			<td width="60px"></td>
			<td width="120px"><b>Project</b></td>
			<td width="160px">
				<input type="hidden" style="width:100%" ui-select2="filtro.campos.selects.project" ng-model="filtro.campos.fkProject" />
			</td>
		</tr>
	</table>
</div>