<div class="webFormPostion">
    <section class="widgetForm" style="width:100%;">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Extratos do <b>associado </b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="width:92%;">            
            
            <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="1" ng-model="tipoExtrato"> Extratos encerrados</label>
            <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="2" ng-model="tipoExtrato"> Mês atual</label>
            <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="3" ng-model="tipoExtrato"> Extratos futuros</label>            
            
            <br />

            <div ng-if="tipoExtrato == 1">
                <table>
                    <tr>
                        <td width="80px">Mês</td>                        
                        <td width="150px">
                            <input type="hidden" style="width:100%" 
                                   placeholder="(Selecione)" ui-select2="selectMeses" 
                                   ng-model="opcoes.extrato_fech_mes" />
                        </td>
                        <td width="20px"></td>
                        <td width="80px">Ano</td>                        
                        <td width="120px">
                            <input type="text" class="form-control input-transparent" maxlength="4"
                                   ng-model="opcoes.extrato_fech_ano_inicial">
                        </td>
                    </tr>
                </table>
                <br />
                <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
                <br />
                <br />
                <table class="table table-hover" ng-if="list.length > 0">
                    <thead>
                        <tr>
                            <th>Data venda</th>
                            <th>NSU</th>
                            <th>Valor</th>
                            <th>Parcela</th>
                            <th>Estabelecimento</th>
                        </tr>
                    </thead>
                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                        <td>{{ mdl.dataHora }}</td>
                        <td>{{ mdl.nsu }}</td>
                        <td>{{ mdl.valor }}</td>
                        <td>{{ mdl.parcela }}</td>
                        <td>{{ mdl.estab }}</td>
                    </tr>
                </table>
                <div ng-if="list.length > 0">
                    Total: <b>{{total}}</b><br />
                    <br />
                    <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                    <br />
                    <br />
                </div>
                <br />
            </div>

            <div ng-if="tipoExtrato == 2">
                <br />
                <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
                <br />
                <br />
                <div ng-if="list.length > 0">
                    Mês atual: <b>{{mesAtual}}</b><br />
                    Total extrato atual: <b>{{total}}</b><br />
                    Saldo disponível: <b>{{saldoDisp}}</b><br />
                    <br />
                </div>

                <div ng-if="list.length == 0">
                    <h3>Nenhum registro encontrado</h3>
                    <br />
                </div>

                <table class="table table-hover" ng-if="list.length > 0">
                    <thead>
                        <tr>
                            <th>Data venda</th>
                            <th>NSU</th>
                            <th>Valor</th>
                            <th>Parcela</th>
                            <th>Estabelecimento</th>
                        </tr>
                    </thead>
                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                        <td>{{ mdl.dataHora }}</td>
                        <td>{{ mdl.nsu }}</td>
                        <td>{{ mdl.valor }}</td>
                        <td>{{ mdl.parcela }}</td>
                        <td>{{ mdl.estab }}</td>
                    </tr>
                </table>
                <div ng-if="list.length > 0">
                    <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                </div>
                <br />
                <br />
                <br />
            </div>

            <div ng-if="tipoExtrato == 3">
                <br />
                <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
                <br />
                <br />
                <div ng-if="list.length == 0">
                    <h3>Nenhum registro encontrado</h3>
                    <br />
                </div>
                <div ng-if="list.length > 0">
                    Clique na linha do relatório abaixo para obter os detalhes das vendas.<br />
                    <br />
                </div>
                <table class="table table-hover" ng-if="list.length > 0">
                    <thead>
                        <tr>
                            <th>Mês / Ano</th>
                            <th>Compras</th>
                            <th>Total</th>
                            <th>Comprometido</th>
                            <th>Disponível</th>
                        </tr>
                    </thead>
                    <tr ng-click="showModal(mdl)" data-ng-repeat="mdl in list">
                        <td>{{ mdl.mes_ano }}</td>
                        <td>{{ mdl.compras }}</td>
                        <td>{{ mdl.total }}</td>
                        <td>{{ mdl.pct_real }}%</td>
                        <td>{{ mdl.disp }}</td>
                    </tr>
                </table>
                <br />
                <br />
                <br />

                <div class="modal-backdrop"                        
                        ng-if="listaDetalheFuturo != undefined"
                        style="background: rgba(55, 55, 55, 0.5 );">
                    <div class="modal-dialog" style="width:700px">
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="modal-content" style="color:black" width="750px">
                            <div style="overflow-y:scroll;height:500px">
                                <h3>Parcelas futuras para: <b>{{ listaDetalheFuturo.mes_ano }} </b></h3>
                                <br />
                                Total: R$ <b>{{ listaDetalheFuturo.total }}</b><br />
                                <br />

                                <table class="table table-hover" 
                                       ng-if="listaDetalheFuturo.vendas.length > 0"
                                       style="width:600px">
                                    <thead>
                                        <tr>
                                            <th>Data venda</th>
                                            <th>NSU</th>
                                            <th>Valor</th>
                                            <th>Parcela</th>
                                            <th>Estabelecimento</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="mdl in listaDetalheFuturo.vendas">
                                        <td style="color:black">{{ mdl.dataHora }}</td>
                                        <td style="color:black">{{ mdl.nsu }}</td>
                                        <td style="color:black">{{ mdl.valor }}</td>
                                        <td style="color:black">{{ mdl.parcela }}</td>
                                        <td style="color:black">{{ mdl.estab }}</td>
                                    </tr>
                                </table>
                                <br />
                                <button class="btn btn-success" ng-click="fecharModal()">Fechar</button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>