
<br />

<div style="width:340px;min-height:440px;height:100%;background-color:#e0e0e0;margin-left:16px">
    <div style="padding-left:20px">
        <br />
        <table width="100%">
            <tr>
                <td><img src='../../images/logo.png' height="50px" /></td>
                <td width="10px"></td>
                <td align="right"><button class="btn btn-info" ng-click="menu()">Menu</button></td>
                <td width="20px"></td>
            </tr>
        </table>
        <h3 style="padding-left:8px">Extratos de <b>faturas </b></h3>
        <br />

        <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="1" ng-model="tipoExtrato"> Extratos encerrados</label>
        <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="2" ng-model="tipoExtrato"> Mês atual</label>
        <label style="display:block;"><input type="radio" name="status" id="statusAtivo" value="3" ng-model="tipoExtrato"> Extratos futuros</label>

        <!--passado-->
        <div ng-if="tipoExtrato == 1">
            <br />
            <table>
                <tr height="44px">
                    <td width="80px">Mês</td>
                    <td width="150px">
                        <input type="hidden" style="width:100%"
                               placeholder="(Selecione)" ui-select2="selectMeses"
                               ng-model="opcoes.extrato_fech_mes" />
                    </td>
                </tr>
                <tr height="44px">
                    <td>Ano</td>
                    <td>
                        <input type="number" class="form-control input-transparent" ng-model="opcoes.extrato_fech_ano_inicial">
                    </td>
                </tr>
            </table>
            <br />
            <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>

            <br /><br />
            <div ng-if="list.length > 0">
                Total: <b>{{total}}</b>
            </div>
            <br />
            <table class="table" ng-if="list.length > 0">
                <thead>
                    <tr>
                        <th width="85px">
                            <span style="color:black;text-transform:capitalize">Data venda</span>
                        </th>
                        <th width="50px">
                            <span style="color:black;">NSU</span>
                        </th>
                        <th width="230px">
                            <span style="color:black;text-transform:capitalize">Valor / Estab.</span>
                        </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="mdl in list" height="44px">
                    <td>
                        <span style="color:black">{{ mdl.dataHora }}</span>
                    </td>
                    <td>
                        <span style="color:black">{{ mdl.nsu }}</span>
                    </td>
                    <td>
                        <span style="color:black">
                            R$ <b>{{ mdl.valor }}</b> - {{ mdl.parcela }}<br />
                            {{ mdl.estab }}
                        </span>
                    </td>
                </tr>
            </table>
            <br />
            <div ng-if="list.length > 0">
                Total: <b>{{total}}</b><br />
                <br />
            </div>
            <br />
        </div>

        <!--mes atual-->
        <div ng-if="tipoExtrato == 2">
            <br />
            <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
            <br />
            <br />
            <div ng-if="list.length > 0">
                Mês atual: <b>{{mesAtual}}</b><br />
                Total extrato atual: <b>{{total}}</b><br />
                Saldo disponível: <b>{{saldoDisp}}</b><br />
                <br />
            </div>

            <div ng-if="list.length == 0">
                <h3>Nenhum registro encontrado</h3>
                <br />
            </div>

            <table class="table" ng-if="list.length > 0">
                <thead>
                    <tr>
                        <th width="85px">
                            <span style="color:black;text-transform:capitalize">Data venda</span>
                        </th>
                        <th width="50px">
                            <span style="color:black;">NSU</span>
                        </th>
                        <th width="230px">
                            <span style="color:black;text-transform:capitalize">Valor / Estab.</span>
                        </th>
                    </tr>
                </thead>
                <tr data-ng-repeat="mdl in list" height="44px">
                    <td>
                        <span style="color:black">{{ mdl.dataHora }}</span>
                    </td>
                    <td>
                        <span style="color:black">{{ mdl.nsu }}</span>
                    </td>
                    <td>
                        <span style="color:black">
                            R$ <b>{{ mdl.valor }}</b> - {{ mdl.parcela }}<br />
                            {{ mdl.estab }}
                        </span>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
        </div>

        <div ng-if="tipoExtrato == 3">
            <br />
            <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
            <br />
            <br />
            <div ng-if="list.length == 0">
                <h3>Nenhum registro encontrado</h3>
                <br />
            </div>
            <table class="table" ng-if="list.length > 0">
                <thead>
                    <tr>
                        <th width="120px">
                            <span style="color:black;text-transform:capitalize">Mês / Ano</span>
                            
                        </th>
                        <th width="80px">
                            <span style="color:black;text-transform:capitalize">Compras</span>
                        </th>
                        <th>
                            <span style="color:black;text-transform:capitalize">Comprometido<br />Disponível<br /></span>
                        </th>
                    </tr>
                </thead>
                <tr style="color:black" height="50px" data-ng-repeat="mdl in list">
                    <td><span style="color:black">{{ mdl.mes_ano }}</span></td>
                    <td>
                        <span style="color:black">{{ mdl.compras }}</span>
                    </td>
                    <td>
                        <span style="color:black">
                            R$ <b>{{ mdl.total }}</b> ({{ mdl.pct_real }}%) <br />
                            {{ mdl.disp }}
                        </span>                        
                    </td>
                </tr>
            </table>
            <br />
        </div>

    </div>
</div>

<br />
<br />
