
<br />

<div style="width:340px;height:390px;background-color:white;margin-left:16px">
    <div style="padding-left:20px">
        <br />
        <div align="center" style="padding-right:30px">
            <img src='../../images/logo.png' height="70px" />
        </div>
        <h4 align="center" style="padding-right:30px">Menu de operações</h4>
        <br />

        <table>
            <tr height="48px">
                <td width="30px"></td>
                <td width="190px">
                    <img src='../../images/dinheiro_318-138572.jpg' height="43px" ng-click="limites()" /> &nbsp;&nbsp;&nbsp; <a style="color:blue;" ng-click="limites()">Limites do associado</a>
                </td>
            </tr>

            <!--<tr height="48px">
            <td width="90px"></td>
            <td>
                <button class="btn btn-info" ng-click="extratos()">Extratos</button>
            </td>
        </tr>-->

        </table>


        <br />
        <br />
        <br />
        <div align="center"><button class="btn btn-default" ng-click="logOut()">Sair</button></div>

    </div>
</div>
