
<br />

<div style="width:340px;height:390px;background-color:white;margin-left:16px">
    <div style="padding-left:20px">
        <br />
        <div align="center" style="padding-right:30px">
            <img src='../../images/logo.png' height="70px" />
        </div>
        <h4 align="center" style="padding-right:30px">Menu de operações</h4>
        <br />

        <table>
            <tr height="48px">
                <td width="50px"></td>
                <td width="60px">
                    <img src='../../images/dinheiro_318-138572.jpg' height="43px" ng-click="limites()" />
                </td>
                <td width="190px">
                    <a style="color:blue;" ng-click="limites()">Limites do associado</a>
                </td>
            </tr>

            <tr height="48px">
                <td></td>
                <td>
                    <img src='../../images/list.png' height="43px" ng-click="extratos()" />
                </td>
                <td>
                    <a style="color:blue;" ng-click="extratos()">Extratos</a>
                </td>
            </tr>

            <tr height="48px">
                <td></td>
                <td>
                    <img src='../../images/lojas.jpg' height="43px" ng-click="lojistasUsrMobile()" />
                </td>
                <td>
                    <a style="color:blue;" ng-click="lojistasUsrMobile()">Estabelecimentos</a>
                </td>
            </tr>

        </table>

        <br />
        <br />

        <div align="center"><button class="btn btn-default" ng-click="logOut()">Encerrar</button></div>

    </div>
</div>
