<div class="webFormPostion">
	<section class="widgetForm" style="width:925px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>
						System \ Project <i class="fa fa-spinner fa-spin" ng-show="loading"></i> 
						<button class="btn btn-default pull-right" ng-show="viewModel.id > 0" ng-click="remove()">Remove</button>
					</td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">			
			<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
				<tab heading="Project">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table>
							<thead>
								<tr>
									<th width="20px"></th>
									<th width="120px"></th>
									<th width="240px"></th>
								</tr>
							</thead>
							<tr height="12px"></tr>
							<tr height="40px" ng-show="viewModel.id > 0">
								<td></td>
								<td>Id</td>
								<td>
									<b>{{viewModel.id}}</b>
								</td>
							</tr>

							<tr height="40px" ng-show="viewModel.id > 0">
								<td></td>
								<td>Creation Date</td>
								<td>
									<b>{{viewModel.sdtCreation }}</b>
								</td>
							</tr>

							<tr height="40px" ng-show="viewModel.id > 0">
								<td></td>
								<td>Created By</td>
								<td>
									<b>{{viewModel.stUser}}</b>
								</td>
							</tr>

							<tr height="40px">
								<td></td>
								<td>Project name</td>
								<td>
									<input type="text" focus="true" class="form-control input-transparent" ng-maxlength="150"
											ng-disabled="!permModel.edicao" ng-style="style_stName" ng-model="viewModel.stName">
								</td>
							</tr>

							<tr height="20px"></tr>

							<tr height="40px">
								<td></td>
								<td colspan="2">
									<button class="btn btn-danger" ng-show="errorMain">{{errorMainMsg}} </button>
								</td>
							</tr>
						</table>
					</div>
				</tab>

			</tabset>			
		</div>
		<br />
		<br />
		<table>
			<tr>
				<td width="34px"></td>
				<td><button class="btn btn-default" ng-click="list()">Cancel</button> </td>
				<td width="34px"></td>
				<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
			</tr>
		</table>
		<br />
		<br />
	</section>
</div>
