<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td><b>Projects </b> listing <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
					<td width="80px"></td>
					<td><input type="submit" class="btn btn-success pull-right" value="New" ng-click="new()"></td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>

		<div class="divWebForm">
			<table width="100%">
				<tr>
					<td width="15px"></td>
					<td valign="top">
						<ng-filtro tipo="profile" campos="campos" template-avancado="app/configuration/project/_filterProject.html" 
								   funcao-pesquisar="search"></ng-filtro>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td valign="top">
						<div ng-show="list.length == 0">
							<br />
							<br />
							<div class="btn btn-info btn-lg">No records found.</div>
						</div>
						<div ng-show="list.length > 0">
							<br />
							<ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
							<br />
							<table class="table table-hover">
								<thead>
									<tr>
										<th width="180px">Project</th>
										<th width="180px">Phases</th>
										<th width="180px">Sprints</th>
										<th width="180px">Users</th>
										<th width="180px">Roles</th>
									</tr>
								</thead>
								<tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
									<td>{{ mdl.stName }}</td>
									<td><div data-ng-repeat="m in mdl.phases">{{ m.stName }}</div></td>
									<td>{{ mdl.sprints.length }}</td>
									<td><div data-ng-repeat="m in mdl.users">{{ m.stUser }}</div></td>
									<td><div data-ng-repeat="m in mdl.users">{{ m.stRole }}</div></td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>