<div class="webFormPostion" style="width:99%">
	<section class="widgetForm" style="width:100%">
		<legend class="legendTop" style="width:100%">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td><b>Gerência </b> de projeto <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebFormListing" style="padding-left:35px;width:98%">
			<table width="260px">
				<tr height="40px">
					<td width="130px">
                        <b>Projeto</b>
					</td>
					<td width="200px">
						<input type="hidden" style="width:100%" ui-select2="selectProjects" data-placeholder="(Selecione)" ng-model="fkProject" />
					</td>
				</tr>
			</table>
			<br />
			<div ng-show="viewModel != undefined">
				<div class="panel-group" data-ng-repeat="type in viewModel.kpaTypes" ng-show="viewModel.fail == false">
					<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="task/management#collapseType{{type.id}}">
								<b>{{type.stName}} ({{type.categories.length}})</b>
							</a>
						</div>
						<div id="collapseType{{type.id}}" class="panel-collapse collapse" style="height: auto;">
							<div class="panel-body">
								<table style="width:950px" class="table table-hover">
									<tr height="24px" data-ng-repeat="categ in type.categories">
										<td width="20px"></td>
										<td width="26px">
											<button class="btn btn-xs btn-danger" ng-show="categ.ok == false">!</button>
											<button class="btn btn-xs btn-success" ng-show="categ.ok == true">OK</button>
										</td>
										<td width="60px">
											{{categ.stAbbrev}}
										</td>
										<td width="150px">
											{{categ.stName}}
										</td>
										<td width="400px">
											<i>{{categ.stDescription}}</i>
										</td>
										<td width="90px">
											<span class="btn btn-info btn-xs" ng-click="showTask(categ.id)">{{categ.sFlow}}</span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="viewModel != undefined">
				<div class="panel-group" ng-show="viewModel.fail == false">
					<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse" href="task/management#collapseTypeCondensed">
								<b>Estatística de fluxo (versões ativas)</b>
							</a>
						</div>
						<div id="collapseTypeCondensed" class="panel-collapse collapse" style="height: auto;">
							<div class="panel-body">
								<table>
									<tr>
										<td valign="top">
											<b>ANÁLISE ({{viewModel.sa.total}})</b><br />
											<br />
											<table class="table table-hover" style="width:180px">
												<tr>
													<td width="110px">OPEN</td>
													<td width="70px">{{viewModel.sa.open}}</td>
												</tr>
												<tr>
													<td>RE-OPENED</td>
													<td>{{viewModel.sa.reopen}}</td>
												</tr>
												<tr>
													<td>ESTIMATING</td>
													<td>{{viewModel.sa.estimating}}</td>
												</tr>
												<tr>
													<td>CONSTRUCTION</td>
													<td>{{viewModel.sa.construction}}</td>
												</tr>
												<tr>
													<td>PEER REVIEW</td>
													<td>{{viewModel.sa.peerreview}}</td>
												</tr>
												<tr>
													<td>APPROVAL</td>
													<td>{{viewModel.sa.approval}}</td>
												</tr>
												<tr>
													<td>CANCELLED</td>
													<td>{{viewModel.sa.cancelled}}</td>
												</tr>
												<tr>
													<td>DONE</td>
													<td>{{viewModel.sa.done}}</td>
												</tr>
											</table>
										</td>
										<td width="20px"></td>
										<td valign="top">
											<b>DESENVOLVIMENTO ({{viewModel.sd.total}})</b><br />
											<br />
											<table class="table table-hover" style="width:180px">
												<tr>
													<td width="110px">OPEN</td>
													<td width="70px">{{viewModel.sd.open}}</td>
												</tr>
												<tr>
													<td>RE-OPENED</td>
													<td>{{viewModel.sd.reopen}}</td>
												</tr>
												<tr>
													<td>DEVELOPMENT</td>
													<td>{{viewModel.sd.development}}</td>
												</tr>
												<tr>
													<td>TESTING</td>
													<td>{{viewModel.sd.testing}}</td>
												</tr>
												<tr>
													<td>CANCELLED</td>
													<td>{{viewModel.sd.cancelled}}</td>
												</tr>
												<tr>
													<td>DONE</td>
													<td>{{viewModel.sd.done}}</td>
												</tr>
											</table>
										</td>
										<td width="20px"></td>
										<td valign="top">
											<b>BUGS ({{viewModel.sb.total}})</b><br />
											<br />
											<table class="table table-hover" style="width:180px">
												<tr>
													<td width="110px">OPEN</td>
													<td width="70px">{{viewModel.sb.open}}</td>
												</tr>
												<tr>
													<td>RE-OPENED</td>
													<td>{{viewModel.sb.reopen}}</td>
												</tr>
												<tr>
													<td>DEVELOPMENT</td>
													<td>{{viewModel.sb.development}}</td>
												</tr>
												<tr>
													<td>TESTING</td>
													<td>{{viewModel.sb.testing}}</td>
												</tr>
												<tr>
													<td>CANCELLED</td>
													<td>{{viewModel.sb.cancelled}}</td>
												</tr>
												<tr>
													<td>DONE</td>
													<td>{{viewModel.sb.done}}</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" ng-show="viewModel.fail == false" style="width:100%;">
				<div class="panel" style="width:100%;background:rgba(15, 43, 89, 0.25);">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="task/management#collapseVersion">
                            <b>Detalhes da versão de projeto</b>
						</a>
					</div>
					<div id="collapseVersion" class="panel-collapse collapse" style="height: auto;width:100%;">
						<div class="panel-body" style="width:100%;">
							<table class="table table-hover" style="width:100%">
								<thead>
									<tr>
										<th>Fase /<br />Sprint</th>
										<th>Versão /<br />Situação</th>
										<th> </th>
										<th>Trabalho<br />Análise</th>
										<th>Trabalho<br />Desenvolvimento</th>
										<th>Trabalho ok %</th>
										<th>Defeitos</th>
										<th>Defeitos<br />Construção</th>
										<th>Defeitos<br />Homologação</th>
										<th>Defeitos<br />Produção</th>
										<th>Re-trabalho %</th>
									</tr>
								</thead>
								<tr data-ng-repeat="mdl in viewModel.versions">
									<td>{{ mdl.stPhase }}<br />{{ mdl.stSprint }}</td>
									<td>{{ mdl.stVersion }}<br />{{ mdl.stVersionState }}</td>
									<td><i>Items<br />Horas</i></td>
									<td>{{ mdl.analysis }}<br />{{ mdl.analysisH }}</td>
									<td>{{ mdl.development }}<br />{{ mdl.developmentH }}</td>
									<td><br />{{ mdl.workPct }}</td>
									<td>{{ mdl.bugs }}<br />{{ mdl.bugsH }}</td>
									<td>{{ mdl.construction }}<br />{{ mdl.constructionH }}</td>
									<td>{{ mdl.homologation }}<br />{{ mdl.homologationH }}</td>
									<td>{{ mdl.production }}<br />{{ mdl.productionH }}</td>
									<td>{{ mdl.totBugsH }}<br />{{ mdl.reworkPct }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />
	</section>
</div>
