<div class="webFormPostion">
	<section class="widgetForm" style="width:925px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>
						System \ Setup <i class="fa fa-spinner fa-spin" ng-show="loading"></i> 
					</td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm" >
			<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
				<div style="padding-left:20px; padding-top:20px">
					<legend style="color:white">Preferences</legend>

					<table>
						<thead>
							<tr>
								<th width="20px"></th>
								<th width="120px"></th>
								<th width="240px"></th>
							</tr>
						</thead>

						<tr height="20px"></tr>

						<tr height="40px">
							<td></td>
							<td>Phone Mask</td>
							<td>
								<input type="text" focus="true" class="form-control input-transparent" ng-maxlength="20"
									   ng-disabled="!permModel.edicao" ng-style="style_stPhoneMask" ng-model="viewModel.stPhoneMask">
							</td>
						</tr>

						<tr height="20px"></tr>

						<tr height="40px">
							<td></td>
							<td colspan="2">
								<button class="btn btn-danger" ng-show="errorMain">{{errorMainMsg}} </button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<br />
		<br />
		<table>
			<tr>
				<td width="34px"></td>
				<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
			</tr>
		</table>
		<br />
		<br />
	</section>
</div>
