<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
    <add name="Data" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-VC8RCO6KBEK\SQLEXPRESS;Database=AutorizadorCN;Trusted_connection=true;" />
  <!-- 
  <add name="Data" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-VC8RCO6KBEK\SQLEXPRESS;Database=AutorizadorCN;Trusted_connection=true;"/>
  <add name="Data" providerName="System.Data.SqlClient" connectionString="Data Source=177.85.160.41;Database=AutorizadorCN;User Id=conveynetsql;Password=CONV451NET829SQL;"/>
  -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
