<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="2.1.0" targetFramework="net45" />
  <package id="linq2db.SqlServer" version="2.1.0" targetFramework="net45" />
  <package id="linq2db.t4models" version="1.10.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Npgsql" version="4.0.2" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>