<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>Demonstrativos <b>Financeiros </b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">            
            <b>Selecione o tipo de demonstrativo:</b><br />
            <br />
            <table>
                <tr>
                    <td width="90px">
                        <label><input type="radio" name="status" id="statusAtivo" value="1" ng-model="tipoDemonstrativo"> Em aberto</label>
                    </td>
                    <td width="20px"></td>
                    <td width="90px">
                        <label><input type="radio" name="status" id="statusAtivo" value="2" ng-model="tipoDemonstrativo"> Encerrados </label>
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td valign="top">
                        <table ng-if="tipoDemonstrativo == 1">
                            <tr height="46px">
                                <td width="100px">
                                    Convênio
                                </td>
                                <td width="170px">
                                    <input type="hidden" style="width:100%" placeholder="(Todos)" ui-select2="convenios" ng-model="campos.idEmpresa" />
                                </td>
                                <td></td>
                            </tr>
                            <tr height="46px">
                                <td width="100px">
                                    Terminal
                                </td>
                                <td width="170px">
                                    <input type="hidden" style="width:100%" placeholder="(Todos)" ui-select2="terminais" ng-model="campos.idTerminal" />
                                </td>
                                <td></td>
                            </tr>

                            <tr height="46px">
                                <td width="100px">
                                    Opções
                                </td>
                                <td width="170px">
                                    <input type="checkbox" ng-model="campos.porTerminal"> Expandir por terminal<br />
                                </td>
                                <td></td>
                            </tr>

                        </table>
                    </td>
                    <td width="20px"></td>
                    <td valign="top" style="padding-top:8px">
                        <button ng-if="tipoDemonstrativo != undefined" class="btn btn-primary" ng-click="search()">Pesquisar</button>
                    </td>
                </tr>
            </table>
            
            <table width="90%" ng-if="tipoDemonstrativo == 1">
                <tr>
                    <td valign="top">
                        <div ng-show="list.length == 0">
                            <br />
                            <br />
                            <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                            <br />
                            <br />
                        </div>
                        <div ng-show="list.length > 0">
                            <br />
                            <br />
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mês / Ano<br />Vencimento</th>
                                        <th>Convênio</th>
                                        <th>Total Vendas</th>
                                        <th>Valor repasse<br />Mensal</th>
                                        <th>situação</th>
                                    </tr>
                                </thead>
                                <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                    <td>{{ mdl.mesAno }}</td>
                                    <td>{{ mdl.convenio }}</td>
                                    <td>{{ mdl.totalVendas }}</td>
                                    <td>{{ mdl.vlrRepasseMensal }}</td>
                                    <td>{{ mdl.situacao }}</td>
                                </tr>
                            </table>
                            <br />
                            <table class="table table-hover" style="width:500px">
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Total Atual</td>
                                    <td>{{totAtual}}</td>
                                </tr>
                                <tr>
                                    <td>Repasse Atual</td>
                                    <td>{{totAtualRepasse}}</td>
                                </tr>
                                <tr>
                                    <td>Total Futuro</td>
                                    <td>{{totFuturo}}</td>
                                </tr>
                                <tr>
                                    <td>Repasse Futuro</td>
                                    <td>{{totFuturoRepasse}}</td>
                                </tr>
                            </table>
                        </div>
                        <br />
                    </td>
                </tr>
            </table>
        </div>
	</section>
</div>