
<br />

<div style="width:340px;height:490px;background-color:#e0e0e0;margin-left:16px">
    <div style="padding-left:20px">
        <br />
        <table>
            <tr>
                <td><img src='../../images/logo.png' height="50px" /></td>
                <td width="10px"></td>
                <td><h4>Venda <b>online </b> (mobile)</h4></td>
            </tr>
        </table>
        <br />
        Cartão<br />
        <table>
            <tr height="40px">
                <td width="75px">
                    <input type="number" focus="true" numeric-only maxlength="6" class="form-control input-transparent"
                           ng-model="viewModel.stEmpresa" style="font-size:14px; font-weight:800" tabindex="1">
                </td>
                <td width="10px"></td>
                <td width="75px">
                    <input type="number" numeric-only maxlength="6" class="form-control input-transparent"
                           id="cartMat"
                           ng-model="viewModel.stMatricula" style="font-size:14px; font-weight:800" tabindex="2"
                           ng-maxlength="6" auto-next tabindex="2">
                </td>
                <td width="10px"></td>
                <td width="60px">
                    <input type="number" numeric-only maxlength="4" class="form-control input-transparent"
                           id="cartAcesso"
                           ng-model="viewModel.stAcesso" style="font-size:14px; font-weight:800" tabindex="3"
                           ng-maxlength="4" auto-next tabindex="3">
                </td>
                <td width="10px"></td>
                <td width="60px">
                    <input type="number" numeric-only maxlength="4" class="form-control input-transparent"
                           id="cartVenc"
                           ng-model="viewModel.stVencimento" style="font-size:14px; font-weight:800" tabindex="4"
                           ng-maxlength="4" auto-next tabindex="4"
                           ng-keyup="$event.keyCode == 13 && conferirCartao() && focoValor()">
                </td>
                <td width="10px"></td>
            </tr>
        </table>

        <br />
        <button class="btn btn-info" ng-click="conferirCartao()">Confirma</button><br />

        <br />

        <span class="btn btn-warning" ng-if="viewModel.error.length > 0">
            {{viewModel.error}}
        </span>

        <span style="color:red" ng-if="viewModel.data.bloqueado == true">
            Atenção: cartão situação BLOQUEADO. Entre em contato com sua entidade.
        </span>

        <div ng-if="viewModel.data.nome">
            Nome associado: <br />
            <b>{{ viewModel.data.nome }}</b><br />
            <br />
        </div>

        <table ng-if="viewModel.data.nome && (modoVenda == 'simulacao' || modoVenda == '')">
            <tr height="40px">
                <td width="80px">
                    Valor
                </td>
                <td width="20px">
                    <span class="btn btn-xs btn-danger" ng-show="valor_fail">!</span>
                </td>
                <td width="90px">
                    <button class="btn btn-success" ng-click="abreModalValor()">{{viewModel.valor}}</button>
                    <div class="modal-backdrop"
                         ng-if="modalValor == true"
                         style="background: rgba(55, 55, 55, 0.5 );">
                        <div class="modal-dialog" style="width:320px;margin-left:32px">
                            <br /><br /><br />
                            <div class="modal-content" style="color:black">
                                <legend style="color:black">Valor total da venda</legend> 
                                <div align="center">
                                    <h3>
                                        <span style="color:grey">R$ </span><span style="color:green">{{viewModel.valor}}</span>
                                    </h3>
                                </div>
                                <br />
                                <table align="center" style="background-color:lightgrey">
                                    <tr height="12px"></tr>
                                    <tr>
                                        <td width="10px"></td><td><button class="btn btn-default btn-lg" ng-click="btnOneValor()">1</button></td>
                                        <td width="10px"></td><td><button class="btn btn-default btn-lg" ng-click="btnTwoValor()">2</button></td>
                                        <td width="10px"></td><td><button class="btn btn-default btn-lg" ng-click="btnThreeValor()">3</button></td>
                                        <td width="10px"></td>
                                    </tr>
                                    <tr height="12px"></tr>
                                    <tr>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnFourValor()">4</button></td>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnFiveValor()">5</button></td>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnSixValor()">6</button></td>
                                        <td></td>
                                    </tr>
                                    <tr height="12px"></tr>
                                    <tr>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnSevenValor()">7</button></td>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnEightValor()">8</button></td>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnNineValor()">9</button></td>
                                        <td></td>
                                    </tr>
                                    <tr height="12px"></tr>
                                    <tr>
                                        <td></td><td><button class="btn btn-white btn-lg" ng-click="btnCleanValor()">L</button></td>
                                        <td></td><td><button class="btn btn-default btn-lg" ng-click="btnZeroValor()">0</button></td>
                                        <td></td><td><button class="btn btn-white btn-lg" ng-click="btnDelValor()">D</button></td>
                                        <td></td>
                                    </tr>
                                    <tr height="12px"></tr>
                                </table>
                                <br /><br /><div align="center"><button class="btn btn-info" ng-click="fechaModalValor()">Fechar</button></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr height="40px">
                <td>
                    Parcelas
                </td>
                <td>
                    <span class="btn btn-xs btn-danger" ng-show="parcelas_fail">!</span>
                </td>
                <td>
                    <input type="number" numeric-only maxlength="2" class="form-control input-transparent"
                           ng-keyup="$event.keyCode == 13 && parcelar()"
                           ng-model="viewModel.parcelas">
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table ng-if="viewModel.data.nome && !loading">
            <tr>
                <td>
                    <button class="btn btn-default" ng-click="cancelarSimula()">Cancelar</button>
                </td>
                <td width="20px"></td>
                <td>
                    <button class="btn btn-info" ng-click="parcelar()">Efetuar venda</button>
                </td>
            </tr>
        </table>
        <div class="modal-backdrop"
             ng-if="mostraModalMobile"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Senha do associado</legend>
                    <br />
                    <table class="widget" align="center">
                        <tr height="22px"></tr>
                        <tr>
                            <td width="20px"></td>
                            <td width="90px">
                                <input type="password" focus="true" numeric-only maxlength="4"
                                       ng-model="viewModel.senhaPortadorCartao"
                                       ng-keyup="$event.keyCode == 13 && confirmarMobile()" />
                            </td>
                            <td width="20px"></td>
                        </tr>
                        <tr height="22px"></tr>
                    </table>
                    <br />
                    <table align="center">
                        <tr>
                            <td ng-if="processandoVenda == false">
                                <button class="btn btn-default" ng-click="closeModalMobile()"> Cancelar </button>
                            </td>
                            <td ng-if="processandoVenda == false" width="10px"></td>
                            <td ng-if="processandoVenda == true">
                                <i class="fa fa-spinner fa-spin"></i> Processando venda
                            </td>
                            <td ng-if="processandoVenda == false">
                                <button class="btn btn-success"
                                        ng-disabled="viewModel.senhaPortadorCartao.length != 4"
                                        ng-click="confirmarMobile()">
                                    Confirmar
                                </button>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="modal-backdrop"
             ng-if="mostraModalMobileAutorizado"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Aviso do Sistema</legend>
                    <br />
                    <h3>Venda Autorizada!</h3>
                    <br />
                    <br />
                    <table align="center">
                        <tr>
                            <td>
                                <button class="btn btn-success" ng-click="closeModalMobileAutorizado()"> Ok </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="modal-backdrop"
             ng-if="mostraModalMobileEnviaEmail"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Cupom de venda</legend>
                    <br />
                    Enviar cupom de venda por email?<br />
                    <br />
                    <div width="200px">
                        <input type="text" focus="true" maxlength="99" ng-model="viewModel.emailCupom"/>
                    </div>
                    <br />
                    <br />
                    <table align="center">
                        <tr>
                            <td>
                                <button class="btn btn-default" ng-click="closeModalMobileEnviaEmail()"> Não </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="confirmarMobileEnviarEmail()"> Enviar comprovante </button>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <br />
        <span style="color:red">{{falhaVendaMsg}}</span>
    </div>
</div>

