<div class="webFormPostion">
	<section class="widgetForm" style="width:975px">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Relatório <b>Associados </b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<table width="100%">
				<tr>
					<td valign="top">
                        <table class="widget" style="color: white">
                            <tr height="12px"> </tr>
                            <tr height="36px">
                                <td width="20px"></td>
                                <td width="120px"><b>Empresa</b></td>
                                <td>
                                    <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                                </td>
                                <td width="20px"></td>
                                <td width="120px">
                                    <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                                </td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Nome Associado</b></td>
                                <td>
                                    <input type="text" focus="true"
                                            class="form-control input-transparent"
                                            ng-model="campos.busca" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Matrícula</b></td>
                                <td>
                                    <input type="text" focus="true"
                                           class="form-control input-transparent"
                                           ng-model="campos.matricula" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr height="36px">
                                <td></td>
                                <td><b>Situação</b></td>
                                <td>
                                    <br />
                                    <input type="radio" value="false" ng-model="campos.bloqueado"> Ativo
                                    <br />
                                    <input type="radio" value="true" ng-model="campos.bloqueado"> Bloqueado
                                    <br />
                                    <input type="radio" value="undefined" ng-model="campos.bloqueado"> (Ambos)
                                </td>
                            </tr>
                            <tr height="22px"> </tr>
                        </table>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td valign="top">
						<div ng-show="list.length == 0">
							<br />
							<br />
							<div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
							<br />
							<br />
						</div>
						<div ng-show="list.length > 0">							
							<ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
							<br />
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Associado</th>
                                        <th>Cartão</th>
										<th>CPF</th>
                                        <th>Tit.</th>
                                        <th>Disp. M</th>
                                        <th>Limite M</th>
                                        <th>Disp. T</th>
                                        <th>Limite T</th>
									</tr>
								</thead>
								<tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                    <td>{{ mdl.associado }}</td>
									<td>{{ mdl.cartao }}</td>
                                    <td>{{ mdl.cpf }}</td>
                                    <td>{{ mdl.tit }}</td>
                                    <td>{{ mdl.dispM }}</td>
                                    <td>{{ mdl.limM }}</td>
                                    <td>{{ mdl.dispT }}</td>
                                    <td>{{ mdl.limT }}</td>
								</tr>
							</table>
						</div>
						<br />
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>