<?xml version="1.0"?>
    <backload storageContext="Filesystem" enableIntegratedHandler="true" webFilesRoot="" uniqueFileNames="false" keepOrgFileNames="false" getInclSubFolders="true" returnExtraInfo="basic" plugin="JQueryFileUpload" deleteUrlPattern="{Backload}" filesUrlPattern="{url}" thumbsUrlPattern="{url}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema" xsi:noNamespaceSchemaLocation="Web.Backload.xsd" >
      <fileSystem filesRoot="~/files" usersRoot="" objectsRoot="" copiesRoot="" />
      <database assemblyName="" dbContext="" entitySetName="" primaryKeyName="ID" />
      <security forceObjectContext="false" allowAnonymous="true" allowedDownloadRoles="*" allowedUploadRoles="*" allowedDeleteRoles="*" />     
      <clientFiles scripts="~/Scripts/FileUpload/" styles="~/Content/FileUpload/css/" />
      <cacheManager lastModified="false" etag="false" expires="0" location="ServerAndPrivate" mustRevalidate="true" />
      <extensionsManager enabled="false" incomingRequest="true" authorizeRequest="true" getFilesRequest="true" storeFileRequest ="true" deleteFilesRequest="true" outgoingResponse="true" pipelineException="true" />
    </backload>