@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">DevKit</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">

        function money(o, f) {
            v_obj = o
            v_fun = f
            setTimeout("execmascara()", 1)
        }

        function execmascara() {
            v_obj.value = v_fun(v_obj.value)
        }

        function Valor(v) {
            v = v.replace(/\D/g, "") //Remove tudo o que não é dígito

            if (v.length == 3)
                v = v.substr(0, 1) + "," + v.substr(1, 2);
            else
                if (v.length == 4)
                    v = v.substr(0, 2) + "," + v.substr(2, 2);
                else
                    if (v.length == 5)
                        v = v.substr(0, 3) + "," + v.substr(3, 2);
                    else if (v.length == 6)
                        v = v.substr(0, 1) + "." + v.substr(1, 3) + "," + v.substr(4, 2);
                    else if (v.length == 7)
                        v = v.substr(0, 2) + "." + v.substr(2, 3) + "," + v.substr(5, 2);
                    else if (v.length == 8)
                        v = v.substr(0, 3) + "." + v.substr(3, 3) + "," + v.substr(6, 2);
                    else if (v.length == 9)
                        v = v.substr(0, 1) + "." + v.substr(1, 3) + "." + v.substr(4, 3) + "," + v.substr(7, 2);

            return v
        }

    </script>

    @*<script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>*@
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body class="background" ng-cloak>
    <div class="header" ng-show="exibirMenu" ng-controller="MenuController">
        <div class="logo" style="padding-top:-4px; padding-left:-60px">
            <a ng-click="goHome()">
                <img src='../../images/logoCmenu.png' height="62px" />
            </a>
        </div>
        <header class="page-header">
            <div class="navbar" style="height:38px;padding-left:195px;">
                <table width="100%" >
                    <tr>
                        <td width="600px" valign="top">

                            <div ng-if="authentication.tipo == 5" style="padding-top:12px">
                                <b>PORTAL SAÚDE</b> – GESTÃO DE PLANOS DE SAÚDE CONVEYNET<br />
                                {{authentication.nuEmpresa}}<br />
                                <b>{{authentication.nameUser}}</b>
                            </div>

                            <div ng-if="authentication.tipo == 4" style="padding-top:12px">
                                <b>PORTAL SAÚDE</b> – GESTÃO DE PLANOS DE SAÚDE CONVEYNET<br />
                                Empresa emissora: {{authentication.nuEmpresa}}<br />
                                Usuário: <b>{{authentication.nameUser}}</b>
                            </div>

                            <div ng-if="authentication.tipo == 1" style="padding-top:12px">
                                <b>PORTAL SAÚDE</b> – GESTÃO DE PLANOS DE SAÚDE CONVEYNET<br />
                                Credenciado código: <b>{{authentication.nuEmpresa}}</b>
                                <b>{{authentication.nameUser}}</b>
                            </div>

                        </td>
                        <td align="right" valign="top">
                            <br />
                            <span style="color:white">Sair</span> &nbsp;&nbsp;<a href="login" ng-click="logOut()"><i style="font-size:16px" class="glyphicon glyphicon-off"></i></a>
                        <td>
                    </tr>
                </table>
            </div>
        </header>

        <nav ng-if="tipo == 1" id="sidebar" class="sidebar nav-collapse collapse">
            <section class="widget" style="height:100%;font-size:11px">
                <ul id="side-nav" class="side-nav" style="color:black">
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseMSystem"><span class="name">Sistema</span></a>
                        <ul id="forms-collapseMSystem" class="panel-collapse collapse">
                            <li><a ui-sref="credenciadopass"><span>Trocar senha</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseProcedimentos"><span class="name">Operações</span></a>
                        <ul id="forms-collapseProcedimentos" class="panel-collapse collapse">
                            <li><a ui-sref="credenciadoprocs"><span>Demonstrativo</span></a></li>
                            <li><a ui-sref="autorizacaoProc"><span>Autorização</span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul><li>&nbsp;</li></ul>
                <ul><li>&nbsp;</li></ul>
                <ul>
                    <li>
                        <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                    </li>
                </ul>
                <ul><li></li></ul>
            </section>
        </nav>

        <nav ng-if="tipo == 4" id="sidebar" class="sidebar nav-collapse collapse">
            <section class="widget" style="height:100%;font-size:11px">
                <ul id="side-nav" class="side-nav" style="color:black">

                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapsePeople"><span class="name">Associados</span></a>
                        <ul id="forms-collapsePeople" class="panel-collapse collapse">
                            <li><a ui-sref="persons"><span>Manutenção cadastro</span></a></li>
                            <li><a ui-sref="altSenha"><span>Trocar senha</span></a></li>
                            <li><a ui-sref="segvia"><span>Segunda Via</span></a></li>
                            <li><a ui-sref="bloqueio"><span>Bloqueio</span></a></li>
                            <li><a ui-sref="desbloqueio"><span>Desbloqueio</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseCred"><span class="name">Credenciados</span></a>
                        <ul id="forms-collapseCred" class="panel-collapse collapse">
                            <li><a ui-sref="listemissorcredenciados"><span>Consulta</span></a></li>
                            <li><a ui-sref="emissorautorizacaoProc"><span>Autorização</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseProc"><span class="name">Relatórios</span></a>
                        <ul id="forms-collapseProc" class="panel-collapse collapse">
                            <li><a ui-sref="emissorprocs"><span>Autorizações</span></a></li>
                            <li><a ui-sref="emissorfech"><span>Fechamento</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseSystem"><span class="name">Operadores</span></a>
                        <ul id="forms-collapseSystem" class="panel-collapse collapse">
                            <li><a ui-sref="userChangePass"><span>Trocar senha</span></a></li>
                            @*<li><a ui-sref="setup"><span>Configuração</span></a></li>*@
                            <li><a ui-sref="users"><span>Usuários</span></a></li>
                            <li><a ui-sref="profiles"><span>Perfis</span></a></li>
                        </ul>
                    </li>
                    @*<li class="panel">
            <a class="accordion-toggle " data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapseTask"><span class="name">Tarefas</span></a>
            <ul id="forms-collapseTask" class="panel-collapse collapse">
                <li><a ui-sref="task-new"><span>Nova</span></a></li>
                <li><a ui-sref="tasks"><span>Listagem</span></a></li>
                <li><a ui-sref="userKanban"><span>Kanban</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle " data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapseSetup"><span class="name">Configuração</span></a>
            <ul id="forms-collapseSetup" class="panel-collapse collapse">
                <li><a ui-sref="projects"><span>Projetos</span></a></li>
                <li><a ui-sref="taskTypes"><span>Tipos Tarefa</span></a></li>
                <li><a ui-sref="newsListing"><span>Notícias</span></a></li>
                <li><a ui-sref="surveysListing"><span>Pesquisas</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle " data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapseSoftware"><span class="name">Software</span></a>
            <ul id="forms-collapseSoftware" class="panel-collapse collapse">
                <li><a ui-sref="management"><span>Gerência projeto</span></a></li>
                <li><a ui-sref="timesheet"><span>Timesheet</span></a></li>
            </ul>
        </li>*@
                </ul>
                <ul><li>&nbsp;</li></ul>
                <ul><li>&nbsp;</li></ul>
                <ul>
                    <li>
                        <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                    </li>
                </ul>
                <ul><li></li></ul>
            </section>
        </nav>

        <nav ng-if="tipo == 5" id="sidebar" class="sidebar nav-collapse collapse">
            <section class="widget" style="height:100%;font-size:11px">
                <ul id="side-nav" class="side-nav" style="color:black">
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseDBAConfig"><span class="name">Configuração</span></a>
                        <ul id="forms-collapseDBAConfig" class="panel-collapse collapse">
                            <li><a ui-sref="empresas"><span>Empresas</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseDBASaude"><span class="name">Saúde</span></a>
                        <ul id="forms-collapseDBASaude" class="panel-collapse collapse">
                            <li><a ui-sref="credenciados"><span>Credenciados</span></a></li>
                            <li><a ui-sref="especialidades"><span>Especialidades</span></a></li>
                            <li><a ui-sref="tuss"><span>Tabela TUSS</span></a></li>
                            <li><a ui-sref="exportaut"><span>Exp. Autorizações</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseDBACartoes"><span class="name">Cartões</span></a>
                        <ul id="forms-collapseDBACartoes" class="panel-collapse collapse">
                            <li><a ui-sref="lotesgrafica"><span>Lotes gráfica</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseDBARel"><span class="name">Relatórios</span></a>
                        <ul id="forms-collapseDBARel" class="panel-collapse collapse">
                            <li><a><span>Opções</span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul><li>&nbsp;</li></ul>
                <ul><li>&nbsp;</li></ul>
                <ul>
                    <li>
                        <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                    </li>
                </ul>
                <ul><li></li></ul>
            </section>
        </nav>

    </div>
	<table align="left" style="width:100%">
		<tr>
			<td>
				<div id="ui-view" style="width:100%" ui-view></div>
			</td>
		</tr>
	</table>
	@Scripts.Render("~/bundles/app")
	<script>
		app.constant('version', '@version'); // Version constant
	</script>
</body>
</html>