
@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="title">DevKit</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

	<meta name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@Styles.Render("~/bundles/css")
	@Scripts.Render("~/bundles/scripts")

</head>
<body class="background">
		
	<div class="header" ng-show="exibirMenu" ng-controller="MenuController">

		<div class="logo" style="padding-top:-4px; padding-left:-60px ">
			<img src='../../images/logo.png' height="112px" />
		</div>

		<div class="logo" style="padding-top:8px; padding-left:160px ">
			<img src='../../images/logoLetras.png' />
		</div>

		<header class="page-header">
			<div class="navbar pull-right" style="height: 72px; padding-top:-4px;">
				<div class="pull-right" style="color:white">
					Bem-vindo, <b>{{authentication.nameUser}}</b> &nbsp;&nbsp;&nbsp;&nbsp;
					<a href="login" ng-click="logOut()"><i style="font-size:16px" class="glyphicon glyphicon-off"></i></a>
				</div>
			</div>
		</header>

		<nav id="sidebar" class="sidebar nav-collapse collapse" style="padding-top: 60px">
			<section class="widget" style="height:100%;font-size:11px">
				<ul id="side-nav" class="side-nav" style="color:black">
					<li class="panel active">
						<a class="accordion-toggle " data-toggle="collapse"
						   data-parent="#side-nav" href="#forms-collapse"><span class="name">System</span></a>
						<ul id="forms-collapse" class="panel-collapse collapse in">
							<li><a ui-sref="setup"><span>Setup</span></a></li>
							<li><a ui-sref="users"><span>Users</span></a></li>
							<li><a ui-sref="profiles"><span>Profiles</span></a></li>
							<li><a ui-sref="projects"><span>Projects</span></a></li>
						</ul>
					</li>
				</ul>
			</section>
		</nav>

	</div>
		
	<table align="left" style="width:100%">
		<tr>
			<td>
				<div id="ui-view" style="width:100%" class="container" ui-view></div>
			</td>
		</tr>
	</table>
	
	<script src="scripts/nv.d3.min.js"></script>
	<script src="scripts/angular.treeview.min.js"></script>

	@Scripts.Render("~/bundles/app")

	<script>
		// Version constant
		app.constant('version', '@version');
	</script>

</body>
</html>
