@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">Venda On Line - ConveyNET</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">

        function money(o, f) {

            o.value = f(o.value);

            //v_obj = o;
            //v_fun = f;
            //execmascara();
            //setTimeout("execmascara()", 1);
        }

        function execmascara() {
            v_obj.value = v_fun(v_obj.value);
        }

        function trimStart(character, string) {
            var startIndex = 0;

            while (string[startIndex] === character) {
                startIndex++;
            }

            return string.substr(startIndex);
        }

        function cleanup(strMoney) {
            var ret = '';
            var i = 0;

            for (; i < strMoney.length; i++) {
                var va = strMoney[i];
                if (va == '0') { } else {
                    break;
                    ret += va;
                }
            }

            for (; i < strMoney.length; i++) {
                var va = strMoney[i];
                ret += va;
            }

            return ret;
        }

        function extractNumbers(strMoney) {
            var ret = '';

            for (var i = 0; i < strMoney.length; i++) {
                var va = strMoney[i];

                if (va == '0' || va == '1' || va == '2' || va == '3' || va == '4' || va == '5' || va == '6' || va == '7' || va == '8' || va == '9')
                    ret += va;
            }

            return ret;
        }

        function ValorNum(v) {
            v = v.replace(/\D/g, "") //Remove tudo o que não é dígito

            return v;
        }

        function Valor(v) {
            var extract = extractNumbers(v);
            var clean = cleanup(extract);
            var resp = '';

            switch (clean.length) {
                case 1: resp = '0,0' + clean; break;
                case 2: resp = '0,' + clean; break;
                case 3:
                    {
                        var p1 = clean.substr(0, 1);
                        var p2 = clean.substr(1, 2);

                        resp = p1 + ',' + p2;
                        break;
                    }

                case 4:
                    {
                        var p1 = clean.substr(0, 2);
                        var p2 = clean.substr(2, 2);

                        resp = p1 + ',' + p2;
                        break;
                    }

                case 5:
                    {
                        var p1 = clean.substr(0, 3);
                        var p2 = clean.substr(3, 2);

                        resp = p1 + ',' + p2;
                        break;
                    }

                case 6:
                    {
                        var p1 = clean.substr(0, 1);
                        var p2 = clean.substr(1, 3);
                        var p3 = clean.substr(4, 2);

                        resp = p1 + '.' + p2 + ',' + p3;
                        break;
                    }

                case 7:
                    {
                        var p1 = clean.substr(0, 2);
                        var p2 = clean.substr(2, 3);
                        var p3 = clean.substr(5, 2);

                        resp = p1 + '.' + p2 + ',' + p3;
                        break;
                    }

                case 8:
                    {
                        var p1 = clean.substr(0, 3);
                        var p2 = clean.substr(3, 3);
                        var p3 = clean.substr(6, 2);

                        resp = p1 + '.' + p2 + ',' + p3;

                        break;
                    }

                case 9:
                    {
                        var p1 = clean.substr(0, 1);
                        var p2 = clean.substr(1, 3);
                        var p3 = clean.substr(4, 3);
                        var p4 = clean.substr(7, 2);

                        resp = p1 + '.' + p2 + '.' + p3 + ',' + p4;
                    }

                default: break;
            }

            // console.log('resp: ' + resp);

            return resp;
        }

    </script>

    @Styles.Render("~/bundles/css")

    <script src="/scripts/jquery-2.1.0.min.js"></script>
    <script src="/scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="/scripts/jquery.mousewheel.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-resource.min.js"></script>
    <script src="/scripts/i18n/angular-locale_pt-br.js"></script>
    <script src="/scripts/angular-mocks.js"></script>
    <script src="/scripts/restful-ng-mock.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="/scripts/angular-animate.min.js"></script>
    <script src="/scripts/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-sanitize.min.js"></script>
    <script src="/scripts/loading-bar.min.js"></script>
    <script src="/scripts/spin.min.js"></script>
    <script src="/scripts/angular-spinner.min.js"></script>
    <script src="/scripts/toastr.min.js"></script>
    <script src="/scripts/sortable.js"></script>
    <script src="/scripts/keypress.js"></script>
    <script src="/scripts/angular-strap.min.js"></script>
    <script src="/scripts/angular-strap.tpl.min.js"></script>
    <script src="/scripts/angular-draganddrop.js"></script>
    <script src="/scripts/perfect-scrollbar.js"></script>
    <script src="/scripts/angular-perfect-scrollbar.js"></script>
    <script src="/scripts/select.min.js"></script>
    <script src="/scripts/select2.min.js"></script>
    <script src="/scripts/select2_locale_pt-BR.js"></script>
    <script src="/scripts/angular_select2.js"></script>
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/angular-ui-mask.min.js"></script>
    <script src="/scripts/bindonce.min.js"></script>
    <script src="/scripts/load-image.min.js"></script>
    <script src="/scripts/canvas-to-blob.min.js"></script>
    <script src="/scripts/jquery.blueimp-gallery.min.js"></script>
    <script src="/scripts/jquery.iframe-transport.js"></script>
    <script src="/scripts/jquery.fileupload.js"></script>
    <script src="/scripts/jquery.fileupload-process.js"></script>
    <script src="/scripts/jquery.fileupload-image.js"></script>
    <script src="/scripts/jquery.fileupload-validate.js"></script>
    <script src="/scripts/jquery.fileupload-angular.js"></script>
    <script src="/scripts/angular-ui-tree.min.js"></script>
    <script src="/scripts/ng-currency.js"></script>
    <script src="/scripts/jquery.flot.js"></script>
    <script src="/scripts/jquery.flot.pie.js"></script>
    <script src="/scripts/jquery.flot.categories.js"></script>
    <script src="/app/_shared/filters.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/_shared/directives.js"></script>
    <script src="/app/_shared/directives.validator.js"></script>
    <script src="/app/_shared/filtro/diretivaNgFiltro.js"></script>
    <script src="/app/_shared/paginacao/diretivaNgPaginacao.js"></script>
    <script src="/app/_shared/controllers.js"></script>
    <script src="/app/_shared/HighlightService.js"></script>
    <script src="/app/login/AuthInterceptorService.js"></script>
    <script src="/app/login/AuthService.js"></script>
    <script src="/app/login/LoginController.js"></script>
    <script src="/app/_shared/MenuController.js"></script>
    <script src="/app/_shared/NgSelectsService.js"></script>
    <script src="/app/app.js"></script>

    @Scripts.Render("~/bundles/MyApp")

</head>
<body class="background" ng-cloak>
    <div ng-show="exibirMenu" ng-controller="MenuController">

        <div class="header" ng-if="mobileVersion == false">
            <div class="logo" style="padding-top:-4px; padding-left:-80px">
                <a ng-click="goHome()">
                    <img src='../../images/logo.png' height="90px" />
                </a>
            </div>
            <header class="page-header">
                <div class="navbar" style="height:38px; padding-left:215px;">
                    <table width="100%">
                        <tr>
                            <td width="900px">
                                <table>
                                    <tr>
                                        <td width="290px">
                                            <span ng-if="authentication.tipo == '1'" style="color:black"><h3>Terminal <b>{{authentication.nameUser}}</b></h3></span>
                                            <span ng-if="authentication.tipo == '2'" style="color:black;padding-top:12px">Cartão <b>{{authentication.nameUser}}</b></span>
                                            <div ng-if="authentication.tipo == '3'" style="padding-top:12px">
                                                <b>{{authentication.m1}}</b><br />
                                                {{authentication.m2}}
                                            </div>
                                            <div ng-if="authentication.tipo == '4'" style="padding-top:12px">
                                                <span style="color:black;">
                                                    Bem-vindo, <br>
                                                    <b>{{authentication.nameUser}}</b>
                                                </span>
                                            </div>
                                            <span ng-if="authentication.tipo == '5'" style="color:black">Terminal <b>{{authentication.nameUser}}</b><br />Administração do portal</span>
                                        </td>
                                        <td width="20px"></td>
                                        <td ng-if="authentication.tipo == '4'" style="padding-top:12px">
                                            Emissora: <b>{{authentication.m1}}</b><br />
                                            {{authentication.m2}}
                                        </td>
                                        <td width="40px"></td>
                                        <td align="right" valign="top" style="padding-top:11px">
                                            <br />
                                            <span style="color:black">Sair</span> &nbsp;&nbsp;<a href="login" ng-click="logOut()"><i style="font-size:16px;color: black" class="glyphicon glyphicon-off"></i></a>
                                        <td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>

            <nav id="sidebar" class="sidebar nav-collapse collapse" style="padding-top:6px;padding-left:-200px">

                <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.tipo == '1'">
                    <ul id="side-nav" class="side-nav" style="color:black">
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseAdm"><span class="name">Administrativo</span></a>
                            <ul id="forms-collapseAdm" class="panel-collapse collapse">
                                <li><a ui-sref="mensagens"><span>Mensagens</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseSetup"><span class="name">Vendas</span></a>
                            <ul id="forms-collapseSetup" class="panel-collapse collapse">
                                <li><a ui-sref="venda"><span>Efetuar Venda</span></a></li>
                                <li><a ui-sref="cancelamento"><span>Cancelamento</span></a></li>
                                <li><a ui-sref="relLojistaPends"><span>Pendentes</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseRelatLojista"><span class="name">Relatórios</span></a>
                            <ul id="forms-collapseRelatLojista" class="panel-collapse collapse">
                                <li><a ui-sref="relLojistaTrans"><span>Transações</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul>
                        <li>
                            <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                        </li>
                    </ul>
                    <ul><li></li></ul>
                </section>

                <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.tipo == '2'">
                    <ul id="side-nav" class="side-nav" style="color:black">
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseUsrExtratos"><span class="name">Financeiro</span></a>
                            <ul id="forms-collapseUsrExtratos" class="panel-collapse collapse">
                                <li><a ui-sref="limitesUsr"><span>Limites</span></a></li>
                                <li><a ui-sref="extratosUsr"><span>Extratos</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseUsrRede"><span class="name">Rede</span></a>
                            <ul id="forms-collapseUsrRede" class="panel-collapse collapse">
                                <li><a ui-sref="lojistasUsr"><span>Lojas credenciadas</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul>
                        <li>
                            <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                        </li>
                    </ul>
                    <ul><li></li></ul>
                </section>

                <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.tipo == '3'">
                    <ul id="side-nav" class="side-nav" style="color:black">
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseAdm"><span class="name">Administrativo</span></a>
                            <ul id="forms-collapseAdm" class="panel-collapse collapse">
                                <li><a ui-sref="mensagens"><span>Mensagens</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseSetup"><span class="name">Financeiro</span></a>
                            <ul id="forms-collapseSetup" class="panel-collapse collapse">
                                <li><a ui-sref="gestaoLojistaDemonstrativo"><span>Demonstrativos</span></a></li>
                                <li><a ui-sref="gestaoLojistaRelTrans"><span>Transações</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul>
                        <li>
                            <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                        </li>
                    </ul>
                    <ul><li></li></ul>
                </section>

                <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.tipo == '4'">
                    <ul id="side-nav" class="side-nav" style="color:black">
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpCartoes"><span class="name">Cartões</span></a>
                            <ul id="forms-collapseEmpCartoes" class="panel-collapse collapse">
                                <li><a ui-sref="empListagemCartao"><span>Manutenção de cartões</span></a></li>
                                <li><a ui-sref="empNovoCartao"><span>Novo cartão</span></a></li>
                                <li><a ui-sref="empAltSenha"><span>Alterar senha</span></a></li>
                                <li><a ui-sref="empAltSegVia"><span>Segunda-via</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpBloq"><span class="name">Bloqueios</span></a>
                            <ul id="forms-collapseEmpBloq" class="panel-collapse collapse">
                                <li><a ui-sref="empAltBloq"><span>Bloqueio cartão</span></a></li>
                                <li><a ui-sref="empAltDesbloq"><span>Desbloqueio cartão</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpLim"><span class="name">Limites cartões</span></a>
                            <ul id="forms-collapseEmpLim" class="panel-collapse collapse">
                                <li><a ui-sref="empAltLim"><span>Mensal / Total</span></a></li>
                                <li><a ui-sref="empAltCota"><span>Cota extra</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpRel"><span class="name">Relatórios</span></a>
                            <ul id="forms-collapseEmpRel" class="panel-collapse collapse">
                                <li><a ui-sref="empRelatorios"><span>Opções</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpFech"><span class="name">Fechamento</span></a>
                            <ul id="forms-collapseEmpFech" class="panel-collapse collapse">
                                <li><a ui-sref="empListagemFechamento"><span>Demonstrativos</span></a></li>
                                <li><a ui-sref="empExpFechamento"><span>Exportação</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpLoj"><span class="name">Lojistas</span></a>
                            <ul id="forms-collapseEmpLoj" class="panel-collapse collapse">
                                <li><a ui-sref="empListagemLoja"><span>Listagem</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpAdm"><span class="name">Administração</span></a>
                            <ul id="forms-collapseEmpAdm" class="panel-collapse collapse">
                                <li><a ui-sref="empListagemUsuario"><span>Usuários</span></a></li>
                                <li><a ui-sref="empAltSenhaUsuario"><span>Troca de senha</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul>
                        <li>
                            <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                        </li>
                    </ul>
                    <ul><li></li></ul>
                </section>

                <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.tipo == '5'">
                    <ul id="side-nav" class="side-nav" style="color:black">
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseSystem"><span class="name">Configuração</span></a>
                            <ul id="forms-collapseSystem" class="panel-collapse collapse">
                                <li><a ui-sref="empresas"><span>Empresas</span></a></li>
                                <li><a ui-sref="lojas"><span>Lojistas</span></a></li>
                                <li><a ui-sref="admopers"><span>Pendências</span></a></li>
                                <li><a ui-sref="admoperslimites"><span>Limites</span></a></li>
                                <li><a ui-sref="admopersativagrafica"><span>Ativação Cartões</span></a></li>
                                <li><a ui-sref="admoperslanctx"><span>Despesas Admin.</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseRel"><span class="name">Relatórios</span></a>
                            <ul id="forms-collapseRel" class="panel-collapse collapse">
                                <li><a ui-sref="dashboard"><span>Dashboard</span></a></li>
                                <li><a ui-sref="relAssociados"><span>Associados</span></a></li>
                                <li><a ui-sref="empRelatorios"><span>Opções</span></a></li>
                            </ul>
                        </li>
                        <li class="panel">
                            <a class="accordion-toggle " data-toggle="collapse"
                               data-parent="#side-nav" href="#forms-collapseEmpFech"><span class="name">Fechamento</span></a>
                            <ul id="forms-collapseEmpFech" class="panel-collapse collapse">
                                <li><a ui-sref="empListagemFechamento"><span>Demonstrativos</span></a></li>
                                <li><a ui-sref="empExpFechamento"><span>Exportação</span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul><li>&nbsp;</li></ul>
                    <ul>
                        <li>
                            <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                        </li>
                    </ul>
                    <ul><li></li></ul>
                </section>

            </nav>
        </div>
    </div>

    <table align="left" style="width:100%">
        <tr>
            <td>
                <div id="ui-view" style="width:100%" ui-view></div>
            </td>
        </tr>
    </table>
    
    <script>
		app.constant('version', '@version'); // Version constant
    </script>
</body>
</html>