@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="title">Venda On Line - ConveyNET</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<meta name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>*@
	@Styles.Render("~/bundles/css")
	@Scripts.Render("~/bundles/scripts")
</head>
<body class="background" ng-cloak>
	<div class="header" ng-show="exibirMenu" ng-controller="MenuController">
		<div class="logo" style="padding-top:-4px; padding-left:-80px">
			<a ng-click="goHome()">
				<img src='../../images/logo.png' height="90px" />
			</a>
		</div>
		<header class="page-header">
			<div class="navbar" style="height:38px; padding-left:215px;">
				<table width="100%" >
					<tr>
						<td width="900px">
                            <table>
                                <tr>
                                    <td >
                                        <span style="color:black"><h3>Terminal <b>{{authentication.nameUser}}</b></h3></span>
                                    </td>
                                    <td width="20px"></td>
                                    <td style="padding-top:12px">
                                        <b>{{authentication.m1}}</b><br />
                                        {{authentication.m2}}
                                    </td>
                                </tr>
                            </table>
						</td>						
						<td align="right">
                            <br />
							<span style="color:white">Sair</span> &nbsp;&nbsp;<a href="login" ng-click="logOut()"><i style="font-size:16px" class="glyphicon glyphicon-off"></i></a>
						<td>
					</tr>
				</table>
			</div>
		</header>
		<nav id="sidebar" class="sidebar nav-collapse collapse" style="padding-top:6px;padding-left:-200px">
			
            <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.nameUser == 'DBA'">
				<ul id="side-nav" class="side-nav" style="color:black">
					<li class="panel">
						<a class="accordion-toggle " data-toggle="collapse"
						   data-parent="#side-nav" href="#forms-collapseSystem"><span class="name">Configuração</span></a>
						<ul id="forms-collapseSystem" class="panel-collapse collapse">
							<li><a ui-sref="lojas"><span>Lojistas</span></a></li>
                        </ul>
					</li>
				</ul>
				<ul><li>&nbsp;</li></ul>
				<ul><li>&nbsp;</li></ul>
				<ul>
					<li>
						<span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
					</li>
				</ul>
				<ul><li></li></ul>
			</section>			
            
            <section class="widget" style="height:100%;font-size:11px" ng-if="authentication.nameUser != 'DBA'">
                <ul id="side-nav" class="side-nav" style="color:black">
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseSystem"><span class="name">Associado</span></a>
                        <ul id="forms-collapseSystem" class="panel-collapse collapse">
                            <li><a ui-sref="associado"><span>Verificar cartão</span></a></li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a class="accordion-toggle " data-toggle="collapse"
                           data-parent="#side-nav" href="#forms-collapseSetup"><span class="name">Vendas</span></a>
                        <ul id="forms-collapseSetup" class="panel-collapse collapse">
                            <li><a ui-sref="venda"><span>Efetuar Venda</span></a></li>
                            <li><a ui-sref="cancelamento"><span>Cancelamento</span></a></li>
                            <li><a ui-sref=""><span>Transações</span></a></li>
                            <li><a ui-sref=""><span>Comprovantes</span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul><li>&nbsp;</li></ul>
                <ul><li>&nbsp;</li></ul>
                <ul>
                    <li>
                        <span style="color:grey;text-align:center;padding-left:20px">Version {{version}}</span>
                    </li>
                </ul>
                <ul><li></li></ul>
            </section>			
		</nav>
	</div>
	<table align="left" style="width:100%">
		<tr>
			<td>
				<div id="ui-view" style="width:100%" ui-view></div>
			</td>
		</tr>
	</table>
	@Scripts.Render("~/bundles/app")
	<script>
		app.constant('version', '@version'); // Version constant
	</script>
</body>
</html>