<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>DBA \ Demonstrativo de <b>Faturamento</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                    <td width="20px"></td>
                </tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white" width="590px">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="70px"><b>Selecione</b></td>
                    <td width="180px">
                        <label style="display:block;"><input type="radio" name="tipo" id="tipoDemonstrativo" value="1" ng-model="campos.tipoDemonstrativo"> Emissora</label>
                        <label style="display:block;"><input type="radio" name="tipo" id="tipoDemonstrativo" value="2" ng-model="campos.tipoDemonstrativo"> Lojistas</label>
                    </td>
                    <td width="25px"></td>
                    <td width="60px">
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Código</b></td>
                    <td>
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.codigo" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Ano</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.ano" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Mês</b></td>
                    <td>
                        <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="selectMeses" ng-model="campos.mes" />
                    </td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr height="22px"> </tr>
            </table>
            <br />
            <div ng-show="list.length > 0">
                <input type="submit" class="btn btn-info" value="Exportar" ng-if="list.length > 0" ng-click="exportar()"><br />
                <br />
                CONVEYNET SERVIÇOS<br />
                <h3>RELATORIO DE FATURAMENTO</h3>
                DATA EMISSÃO: {{dtEmissao}}<br />
                DATA VENCIMENTO:  {{dtVencimento}}<br />
                PERIODO FATURAMENTO: {{perFatIni}} ATÉ {{perFatFim}}<br />
                <br />
                TOTAL A FATURAR: <b>{{totalFat}}</b><br />
                <br />
                <table class="table table-hover" style="width:1200px">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Social</th>
                            <th>Dia Fat.</th>
                            <th>Total</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                        <td>{{ mdl.codigo }}</td>
                        <td>{{ mdl.nome }}</td>
                        <td>{{ mdl.social }}</td>
                        <td>{{ mdl.dia_venc }}</td>
                        <td>{{ mdl.total }}</td>
                        <td>
                            <table style="width:500px">
                                <tr data-ng-repeat="itemFat in mdl.detalhes">
                                    <td>
                                        {{ itemFat.item }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />

                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>
</div>
