
<div class="form-group" style="color:white;">
	<table>
		<tr height="12px"> </tr>
        <tr height="36px">
            <td width="20px"></td>
            <td width="120px"><b>Nome da loja</b></td>
            <td>
                <input type="text" focus="true"
                       class="form-control input-transparent"
                       ng-model="filtro.campos.busca" />
            </td>
            <td width="60px"></td>
            <td width="120px"><b>Terminal</b></td>
            <td width="90px">
                <input type="text" numeric-only maxlength="6"
                       class="form-control input-transparent"
                       ng-model="filtro.campos.terminal" />
            </td>
        </tr>
        <tr height="36px">
            <td ></td>
            <td ><b>Cidade</b></td>
            <td>
                <input type="text" 
                       class="form-control input-transparent"
                       ng-model="filtro.campos.cidade" />
            </td>
            <td ></td>
            <td ><b>Estado</b></td>
            <td >
                <input type="text" 
                       class="form-control input-transparent"
                       ng-model="filtro.campos.estado" />
            </td>
        </tr>
		<tr height="36px">
			<td ></td>
			<td ><b>Situação</b></td>
			<td>
                <br />
                <input type="radio" value="false" ng-model="filtro.campos.bloqueada"> Ativa
                <br />
                <input type="radio" value="true" ng-model="filtro.campos.bloqueada"> Bloqueada
                <br />
                <input type="radio" value="undefined" ng-model="filtro.campos.bloqueada"> (Ambos)
			</td>
			<td ></td>
			<td ><b>Tipo Venda</b></td>
			<td >
                <br />
                <input type="radio" value="true" ng-model="filtro.campos.comSenha"> Com senha   
                <br />
                <input type="radio" value="false" ng-model="filtro.campos.comSenha"> Sem senha
                <br />
                <input type="radio" value="undefined" ng-model="filtro.campos.comSenha"> (Ambos)
			</td>
		</tr>
	</table>
</div>