<div class="webFormPosition" style="width:90%">
	<section class="widgetForm" style="width:90%">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Listagem de <b>Lojistas </b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                    <td width="80px"></td>
                    <td><input type="submit" class="btn btn-success pull-right" value="Nova loja" ng-click="new()"></td>
                    <td width="20px"></td>
                </tr>
				<tr height="12px"></tr>
			</table>
		</legend>
        <div class="divWebForm" style="width:98%">
            <table>
                <tr height="12px"> </tr>
                <tr height="36px">
                    <td width="120px"><b>Nome Fantasia</b></td>
                    <td width="230px">
                        <input type="text" focus="true"
                               class="form-control input-transparent"
                               ng-model="campos.busca" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"><b>Código Loja</b></td>
                    <td width="230px">
                        <input type="text" numeric-only maxlength="6"
                               class="form-control input-transparent"
                               ng-model="campos.terminal" />
                    </td>
                </tr>
                <tr height="36px">
                    <td><b>Empresa</b></td>
                    <td>
                        <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="selectEmpresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td></td>
                    <td><b>Razão Social</b></td>
                    <td>
                        <input type="text" numeric-only maxlength="30"
                               class="form-control input-transparent"
                               ng-model="campos.nomeSocial" />
                    </td>
                </tr>
                <tr height="36px">
                    <td><b>CNPJ</b></td>
                    <td>
                        <input type="text" focus="true"
                               class="form-control input-transparent"
                               ng-model="campos.cnpj" />
                    </td>
                </tr>
                <tr height="36px">
                    <td><b>Cidade</b></td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent"
                               ng-model="campos.cidade" />
                    </td>
                    <td></td>
                    <td><b>Estado</b></td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent"
                               ng-model="campos.estado" />
                    </td>
                </tr>                
                <tr height="36px">
                    <td><b>Situação</b></td>
                    <td>
                        <br />
                        <input type="radio" value="false" ng-model="campos.bloqueada"> Ativa
                        <br />
                        <input type="radio" value="true" ng-model="campos.bloqueada"> Bloqueada
                        <br />
                        <input type="radio" value="undefined" ng-model="campos.bloqueada"> (Ambos)
                    </td>
                    <td></td>
                    <td><b>Tipo Venda</b></td>
                    <td>
                        <br />
                        <input type="radio" value="true" ng-model="campos.comSenha"> Com senha
                        <br />
                        <input type="radio" value="false" ng-model="campos.comSenha"> Sem senha
                        <br />
                        <input type="radio" value="undefined" ng-model="campos.comSenha"> (Ambos)
                    </td>
                </tr>
                <tr height="22px"></tr>
            </table>

            <input type="submit" class="btn btn-info" value="Pesquisar" ng-click="search()">
                <br />
                <div ng-show="list.length == 0">
                    <br />
                    <br />
                    <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                    <br />
                    <br />
                </div>
                <div ng-show="list.length > 0" style="width:100%">
                    <br />
                    <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                    <br />
                    <table class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th width="80px">Código</th>
                                <th width="120px">CNPJ</th>
                                <th width="260px">Nome loja / Social</th>
                                <th width="120px">Cidade / Estado</th>
                                <th width="80px">Situação</th>
                                <th width="80px">Tipo Venda</th>
                                <th width="120px">Terminais</th>
                                <th width="150px">Empresas</th>
                                <th>Dados Bancários</th>
                            </tr>
                        </thead>
                        <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                            <td>{{ mdl.terminal }}</td>
                            <td>{{ mdl.nu_CNPJ }}</td>
                            <td>
                                -{{ mdl.nome }} <br />
                                -{{ mdl.st_social }}
                            </td>
                            <td>
                                {{ mdl.cidade }} <br />
                                {{ mdl.estado }}
                            </td>
                            <td>{{ mdl.situacao }}</td>
                            <td>{{ mdl.tipoVenda }}</td>
                            <td>{{ mdl.strTerminais }}</td>
                            <td>{{ mdl.strEmpresas }}</td>
                            <td>                                
                                <div ng-if="mdl.banco.length > 0">
                                    {{ mdl.banco }}<br />{{mdl.agencia}} - {{mdl.conta}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>                        
            <input type="submit" class="btn btn-info" value="Exportar" ng-if="list.length > 0" ng-click="exportar()"><br />
            <br />
        </div>
	</section>
</div>

<br />
<br />
<br />

