<div class="webFormPostion">
	<section class="widgetForm" style="width:950px; height:100%">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>
						<span ng-show="viewModel.id == undefined">Novo </span> DBA \ Loja \ <i class="fa fa-spinner fa-spin" ng-show="loading"></i> <b><span class="btn-success" ng-show="viewModel.id > 0"> &nbsp;{{viewModel.nome}}&nbsp;</span></b>
					</td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
				<tab heading="Configuração">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table>
							<thead>
								<tr>
									<th width="24px"></th>
									<th width="120px"></th>
									<th width="20px"></th>
									<th width="240px"></th>
								</tr>
							</thead>
							<tr height="28px"></tr>
							<tr height="40px">
								<td></td>
								<td>Nome da loja</td>
								<td>
									<button class="btn btn-xs btn-danger" ng-show="nome_fail">!</button>
								</td>
								<td>
									<input type="text" class="form-control input-transparent" maxlength="150"
										   ng-model="viewModel.nome">
								</td>
							</tr>
                            <tr height="40px">
                                <td></td>
                                <td>Terminal</td>
                                <td>
                                    <button class="btn btn-xs btn-danger" ng-show="terminal_fail">!</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-transparent" maxlength="6"
                                           ng-model="viewModel.terminal">
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>Cidade</td>
                                <td>
                                    <button class="btn btn-xs btn-danger" ng-show="cidade_fail">!</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-transparent" 
                                           ng-model="viewModel.cidade">
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>Estado</td>
                                <td>
                                    <button class="btn btn-xs btn-danger" ng-show="estado_fail">!</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-transparent" 
                                           ng-model="viewModel.estado">
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>Situação</td>
                                <td>
                                    
                                </td>
                                <td>
                                    <br />
                                    <input type="radio" value="1" ng-model="viewModel.tg_blocked"> Bloqueada
                                    <br />
                                    <input type="radio" value="0" ng-model="viewModel.tg_blocked"> Ativa
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>Com senha</td>
                                <td></td>
                                <td>
                                    <br />
                                    <input type="radio" value="1" ng-model="viewModel.tg_portalComSenha"> Sim
                                    <br />
                                    <input type="radio" value="0" ng-model="viewModel.tg_portalComSenha"> Não
                                </td>
                            </tr>
							<tr height="20px"></tr>							
						</table>
					</div>
				</tab>				
			</tabset>
			<br />
			<br />
			<table>
				<tr>
					<td><button class="btn btn-default" ng-click="list()">Cancelar</button> </td>
					<td width="34px"></td>
					<td><button class="btn btn-primary" ng-click="save()">Salvar</button></td>
				</tr>
			</table>
			<br />
			<br />
		</div>
	</section>
</div>
