<div class="webFormPosition">
    <section class="widgetForm" style="width:680px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Bloqueios em lote para <b>cartão convênio</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" ng-if="id == undefined">            
            <table>
                <tr height="53px">
                    <td width="130px" valign="top">
                        <b>Matrículas</b>
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="mat_fail">!</button>
                    </td>
                    <td width="120px"  valign="top">
                        <textarea class="form-control input-transparent" rows="8" ng-model="campos.mat" />
                    </td>
                    <td width="20px"></td>
                    <td valign="top">
                        <button class="btn btn-primary" ng-click="confirmar()">Bloquear</button>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
            <br />
        </div>
    </section>
</div>
