<div class="webFormPostion">
    <section class="widgetForm" style="width:780px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Alteração de <b>Cota Extra</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="padding-left:32px">
            <label style="display:block;"><input type="radio" name="status" value="1" ng-model="tipoCota"> Individual</label>
            <label style="display:block;"><input type="radio" name="status" value="2" ng-model="tipoCota"> Todos</label>
            <br />
            <!--individual-->
            <div ng-if="tipoCota == 1">
                <div ng-if="id == undefined">
                    <table>
                        <tr height="53px">
                            <td width="130px">
                                <b>Matrícula</b>
                            </td>
                            <td width="20px">
                                <button class="btn btn-xs btn-danger" ng-show="mat_fail">!</button>
                            </td>
                            <td width="120px">
                                <input type="text"
                                       class="form-control input-transparent"
                                       maxlength="6" numeric
                                       ng-model="campos.mat" />
                            </td>
                            <td width="20px"></td>
                            <td>
                                <button class="btn btn-primary" ng-click="buscar()">Buscar</button>
                            </td>
                        </tr>
                        <tr ng-if="campos.id > 0" height="43px">
                            <td>
                                <b>Associado</b>
                            </td>
                            <td></td>
                            <td>
                                <b>{{campos.nomeCartao}}</b>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="campos.id > 0" height="43px">
                            <td> <b>Limite Mensal</b></td>
                            <td> </td>
                            <td>
                                {{campos.limMes}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="campos.id > 0" height="43px">
                            <td> <b>Limite Total</b></td>
                            <td> </td>
                            <td>
                                {{campos.limTot}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="campos.id > 0" height="43px">
                            <td> <b>Cota Extra atual</b></td>
                            <td> </td>
                            <td>
                                {{campos.limCota}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr height="12px"></tr>
                        <tr ng-if="campos.id > 0" height="43px">
                            <td> <b>Nova Cota Extra</b></td>
                            <td> <button class="btn btn-xs btn-danger" ng-show="novaCota_fail">!</button></td>
                            <td>

                                <input type="text"
                                       class="form-control input-transparent"
                                       maxlength="12"
                                       ng-model="campos.novaCota" />

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <button ng-if="campos.id > 0" class="btn btn-primary" ng-click="confirmar()">Alterar cota-extra</button>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <!--total-->
            <div ng-if="tipoCota == 2">

                <br />
                <table >
                    <tr>
                        <td>
                            <button class="btn btn-primary" ng-click="listar()">Listar associados</button><br />
                        </td>
                        <td width="20px"></td>
                        <td ng-if="list != undefined">
                            <button class="btn btn-default" ng-click="marcarTodos()">Marcar todos</button><br />
                        </td>
                        <td width="20px"></td>
                        <td ng-if="list != undefined">
                            <button class="btn btn-default" ng-click="desmarcarTodos()">Desmarcar todos</button><br />
                        </td>
                    </tr>
                </table>
                <br />

                <!--lista-->
                <div ng-if="list.length > 0" style="width:400px">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="min-width:120px;">Cartão.TIT.Via</th>
                                <th style="min-width:320px;">Associado</th>
                                <th style="min-width:70px;">Cota</th>
                                <th style="min-width:100px;">Selecionado</th>
                            </tr>
                        </thead>
                        <tr ng-click="marcar(mdl)" data-ng-repeat="mdl in list">
                            <td>{{ mdl.cartaoTitVia }} </td>
                            <td>
                                <span ng-if="mdl.selecionado == true">{{ mdl.associado }}</span>
                                <span ng-if="mdl.selecionado == false" style="background-color:white;color:black"><b>{{ mdl.associado }}</b></span>
                            </td>
                            <td>{{ mdl.limCota }} </td>
                            <td>{{ mdl.selecionado == true ? 'Sim' : 'Não' }} </td>
                        </tr>
                    </table>
                    <table>
                        <tr height="12px"></tr>
                        <tr height="43px">
                            <td width="130px"> <b>Cota Extra geral</b></td>
                            <td width="20px"> <button class="btn btn-xs btn-danger" ng-show="novaCota_fail">!</button></td>
                            <td width="120px">
                                <input type="text"
                                       class="form-control input-transparent"
                                       maxlength="12"
                                       ng-model="campos.novaCota" />

                            </td>
                        </tr>
                    </table>
                    <br />
                    <button ng-if="list.length > 0" class="btn btn-primary" ng-click="confirmarTodos()">Alterar cota-extra</button>
                </div>

                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>
</div>

<br />
<br />
<br />
<br />

<div class="modal-backdrop"
     ng-if="modal == true"
     style="background: rgba(55, 55, 55, 0.5 );">
    <div class="modal-dialog" style="width:500px">
        <br />
        <br />
        <br />
        <br />
        <div class="modal-content" style="color:black">
            <h3>Cota extra alterada com sucesso!</h3>
            <br />
            <br />
            <button class="btn btn-info" ng-click="fecharModal()">Fechar</button>
            <br />
        </div>
    </div>
</div>

<div class="modal-backdrop"
     ng-if="modalConf == true"
     style="background: rgba(55, 55, 55, 0.5 );">
    <div class="modal-dialog" style="width:500px">
        <br />
        <br />
        <br />
        <br />
        <div class="modal-content" style="color:black">
            <h3>Alteração de cota extra</h3>
            Confirmar alteração de cota extra de todos os cartões selecionados?<br />
            <br />
            <br />
            <br />
            <button class="btn btn-default" ng-click="cancelarModalConf()">Cancelar</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info" ng-click="fecharModalConf()">Confirmar</button>
            <br />
        </div>
    </div>
</div>
