<div class="webFormPostion">
    <section class="widgetForm" style="width:680px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Associado \ Alteração de <b>Senha</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" ng-if="id == undefined">            
            <table>
                <tr height="53px">
                    <td width="130px">
                        <b>Matrícula</b>
                    </td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="mat_fail">!</button>
                    </td>
                    <td width="120px">
                        <input type="text"
                               class="form-control input-transparent"
                               maxlength="6" numeric
                               ng-model="campos.mat" />
                    </td>
                    <td width="20px"></td>
                    <td>
                        <button class="btn btn-primary" ng-click="buscar()">Buscar</button>
                    </td>
                </tr>
                <tr ng-if="campos.id > 0" height="43px"> 
                    <td>
                        <b>Associado</b></td>
                    <td></td>
                    <td colspan="3"><b>{{campos.nomeCartao}}</b></td>                    
                </tr>
                <tr ng-if="campos.id > 0" height="43px">
                    <td> <b>Nova senha</b></td>
                    <td> <button class="btn btn-xs btn-danger" ng-show="senha_fail">!</button></td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent" 
                               maxlength="4" numeric 
                               ng-model="campos.novaSenha" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <br />
            <br />
            <button ng-if="campos.id > 0" class="btn btn-primary" ng-click="confirmar()">Alterar senha</button>
            <br />
            <br />
            <br />
            <br />
        </div>
    </section>
</div>

<div class="modal-backdrop"
     ng-if="modal == true"
     style="background: rgba(55, 55, 55, 0.5 );">
    <div class="modal-dialog" style="width:500px">
        <br />
        <br />
        <br />
        <br />
        <div class="modal-content" style="color:black">
            <h3>Senha alterada com sucesso!</h3>
            <br />
            <br />
            <button class="btn btn-info" ng-click="fecharModal()">Fechar</button>
            <br />
        </div>
    </div>
</div>