<div class="webFormPostion" style="width:95%">
    <section class="widgetForm" style="width:100%">
        <legend class="legendTop" style="width:100%">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Autorização de <b>Procedimento</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebFormListing" style="padding-left:35px;">
            <table>
                <tr>
                    <td valign="top">
                        <h3>Selecione o cartão</h3>
                        <br />
                        <table class="widget" style="color:white">
                            <tr height="22px" />
                            <tr height="36px">
                                <td width="25px"></td>
                                <td width="500px">
                                    <table width="430px">
                                        <tr>
                                            <td width="90px"><b>Dígitos:</b></td>
                                            <td width="90px"><input type="text" focus="true" class="form-control input-transparent" ng-model="campos.cartEmp" maxlength="6" /></td>
                                            <td width="30px"></td>
                                            <td width="90px"><input type="text" class="form-control input-transparent" ng-model="campos.cartMat" maxlength="6" /></td>
                                            <td width="30px"></td>
                                            <td width="70px"><input type="text" class="form-control input-transparent" ng-model="campos.cartCA" maxlength="4" /></td>
                                            <td width="30px"></td>
                                            <td width="70px"><input type="text" class="form-control input-transparent" ng-model="campos.cartTitVia" maxlength="4" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" width="60px">
                                    <button type="submit" class="btn btn-primary" ng-click="buscarCartao()">Pesquisa</button>
                                </td>
                                <td width="60px"></td>
                            </tr>
                            <tr height="22px"></tr>
                            <tr ng-if="associado != undefined">
                                <td></td>
                                <td>
                                    <table class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Matrícula</th>
                                                <th>Nome do associado</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>{{ associado.nuMatricula }}</td>
                                            <td>{{ associado.stName }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-if="associado != undefined" height="22px"></tr>
                        </table>

                        <div ng-if="associado != undefined">
                            <h3>Selecione o credenciado</h3>
                            <br />
                            <table class="widget" style="color:white" width="900px" >

                                <tr height="22px" />

                                <tr height="36px">
                                    <td width="25px"></td>
                                    <td width="900px">
                                        <table width="430px">
                                            <tr>
                                                <td width="130px"><b>Especialidade</b></td>
                                                <td width="250px"><input type="text" focus="true" class="form-control input-transparent" ng-model="campos.credEspec" maxlength="20" /></td>
                                                <td width="90px"></td>
                                                <td width="90px"><b>Nome</b></td>
                                                <td width="250px"><input type="text" focus="true" class="form-control input-transparent" ng-model="campos.nomeCred" maxlength="30" /></td>
                                                <td width="30px"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" width="60px">
                                        <button type="submit" class="btn btn-primary" ng-click="buscarCred()">Pesquisa</button>
                                    </td>
                                    <td width="60px"></td>
                                </tr>

                                <tr height="22px"></tr>

                                <tr>
                                    <td></td>
                                    <td colspan="2">
                                        <div ng-show="listCred.length == 0">
                                            <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                            <br />
                                            <br />
                                        </div>
                                        <div ng-show="listCred.length > 0">
                                            <br />
                                            <table class="table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th width="20px"></th>
                                                        <th width="70px">Código</th>
                                                        <th width="200px">Nome</th>
                                                        <th width="120px">Especialização</th>
                                                        <th width="300px">Endereço</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-if="(selecionouCred > 0 && mdlCred.nuCodigo == selecionouCred) || selecionouCred == null" data-ng-repeat="mdlCred in listCred">
                                                    <td><input type="checkbox" ng-checked="mdlCred.selecionado" ng-click="marcarCred(mdlCred)" /></td>
                                                    <td>{{ mdlCred.nuCodigo }}</td>
                                                    <td>{{ mdlCred.stNome }}</td>
                                                    <td>{{ mdlCred.sfkEspecialidade }}</td>
                                                    <td>{{ mdlCred.end }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <br />
                                    </td>
                                    <td></td>
                                </tr>
                            </table>

                            <div ng-if="selecionouCred != undefined">

                                <h3>Selecione o procedimento</h3>
                                <br />

                                <table class="widget" style="color:white" width="900px">
                                    <tr height="22px">
                                        <td width="25px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="60px"></td>
                                        <td width="110px"></td>
                                        <td width="130px"></td>
                                        <td width="60px"></td>
                                        <td width="110px"></td>
                                        <td width="60px"></td>
                                    </tr>
                                    <tr height="36px">
                                        <td></td>
                                        <td><b>Código</b></td>
                                        <td>
                                            <input type="text" class="form-control input-transparent" ng-model="campos.codigo" />
                                        </td>
                                        <td></td>
                                        <td><b>Procedimento</b></td>
                                        <td>
                                            <input type="text" class="form-control input-transparent" ng-model="campos.procedimento" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr height="36px">
                                        <td></td>
                                        <td colspan="7">
                                            <table>
                                                <tr>
                                                    <td width="20px"><input type="checkbox" class="form-control input-transparent" checked ng-model="campos.aut" /></td>
                                                    <td> Somente procedimentos autorizados pela associação</td>
                                                </tr>
                                            </table>
                                            <div ng-show="list.length == 0">
                                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                                <br />
                                                <br />
                                            </div>
                                            <div ng-show="list.length > 0">
                                                <ng-paginacao ng-if="(selecionouProc > 0 && mdl.nuCodTUSS == selecionouProc) || selecionouProc == null"
                                                              carregar="load"
                                                              list="list"
                                                              total="total"
                                                              itensporpagina="itensporpagina"
                                                              paginador="paginador">
                                                </ng-paginacao>
                                                <br />
                                                <table class="table table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Código</th>
                                                            <th>Desc. Grupo / Desc. Sub-Grupo </th>
                                                            <th>Procedimento</th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-if="(selecionouProc > 0 && mdl.nuCodTUSS == selecionouProc) || selecionouProc == null" data-ng-repeat="mdl in list">
                                                        <td><input type="checkbox" ng-checked="mdl.selecionado" ng-click="marcar(mdl)" /></td>
                                                        <td>{{ mdl.nuCodTUSS }}</td>
                                                        <td>{{ mdl.stDescricaoGP }}<br />{{ mdl.stDescricaoSubGP }}</td>
                                                        <td>{{ mdl.stProcedimento }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <br />
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr height="22px"> </tr>
                                </table>
                            </div>
                        </div>
                    <br />
                <button ng-if="associado != undefined && selecionouCred != undefined && selecionouProc != undefined"
                        type="submit" class="btn btn-lg btn-success"
                        ng-click="abreSenha()">
                    Autorizar Procedimento
                </button>
        </div>

        <div class="modal-backdrop"
             ng-if="pedirSenha == true"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:500px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">
                        Senha do associado
                        <button class="btn btn-transparent btn-lg pull-right" ng-click="closeModalSenha()"> X </button> &nbsp;
                    </legend>

                    <br />
                    <table class="widget">
                        <tr height="22px"></tr>
                        <tr>
                            <td width="20px"></td>
                            <td width="120px">Senha</td>
                            <td width="90px">
                                <input type="password" ng-model="campos.senhaCartao" />
                            </td>
                            <td width="20px"></td>
                        </tr>
                        <tr height="22px"></tr>
                    </table>
                    <br />

                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="closeModalSenha()"> Cancelar </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success" ng-disabled="campos.senhaCartao.length != 4" ng-click="autorizar()"> Autorizar </button>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

    </section>
</div>