<div class="webFormPostion">
    <section class="widgetForm" style="width:925px; height:100%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>
                        Cadastros \ Credenciado \ <i class="fa fa-spinner fa-spin" ng-show="loading"></i> <b><span class="btn-success" ng-show="viewModel.id > 0"> &nbsp;{{viewModel.stNome}}&nbsp;</span></b>
                    </td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
                <tab heading="Cadastro">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table>
                            <thead>
                                <tr>
                                    <th width="20px"></th>
                                    <th width="140px"></th>
                                    <th width="20px"></th>
                                    <th width="480px"></th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tr height="22px"></tr>
                            <tr height="40px">
                                <td></td>
                                <td>
                                    <b>Código</b>
                                </td>
                                <td></td>
                                <td>
                                    {{viewModel.nuCodigo}}
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>
                                    <b>Nome</b>
                                </td>
                                <td></td>
                                <td>
                                    {{viewModel.stNome}}
                                </td>
                            </tr>
                            <tr height="40px">
                                <td></td>
                                <td>
                                    <b>CPF</b>
                                </td>
                                <td></td>
                                <td>
                                    {{viewModel.stCnpj}}
                                </td>
                                <td></td>
                            </tr>
                            <tr height="46px"></tr>
                        </table>
                    </div>
                </tab>
                <tab heading="Procedimentos [{{viewModel.procedimentos.length}}]" ng-if="viewModel.id != undefined">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table width="100%">
                            <tr height="12px"></tr>
                            <tr>
                                <td width="20px"></td>
                                <td>
                                    <legend style="color:white">
                                        Procedimentos TUSS disponíveis
                                        <!--<button class="btn btn-info btn-xs pull-right" ng-click="addNewProcedimento()"><i class="fa fa-plus"> </i> Adicionar </button>-->
                                    </legend>
                                    <div ng-show="viewModel.procedimentos.length == 0 && addProcedimento == false">
                                        <br />
                                        <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                    </div>
                                    <div ng-if="addProcedimento == true">
                                        <table>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr height="42px">
                                                            <td width="120px">
                                                                <b>Código TUSS</b>
                                                            </td>
                                                            <td width="20px">
                                                                <button class="btn btn-xs btn-danger" ng-show="tuss_fail">!</button>
                                                            </td>
                                                            <td width="200px">
                                                                <input type="text" class="form-control input-transparent" maxlength="100" ng-model="newProcedimento.nuTUSS">
                                                            </td>
                                                            <td width="20px"></td>
                                                            <td width="120px">
                                                                <button class="btn btn-primary" ng-click="buscaTUSS()">Buscar</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">{{nomeTuss}}</td>
                                                        </tr>
                                                        <tr height="22px"></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <button class="btn btn-default" ng-click="cancelProcedimento()">Cancelar </button> &nbsp;<button class="btn btn-primary" ng-click="saveNewProcedimento()">Salvar </button>
                                        <br />
                                        <br />
                                    </div>
                                    <div ng-show="viewModel.procedimentos.length > 0">
                                        <br />
                                        <table class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>TUSS</th>                                                    
                                                    <th>R$ Valor</th>
                                                    <th>R$ Co-part.</th>
                                                    <th>Máx. Mês</th>
                                                    <th>Máx. Ano</th>
                                                    <th>Parcs.</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in viewModel.procedimentos">
                                                <td>{{ mdl.nuTUSS }}</td>
                                                <td>{{ mdl.svrProcedimento }}</td>
                                                <td>{{ mdl.svrCoPart }}</td>
                                                <td>{{ mdl.nuMaxMes }}</td>
                                                <td>{{ mdl.nuMaxAno }}</td>
                                                <td>{{ mdl.nuParcelas }}</td>
                                                <!--<td>
                                                    <div class="pull-right">
                                                        <a href="" role="button" ng-click="removeProcedimento($index, viewModel.procedimentos)">
                                                            <i class="glyphicon glyphicon-remove" style="color:white"></i>
                                                        </a>
                                                    </div>

                                                    <div class="modal-backdrop"
                                                         ng-if="modalProcedimento == true"
                                                         style="background: rgba(55, 55, 55, 0.5 );">
                                                        <div class="modal-dialog" style="width:500px">
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <div class="modal-content" style="color:black">
                                                                <legend style="color:black">
                                                                    Remoção de TUSS
                                                                    <button class="btn btn-transparent btn-lg pull-right" ng-click="closeModalProcedimento()"> X </button> &nbsp;
                                                                </legend>
                                                                Confirma remoção do código TUSS abaixo?<br /><br />
                                                                -{{delProcedimento.nuCodTUSS}}<br />
                                                                <br />
                                                                <br />
                                                                <div class="pull-right">
                                                                    <button class="btn btn-primary" ng-click="removerProcedimentoModal()"> Remover </button>
                                                                </div>
                                                                <br />
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>-->
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td width="20px"></td>
                            </tr>
                        </table>
                    </div>
                </tab>
                <tab heading="Telefones [{{viewModel.phones.length}}]" ng-if="viewModel.id != undefined">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table width="100%">
                            <tr height="12px"></tr>
                            <tr>
                                <td width="20px"></td>
                                <td>
                                    <legend style="color:white">Lista de telefones</legend>
                                    <div ng-show="viewModel.phones.length == 0">
                                        <br />
                                        <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                    </div>
                                    <div ng-show="viewModel.phones.length > 0">
                                        <br />
                                        <table class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Telefone</th>
                                                    <th>Local</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in viewModel.phones">
                                                <td>{{ mdl.stPhone }}</td>
                                                <td>{{ mdl.stDescription }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td width="20px"></td>
                            </tr>
                        </table>
                    </div>
                </tab>
                <tab heading="Emails [{{viewModel.emails.length}}]" ng-if="viewModel.id != undefined">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table width="100%">
                            <tr height="12px"></tr>
                            <tr>
                                <td width="20px"></td>
                                <td>
                                    <legend style="color:white">Lista de emails</legend>
                                    <div ng-show="viewModel.emails.length == 0">
                                        <br />
                                        <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                    </div>
                                    <div ng-show="viewModel.emails.length > 0">
                                        <br />
                                        <table class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in viewModel.emails">
                                                <td>{{ mdl.stEmail }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td width="20px"></td>
                            </tr>
                        </table>
                    </div>
                </tab>
                <tab heading="Endereços [{{viewModel.enderecos.length}}]" ng-if="viewModel.id != undefined">
                    <div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
                        <table width="100%">
                            <tr height="12px"></tr>
                            <tr>
                                <td width="20px"></td>
                                <td>
                                    <legend style="color:white">Lista de endereços</legend>
                                    <div ng-show="viewModel.enderecos.length == 0">
                                        <br />
                                        <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                    </div>                                    
                                    <div ng-show="viewModel.enderecos.length > 0">
                                        <br />
                                        <table class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Cidade</th>
                                                    <th>Estado</th>
                                                    <th>Logradouro</th>
                                                    <th>CEP</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in viewModel.enderecos">
                                                <td ng-if="mdl.bPrincipal == true"><b>{{ mdl.sfkCidade }}</b></td>
                                                <td ng-if="mdl.bPrincipal == false">{{ mdl.sfkCidade }}</td>
                                                <td>{{ mdl.sfkEstado }}</td>
                                                <td>{{ mdl.stRua }}, {{ mdl.stNumero }} {{ mdl.stComplemento }} </td>
                                                <td>{{ mdl.stCEP }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td width="20px"></td>
                            </tr>
                        </table>
                    </div>
                </tab>
            </tabset>
            <br />
            <br />
            <table>
                <tr>
                    <td><button class="btn btn-default" ng-click="list()">Cancelar</button></td>
                    <td width="34px"></td>                    
                </tr>
            </table>
            <br />
            <br />
        </div>
    </section>
</div>