<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Listagem de <b>Associados</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                    <td width="80px"></td>
                    <td><input type="submit" class="btn btn-success pull-right" value="Novo" ng-click="new()"></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="110px"><b>Nome</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.busca" />
                    </td>
                    <td width="60px"></td>
                    <td width="110px"></td>
                    <td width="220px"></td>
                    <td width="25px"></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Matrícula</b></td>
                    <td>
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.matricula" />
                    </td>
                    <td></td>
                    <td><b>CPF</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" name="cnpj" id="cpf" ng-model="campos.cpf"
                               maxlength="14" ui-mask="999.999.999-99" ui-mask-placeholder ui-mask-placeholder-char="_">
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Email</b></td>
                    <td>
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.email" />
                    </td>
                    <td></td>
                    <td><b>Telefone</b></td>
                    <td>
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.phone" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Situação</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectTipoSituacao" data-placeholder="(Selecione)" ng-model="campos.tgSituacao" />
                    </td>
                    <td></td>
                    <td><b>Expedição</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectTipoExpedicao" data-placeholder="(Selecione)" ng-model="campos.tgExpedicao" />
                    </td>
                    <td></td>
                </tr>
                <tr height="12px"> </tr>
                <tr height="42px">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>
                <tr height="12px"> </tr>
            </table>

            <div style="overflow-x:scroll;overflow:auto;">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:300px">Nome</th>
                                            <th style="min-width:140px">Matrícula</th>
                                            <th style="min-width:80px">Tit.</th>
                                            <th style="min-width:140px">Situação</th>
                                            <th style="min-width:140px">Expedição</th>
                                            <th style="min-width:200px">Telefones</th>
                                            <th style="min-width:200px">Emails</th>
                                            <th style="min-width:200px">Criação</th>
                                            <th style="min-width:200px">Atualização</th>
                                            <th style="min-width:200px">Usuário</th>
                                            <th style="min-width:200px">Último contato</th>
                                            <th style="min-width:200px">Usuário</th>
                                        </tr>
                                    </thead>
                                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                        <td>{{ mdl.stName }}</td>
                                        <td>{{ mdl.nuMatricula }}</td>
                                        <td>{{ mdl.nuTitularidade }}</td>
                                        <td>{{ mdl.stgStatus }}</td>
                                        <td>{{ mdl.stgExpedicao }}</td>
                                        <td><div data-ng-repeat="m in mdl.phones">{{ m.stPhone }}</div></td>
                                        <td><div data-ng-repeat="m in mdl.emails">{{ m.stEmail }}</div></td>
                                        <td>{{ mdl.sdtStart }}</td>
                                        <td>{{ mdl.sdtLastUpdate }}</td>
                                        <td>{{ mdl.sfkUserLastUpdate }}</td>
                                        <td>{{ mdl.sdtLastContact }}</td>
                                        <td>{{ mdl.sfkUserLastContact }}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        <br />
        <br />
        <br />
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>