<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Relatório de <b>Fechamento</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color: white">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td></td>
                    <td>Mês</td>
                    <td>
                        <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="campos.selects.mes" ng-model="campos.mes_inicial" />
                    </td>
                    <td></td>
                    <td> <button class="btn btn-primary" ng-click="search()">Pesquisar</button> </td>
                </tr>
                <tr height="43px">
                    <td></td>
                    <td>Ano</td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="4"
                               ng-model="campos.ano_inicial">
                    </td>
                </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="120px">
                        <label><input type="radio" name="status" value="1" ng-model="tipoFech"> Por cartão</label>
                    </td>
                    <td width="120px">
                        <label><input type="radio" name="status" value="2" ng-model="tipoFech"> Por lojista</label>
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"></tr>
            </table>
            <div style="overflow-x:scroll;overflow:auto;" ng-if="tipoFech == 1">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <table>
                                    <tr>
                                        <td width="320px" valign="top" style="padding-left:20px">
                                            <h3>ConveyNET Benefícios</h3>
                                            Convênio:<b> {{convenio}}</b><br />
                                            Período: <b> {{campos.mes_inicial}} / {{campos.ano_inicial}}</b><br />
                                            Total fechamento: <b>R$ {{totalFechamento}}</b><br />
                                            Total cartões: <b> {{totalCartoes}}</b><br />
                                        </td>
                                        <td width="20px"></td>
                                        <td width="120px" valign="top">
                                            <br />
                                            <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                                        </td>
                                    </tr>
                                </table>                                
                                <br />
                                <div data-ng-repeat="mdl in list">
                                    <div class="widget" style="color:white">
                                        Fechamento para: <b>{{mdl.associado}}</b>, Matrícula: {{mdl.matricula}} <br />
                                        <br />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Estabelecimento</th>
                                                    <th>Data compra</th>
                                                    <th>Valor venda</th>
                                                    <th>Parcela</th>
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="tr in mdl.vendas">
                                                <td style="min-width:200px;">{{ tr.lojista }}</td>
                                                <td style="min-width:120px;">{{ tr.dtCompra }}</td>
                                                <td style="min-width:120px;">{{ tr.valor }}</td>
                                                <td style="min-width:120px;">{{ tr.parcela }}</td>
                                            </tr>
                                        </table>
                                        Total cartão: <b>R$ {{mdl.total}}</b><br />
                                        <br />
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                            <br />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
</div>
