<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Relatório de <b>Autorizações</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>                    
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Seção</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectSecao" data-placeholder="(Selecione)"
                               ng-model="campos.fkSecao" />
                    </td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Mês</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectMonths" data-placeholder="(Selecione)" ng-model="campos.mes" />
                    </td>
                    <td></td>
                    <td><b>Ano</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.ano" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="150px"><b>Código TUSS</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.tuss" />
                    </td>
                    <td width="60px"></td>
                    <td width="150px"><b>Especialidade</b></td>
                    <td width="220px">
                        <input type="text" class="form-control input-transparent" ng-model="campos.espec" />
                    </td>
                    <td width="60px"></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Credenciado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.nomeCredenciado" />
                    </td>
                    <td></td>
                    <td><b>Associado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.nomeAssociado" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Cód. Credenciado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.codCredenciado" />
                    </td>
                    <td></td>
                    <td><b>Matrícula</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.matricula" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Data inicial</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" name="cnpj" id="dtInical" ng-model="campos.dtInicial"
                               maxlength="14" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                    </td>
                    <td></td>
                    <td><b>Data final</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" name="cnpj" id="dtInical" ng-model="campos.dtFim"
                               maxlength="14" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                    </td>
                    <td></td>
                </tr>
                <tr height="12px"> </tr>
                <tr height="42px">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>
                <tr height="12px"> </tr>
            </table>

            <div style="overflow-x:scroll;overflow:auto;">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:150px">Data Solicitação</th>
                                            <th style="min-width:90px">NSU</th>
                                            <th style="min-width:90px">Situação</th>
                                            <th style="min-width:200px">Associado</th>
                                            <th style="min-width:200px">Credenciado</th>
                                            <th style="min-width:150px">Especialidade</th>
                                            <th style="min-width:90px">Parcela</th>
                                            <th style="min-width:90px">Mês / Ano</th>
                                            <!--<th style="min-width:300px">TUSS - Procedimento</th>-->
                                            <th style="min-width:150px">Comprovante</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="mdl in list">
                                        <td>{{ mdl.sdtSolicitacao }}</td>
                                        <td>{{ mdl.nuNSU }}</td>
                                        <td>{{ mdl.stgSituacao }}</td>
                                        <td>{{ mdl.snuMatriculaAssociado }} - {{ mdl.sfkAssociadoPortador }}</td>
                                        <td>{{ mdl.snuCodigoCredenciado }} - {{ mdl.sfkCredenciado }}</td>
                                        <td>{{ mdl.sfkEspecialidade }}</td>
                                        <td>{{ mdl.nuIndice }} / {{ mdl.nuTotParcelas }}</td>
                                        <td>{{ mdl.nuMes }} / {{ mdl.nuAno }}</td>
                                        <!--<td>{{ mdl.sfkProcedimento }}</td>-->
                                        <td><a ng-click="show(mdl)">Re-imprimir</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <br />
            <br />
            <br />

            <div class="modal-backdrop"
                 ng-if="mostraGuia == true"
                 style="background: rgba(55, 55, 55, 0.5 );">
                <div class="modal-dialog" style="width:1100px">
                    <br />
                    <div class="modal-content" style="color:black">
                        <legend style="color:black">
                            Guia de autorização
                        </legend>
                        Validade: {{cupom.validade}}
                        <br />
                        <br />
                        <table border="1">
                            <thead>
                                <tr>
                                    <td width="300px"></td>
                                    <td width="300px"></td>
                                    <td width="150px"></td>
                                    <td width="150px"></td>
                                </tr>
                            </thead>
                            <tr height="30px">
                                <td></td>
                                <td><b>{{cupom.empresa}}</b></td>
                                <td colspan="2">Emissão guia: <b>{{cupom.emissao}}</b></td>
                            </tr>
                            <tr height="30px">
                                <td></td>
                                <td>Autorização/NSU: <b>{{cupom.autorizacao}}</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr height="30px">
                                <td>Associado: <br /><b>({{cupom.associadoMat}}) {{cupom.associadoNome}}  - Tit.: {{cupom.associadoTit}}<br />Matrícula Saúde: {{cupom.associadoMatSaude}}</b></td>
                                <td>Credenciado: <br /><b>{{cupom.credenciado}}</b></td>
                                <td colspan="2">Vínculo/secao: <br /><b>{{cupom.secao}}</b></td>
                            </tr>
                            <tr height="30px">
                                <td><b>TUSS</b></td>
                                <td><b>PROCEDIMENTO</b></td>
                                <td><b>VALOR INTEGRAL</b></td>
                                <td><b>VALOR CO-PARTICIPAÇÃO</b></td>
                            </tr>
                            <tr height="30px">
                                <td>{{cupom.tuss}}</td>
                                <td>{{cupom.procedimento}}</td>
                                <td>R$ {{cupom.vrIntegral}}</td>
                                <td>R$ {{cupom.vrCoPart}}</td>
                            </tr>
                        </table>
                        <br />
                        <table>
                            <tr>
                                <td>
                                    <img src="../../images/fumam.png" style="max-height:150px" />
                                </td>
                                <td width="20px"></td>
                                <td>
                                    Através do presente reconheço expressamente que possuo esta autorização para ser descontado <br />
                                    em minha folha de pagamento, conforme coparticipação de R$ {{cupom.vrCoPart}}
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    _______________________________________<br />
                                    {{cupom.associadoNome}}
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </table>

                        <br />
                        <br />

                        <div align="center">
                            <button class="btn btn-default" ng-click="cancelarGuia()"> Cancelar </button> &nbsp;&nbsp;
                            <button class="btn btn-success" ng-click="imprimirGuia()"> Imprimir </button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>