<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Relatório de <b>Autorizações</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>                    
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Seção</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectSecao" data-placeholder="(Selecione)"
                               ng-model="campos.fkSecao" />
                    </td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Mês</b></td>
                    <td>
                        <input type="hidden" style="width:100%" ui-select2="selectMonths" data-placeholder="(Selecione)" ng-model="campos.mes" />
                    </td>
                    <td></td>
                    <td><b>Ano</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.ano" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="150px"><b>Código TUSS</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.tuss" />
                    </td>
                    <td width="60px"></td>
                    <td width="150px"><b>Especialidade</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.espec" />
                    </td>
                    <td width="60px"></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Credenciado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.nomeCredenciado" />
                    </td>
                    <td></td>
                    <td><b>Associado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.nomeAssociado" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Cód. Credenciado</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.codCredenciado" />
                    </td>
                    <td></td>
                    <td><b>Matrícula</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.matricula" />
                    </td>
                    <td></td>
                </tr>
                <tr height="36px">
                    <td></td>
                    <td><b>Data inicial</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" name="cnpj" id="dtInical" ng-model="campos.dtInicial"
                               maxlength="14" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                    </td>
                    <td></td>
                    <td><b>Data final</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" name="cnpj" id="dtInical" ng-model="campos.dtFim"
                               maxlength="14" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                    </td>
                    <td></td>
                </tr>
                <tr height="12px"> </tr>
                <tr height="42px">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>
                <tr height="12px"> </tr>
            </table>

            <div style="overflow-x:scroll;overflow:auto;">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:150px">Data Solicitação</th>
                                            <th style="min-width:90px">Situação</th>
                                            <th style="min-width:200px">Associado</th>
                                            <th style="min-width:200px">Credenciado</th>
                                            <th style="min-width:150px">Especialidade</th>
                                            <th style="min-width:90px">Parcela</th>
                                            <th style="min-width:90px">Mês / Ano</th>
                                            <th style="min-width:300px">TUSS - Procedimento</th>
                                        </tr>
                                    </thead>
                                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                        <td>{{ mdl.sdtSolicitacao }}</td>
                                        <td>{{ mdl.stgSituacao }}</td>
                                        <td>{{ mdl.snuMatriculaAssociado }} - {{ mdl.sfkAssociadoPortador }}</td>
                                        <td>{{ mdl.snuCodigoCredenciado }} - {{ mdl.sfkCredenciado }}</td>
                                        <td>{{ mdl.sfkEspecialidade }}</td>
                                        <td>{{ mdl.nuIndice }} / {{ mdl.nuTotParcelas }}</td>
                                        <td>{{ mdl.nuMes }} / {{ mdl.nuAno }}</td>
                                        <td>{{ mdl.sfkProcedimento }}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        <br />
        <br />
        <br />
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>