<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Listagem de <b>Lojistas</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>

            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">

            <table width="500px" ng-if="tipo==5">
                <tr>
                    <td width="20px"></td>
                    <td width="120px"><b>(DBA) Empresa</b></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                    </td>
                    <td width="220px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"> </tr>
            </table>

            <table class="widget" style="color: white">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="150px"><b>Nome loja</b></td>
                    <td width="120px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.nome" />
                    </td>
                    <td width="50px"></td>
                    <td width="150px"><b>CNPJ</b></td>
                    <td width="120px">
                        <input type="text" class="form-control input-transparent" ng-model="campos.cnpj" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px" align="right">
                        <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                    </td>
                    <td width="50px"></td>
                </tr>
                <tr height="43px">
                    <td></td>
                    <td><b>Código loja</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.codigo" />
                    </td>
                    <td></td>
                    <td><b>Endereço</b></td>
                    <td>
                        <input type="text" class="form-control input-transparent" ng-model="campos.endereco" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr height="22px"></tr>
            </table>
            <div style="overflow-x:scroll;overflow:auto;">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="90px">Código<br />&nbsp;</th>
                                            <th>Razão Social<br />Nome Lojista</th>
                                            <th width="120px">CNPJ<br />&nbsp;</th>
                                            <th>Endereço <br />Cidade / Estado</th>
                                            <th width="120px">Telefone<br />&nbsp;</th>
                                            <th width="90px">Tx. Admin<br />&nbsp;</th>
                                            <th>Dados Bancários<br />&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tr ng-click="abrirModal(mdl)" data-ng-repeat="mdl in list">
                                        <td style="min-width:80px;">{{ mdl.codigo}}</td>
                                        <td style="min-width:220px;"><b>{{ mdl.razSoc}}</b><br />{{ mdl.nome}}</td>
                                        <td style="min-width:120px;">{{ mdl.cnpj}}</td>
                                        <td style="min-width:240px;"><b>{{ mdl.end}}</b><br />{{ mdl.cidade}} - {{ mdl.estado}}</td>
                                        <td style="min-width:120px;">{{ mdl.telefone}}</td>
                                        <td style="min-width:90px;">{{ mdl.txAdmin}}</td>
                                        <td style="min-width:90px;">
                                            <div ng-if="mdl.banco.length > 1">
                                                {{ mdl.banco}}<br />
                                                {{ mdl.agencia}} - {{mdl.conta}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
    <br />

    <div class="modal-backdrop"
         ng-if="modal == true"
         style="background: rgba(55, 55, 55, 0.5 );">
        <div class="modal-dialog" style="width:500px">
            <br />
            <br />
            <br />
            <div class="modal-content" style="color:black">
                <legend style="color:black">
                    Edição de dados bancários
                    <button class="btn btn-transparent btn-lg pull-right" style="margin-top:-10px" ng-click="cancelarModal()"> X </button> &nbsp;
                </legend>
                <p>
                    <b>{{editLoja.nome}}</b><br />
                    {{editLoja.razSoc}}
                </p>
                <table>
                    <thead>
                        <tr>
                            <th width="24px"></th>
                            <th width="120px"></th>
                            <th width="20px"></th>
                            <th width="240px"></th>
                            <th width="20px"></th>
                        </tr>
                    </thead>
                    <tr height="28px"></tr>
                    <tr height="40px">
                        <td></td>
                        <td>Banco</td>
                        <td></td>
                        <td>
                            <input type="hidden"
                                   style="width:100%;"
                                   data-placeholder="(Selecione)"
                                   ui-select2="selectBanco"
                                   ng-model="editLoja.fk_banco" />
                        </td>
                        <td></td>
                    </tr>
                    <tr height="40px">
                        <td></td>
                        <td>Agência</td>
                        <td></td>
                        <td>
                            <input type="text"
                                   class="form-control input-transparent"
                                   maxlength="20"
                                   style="background-color:lightgrey"
                                   ng-model="editLoja.st_agencia" />
                        </td>
                        <td></td>
                    </tr>
                    <tr height="40px">
                        <td></td>
                        <td>Conta Corrente</td>
                        <td></td>
                        <td>
                            <input type="text"
                                   class="form-control input-transparent"
                                   maxlength="20"
                                   style="background-color:lightgrey"
                                   ng-model="editLoja.st_conta" />
                        </td>
                        <td></td>
                    </tr>
                    <tr height="20px"></tr>
                </table>
                <br />
                <button class="btn btn-info pull-right" ng-click="fecharModal()">Confirmar</button>
                <br />
                <br />
            </div>
        </div>
    </div>

    <br />
</div>
