<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Relatório de <b>Fechamento</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">

            <table width="500px" ng-if="tipo==5">
                <tr>
                    <td width="20px"></td>
                    <td width="120px"><b>(DBA) Empresa</b></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                    </td>
                    <td width="220px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"> </tr>
            </table>

            <table class="widget" style="color: white">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td></td>
                    <td>Mês</td>
                    <td>
                        <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="campos.selects.mes" ng-model="campos.mes_inicial" />
                    </td>
                    <td></td>
                    <td> <button class="btn btn-primary" ng-click="search()">Pesquisar</button> </td>
                </tr>
                <tr height="43px">
                    <td></td>
                    <td>Ano</td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="4"
                               ng-model="campos.ano_inicial">
                    </td>
                </tr>
                <tr height="12px"></tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="120px">
                        <b>Tipo de relatório</b>
                    </td>
                </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="120px">
                        <label><input type="radio" name="status" value="1" ng-model="campos.tipoFech"> Por cartão</label>
                    </td>
                    <td width="120px">
                        <label><input type="radio" name="status" value="2" ng-model="campos.tipoFech"> Por lojista</label>
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="120px">
                        <label><input type="radio" name="detFech" value="1" ng-model="campos.detFech"> Detalhado</label>
                    </td>
                    <td width="120px">
                        <label><input type="radio" name="detFech" value="2" ng-model="campos.detFech"> Resumido</label>
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"></tr>
            </table>
            <div style="overflow-x:scroll;overflow:auto;" ng-if="campos.tipoFechSel == 1 && loading == false">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <table width="900px">
                                    <tr>
                                        <td width="320px" valign="top" style="padding-left:20px">
                                            <h3>ConveyNET Benefícios</h3>
                                            Convênio:<b> {{convenio}}</b><br />
                                            Período: <b> {{campos.mes_inicial}} / {{campos.ano_inicial}}</b><br />
                                            Total fechamento: <b>R$ {{totalFechamento}}</b><br />
                                            Quantidade cartões: <b> {{totalCartoes}}</b><br />
                                        </td>
                                        <td width="20px"></td>
                                        <td width="250px" valign="top">
                                            <br />
                                            <button class="btn btn-success" ng-click="imprimir()">Imprimir</button> &nbsp;
                                            <button class="btn btn-danger" ng-click="exportar()">Exportar</button>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <div ng-show="campos.detFech == 1">
                                    <div data-ng-repeat="mdl in list">
                                        <div class="widget" style="color:white">
                                            Fechamento para: <b>{{mdl.associado}}</b>, Matrícula: {{mdl.matricula}} <br />
                                            <br />
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Estabelecimento</th>
                                                        <th>NSU</th>
                                                        <th>Data compra</th>
                                                        <th>Valor parcela</th>
                                                        <th>Parcela</th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="tr in mdl.vendas">
                                                    <td style="min-width:250px;">{{ tr.lojista }}</td>
                                                    <td style="min-width:70px;">{{ tr.nsu }}</td>
                                                    <td style="min-width:120px;">{{ tr.dtCompra }}</td>
                                                    <td style="min-width:90px;">{{ tr.valor }}</td>
                                                    <td style="min-width:90px;">{{ tr.parcela }}</td>
                                                </tr>
                                            </table>
                                            Total cartão: <b>R$ {{mdl.total}}</b><br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="campos.detFech == 2">                                    
                                    <div class="widget" style="color:white">
                                        <br />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Associado</th>
                                                    <th>Matricula</th>
                                                    <th>Desconto Mensal R$</th>                                                        
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in list">
                                                <td style="min-width:120px;">{{ mdl.associado }}</td>
                                                <td style="min-width:120px;">{{ mdl.matricula }}</td>
                                                <td style="min-width:120px;">{{ mdl.total }}</td>
                                            </tr>
                                        </table>                                            
                                        <br />
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                            <br />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="overflow-x:scroll;overflow:auto;" ng-if="campos.tipoFechSel == 2 && loading == false">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <br />
                                <br />
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <table width="900px">
                                    <tr>
                                        <td width="320px" valign="top" style="padding-left:20px">
                                            <h3>ConveyNET Benefícios</h3>
                                            Convênio: <b> {{convenio}}</b><br />
                                            Período: <b> {{campos.mes_inicial}} / {{campos.ano_inicial}}</b><br />
                                            Total fechamento convênio: <b>R$ {{totalFechamento}}</b><br />
                                            Total repasse lojistas: <b>R$ {{totalRepasse}}</b><br />
                                            Total bonificação: <b>R$ {{totalBonus}}</b><br />
                                            Quantidade lojistas: <b> {{totalLojistas}}</b><br />
                                        </td>
                                        <td width="20px"></td>
                                        <td width="120px" valign="top">
                                            <br />
                                            <button class="btn btn-success" ng-click="imprimir()">Imprimir</button>&nbsp;
                                            <button class="btn btn-danger" ng-click="exportar()">Exportar</button>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <div ng-show="campos.detFech == 1">
                                    <div data-ng-repeat="mdl in list">
                                        <div class="widget" style="color:white">
                                            Fechamento para: <b>{{mdl.lojista}} - ({{mdl.sigla}})</b>, Endereço: {{mdl.endereco}} <br />
                                            <br />
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nsu</th>
                                                        <th>Associado</th>
                                                        <th>Cartão</th>
                                                        <th>Data compra</th>
                                                        <th>Valor </th>
                                                        <th>Parcela</th>
                                                        <th>Terminal</th>
                                                    </tr>
                                                </thead>
                                                <tr data-ng-repeat="tr in mdl.vendas">
                                                    <td>{{ tr.id }}</td>
                                                    <td>{{ tr.nsu }}</td>
                                                    <td>{{ tr.associado }}</td>
                                                    <td>{{ tr.matricula }}</td>
                                                    <td>{{ tr.dtCompra }}</td>
                                                    <td>{{ tr.valor }}</td>
                                                    <td>{{ tr.parcela }}</td>
                                                    <td>{{ tr.terminal }}</td>
                                                </tr>
                                            </table>
                                            Bonificação: <b>{{mdl.taxa}}</b><br />
                                            Valor total: <b>R$ {{mdl.total}}</b><br />
                                            Valor bonificação: <b>R$ {{mdl.bonus}}</b><br />
                                            Valor a repassar: <b>R$ {{mdl.repasse}}</b><br />
                                            BANCO: <b>{{mdl.banco}}</b><br />
                                            AGÊNCIA: <b>{{mdl.agencia}}</b> CONTA: <b>{{mdl.conta}}</b><br />
                                            CNPJ: <b>{{mdl.cnpj}}</b><br />                                            
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="campos.detFech == 2">
                                    <div class="widget" style="color:white">
                                        <br />
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Lojista</th>
                                                    <th>Fechamento</th>
                                                    <th>Bonificacao</th>
                                                    <th>A Pagar</th>                                                        
                                                </tr>
                                            </thead>
                                            <tr data-ng-repeat="mdl in list">
                                                <td>{{ mdl.lojista }}</td>
                                                <td>{{ mdl.total }}</td>
                                                <td>{{ mdl.bonus }}</td>
                                                <td>{{ mdl.repasse }}</td>
                                            </tr>
                                        </table>
                                        <br />
                                    </div>                                    
                                </div>
                                <br />
                                <br />
                            </div>
                        <br />
                    </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
</div>
