<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr>
                    <td width="20px"></td>
                    <td>Precificação para <b>Procedimentos</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color:white">
                <tr height="22px"> </tr>
                <tr height="36px">
                    <td width="25px"></td>
                    <td width="110px"><b>Código</b></td>
                    <td width="220px">
                        <input type="text" focus="true" class="form-control input-transparent" ng-model="campos.codigo" />
                    </td>
                    <td width="60px"></td>
                    <td width="110px"><b></b></td>
                    <td width="220px">
                        
                    </td>
                    <td width="25px"></td>
                </tr>                
                <tr height="12px"> </tr>
                <tr height="42px">
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click="search()">Pesquisa</button>
                    </td>
                </tr>
                <tr height="12px"> </tr>
            </table>

            <div style="overflow-x:scroll;overflow:auto;">
                <table>
                    <tr>
                        <td valign="top">
                            <div ng-show="list.length == 0">
                                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                                <br />
                                <br />
                            </div>
                            <div ng-show="list.length > 0">
                                <ng-paginacao carregar="load" list="list" total="total" itensporpagina="itensporpagina" paginador="paginador"></ng-paginacao>
                                <br />
                                <table class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="min-width:80px">Código</th>
                                            <th style="min-width:600px">Descrição</th>
                                            <th style="min-width:170px">Valor Total</th>
                                            <th style="min-width:170px">Porte</th>
                                            <th style="min-width:170px">Valor HM</th>
                                            <th style="min-width:170px">Valor CO</th>
                                            <th style="min-width:170px">Auxiliares</th>
                                            <th style="min-width:170px">Porte Anestésico</th>
                                            <th style="min-width:170px">Valor Porte</th>
                                            <th style="min-width:170px">Filme m2</th>
                                            <th style="min-width:170px">Valor filme</th>
                                        </tr>
                                    </thead>
                                    <tr ng-click="show(mdl)" data-ng-repeat="mdl in list">
                                        <td>{{ mdl.nuCodInterno }}</td>
                                        <td>{{ mdl.stDesc }}</td>
                                        <td>{{ mdl.svrTotalHMCO }}</td>
                                        <td>{{ mdl.sfkSaudePorteProcedimento }}</td>
                                        <td>{{ mdl.svrValorHM }}</td>
                                        <td>{{ mdl.svrValorCO }}</td>
                                        <td>{{ mdl.snuAux }}</td>
                                        <td>{{ mdl.snuAnestesistas }}</td>
                                        <td>{{ mdl.svrPorteAnestesista }}</td>
                                        <td>{{ mdl.snuFilme4C }}</td>
                                        <td>{{ mdl.svrFilme }}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <br />
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>