
<div class="webFormPosition" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Relatório: <b>TRANSAÇÕES POR LOJISTAS</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            
            <table width="500px" ng-if="tipo==5">
                <tr>
                    <td width="20px"></td>
                    <td width="120px"><b>(DBA) Empresa</b></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                    </td>
                    <td width="220px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>
                <tr height="22px"> </tr>
            </table>

            <table class="widget" style="color: white" width="700px">
                <tr height="22px"> </tr>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="120px">Dia inicial</td>
                    <td width="120px">
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtInicial">
                    </td>
                    <td width="50px"></td>
                    <td width="120px">Data final</td>
                    <td width="120px">
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtFinal">
                    </td>
                    <td width="20px"></td>
                </tr>
                <tr height="43px">
                    <td></td>
                    <td>Cod. Loja</td>
                    <td>
                        <input type="text" class="form-control input-transparent" maxlength="6"
                               ng-model="campos.codLoja">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br />
                        <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                    </td>
                </tr>
                <tr height="22px"></tr>
            </table>

            <div ng-show="list.length == 0">
                <br />
                <br />
                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                <br />
                <br />
            </div>

            <div ng-show="list.length > 0">
                <h3>ConveyNET Benefícios</h3>
                <b>Empresa</b>: {{empresa}}<br />
                <b>Emissão</b>: {{dtEmissao}}<br />
                <b>Período</b>: {{periodo}}<br />
                <b>Valor total (confirmadas)</b>: R$ {{vendasConf}}<br />
                <b>Quantidade (confirmadas)</b>: {{qtdConf}}<br />
                <b>Quantidade (pendentes)</b>: {{qtdPend}}<br />
                <b>Quantidade (canceladas)</b>: {{qtdCanc}}<br />
                <b>Quantidade (erro)</b>: {{qtdErro}}<br />
                <br />

                <div data-ng-repeat="loja in list">
                    <h3>{{loja.nome}}</h3>
                    Valor total vendas confirmadas: R$ {{loja.totValor}}<br />
                    Número de  transações: {{loja.qtdTrans}}<br />
                    Número de transações confirmadas: {{loja.qtd_conf}}<br />
                    Número de transações canceladas: {{loja.qtd_canc}}<br />
                    Número de transações pendentes: {{loja.qtd_pend}}<br />
                    Número de transações erro: {{loja.qtd_erro}}<br />
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>NSU</th>
                                <th>Data/Hora</th>
                                <th>Cartão</th>
                                <th>Associado</th>
                                <th>Valor</th>
                                <th>Parcelas</th>
                                <th>Situação</th>
                                <th>Terminal</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="mdl in loja.itens">
                            <td>{{ mdl.nsu }}</td>
                            <td>{{ mdl.dt }}</td>
                            <td>{{ mdl.cartao }}</td>
                            <td>{{ mdl.associado }}</td>
                            <td>{{ mdl.valor }}</td>
                            <td>{{ mdl.parcelas }}</td>
                            <td>{{ mdl.sit }}</td>
                            <td>{{ mdl.terminal }}</td>
                        </tr>
                    </table>
                </div>
                <br />
            </div>
            <br />
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
</div>
