
<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Relatório: <b>REPASSE FINANCEIRO E BONIFICAÇÃO</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color: white; width:800px">
                <tr height="22px"> </tr>
                <tr>
                    <td valign="top">
                        <table>
                            <tr>
                                <td width="20px"></td>
                                <td width="300px" valign="top">
                                    <b>Selecione o que deseja visualizar:</b> <br />
                                    <br />
                                    <label><input type="radio" name="status2" value="1" ng-model="pesquisa.tipo"> Movimento resumido</label><br />
                                    <label><input type="radio" name="status1" value="2" ng-model="pesquisa.tipo"> Movimento aberto</label><br />
                                </td>
                                <td width="300px" ng-if="pesquisa.tipo == 1" valign="top">
                                    <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                                </td>                                
                                <td width="300px" ng-if="pesquisa.tipo == 2" valign="top">
                                    <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="32px"></tr>
            </table>

            <div ng-if="pesquisa.tipoSel==1">
                <div ng-show="list.length == 0">
                    <br />
                    <br />
                    <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                    <br />
                    <br />
                </div>
                <div ng-show="list.length > 0">
                    <h3>ConveyNET Benefícios</h3>
                    <b>Emissão</b>: {{dtEmissao}}<br />
                    <b>Convênio: </b> {{empresa}}<br />
                    <b>Total previsto fechamento convênio</b>: R$ {{total}}<br />
                    <b>Total previsto repasse fornecedores</b>: R$ {{totalRep}}<br />
                    <b>Total previsto bonificação </b>: R$ {{totalBonus}}<br />
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mês / Ano <br />Fechamento</th>
                                <th>Total vendas <br />em aberto</th>
                                <th>Total em <br />bonificação</th>
                                <th>previsão mensal <br />repasse</th>
                                <th>Total transações</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="mdl in list">
                            <td style="min-width:120px;">{{ mdl.mesAno }}</td>
                            <td style="min-width:120px;">{{ mdl.tot }}</td>
                            <td style="min-width:120px;">{{ mdl.bonus }}</td>
                            <td style="min-width:120px;">{{ mdl.repasse }}</td>
                            <td style="min-width:120px;">{{ mdl.totTrans }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
</div>
