
<div class="webFormPostion" style="width:99%">
    <section class="widgetForm" style="width:95%">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td>Relatório: <b>REPASSE FINANCEIRO E BONIFICAÇÃO</b> <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
                </tr>                
            </table>
        </legend>
        <div class="divWebForm" style="max-width:95%;min-width:95%">
            <table class="widget" style="color: white; width:800px">
                <tr height="22px"> </tr>
                <tr>
                    <td valign="top">

                        <table width="500px" ng-if="tipo==5">
                            <tr>
                                <td width="20px"></td>
                                <td width="120px"><b>(DBA) Empresa</b></td>
                                <td width="20px">
                                    <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                                </td>
                                <td width="220px">
                                    <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                                </td>
                                <td width="20px"></td>
                                <td width="120px"></td>
                            </tr>
                            <tr height="22px"> </tr>
                        </table>

                            <table>
                                <tr>
                                    <td width="20px"></td>
                                    <td width="250px" valign="top">
                                        <b>Selecione o que deseja visualizar:</b> <br />
                                        <br />
                                        <label><input type="radio" name="status2" value="1" ng-model="pesquisa.tipo"> Movimento resumido</label><br />
                                        <label><input type="radio" name="status1" value="2" ng-model="pesquisa.tipo"> Movimento aberto</label><br />
                                    </td>
                                    <td width="300px" ng-if="pesquisa.tipo == 2" valign="top">
                                        <table>
                                            <tr height="27px"></tr>
                                            <tr height="43px">
                                                <td width="70px">Mês</td>
                                                <td width="20px">
                                                    <button class="btn btn-xs btn-danger" ng-show="mes_fail">!</button>
                                                </td>
                                                <td width="160px">
                                                    <input type="hidden" style="width:100%" placeholder="(Selecione)" ui-select2="campos.selects.mes" ng-model="campos.mes_inicial" />
                                                </td>
                                            </tr>
                                            <tr height="43px">
                                                <td>Ano</td>
                                                <td>
                                                    <button class="btn btn-xs btn-danger" ng-show="ano_fail">!</button>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-transparent" maxlength="4" ng-model="campos.ano_inicial">
                                                </td>
                                            </tr>
                                            <tr height="43px">
                                                <td>Lojista</td>
                                                <td></td>
                                                <td>
                                                    <input type="text" class="form-control input-transparent" maxlength="4" ng-model="campos.lojista">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="32px"></tr>
                                <tr height="22px">
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="search()">Pesquisar</button>
                                    </td>
                                </tr>
                            </table>
                    </td>
                </tr>
                <tr height="32px"></tr>
            </table>

            <div ng-if="pesquisa.tipoSel==1">
                <div ng-show="list.length == 0">
                    <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                    <br />
                    <br />
                </div>
                <div ng-show="list.length > 0">
                    <h3>ConveyNET Benefícios</h3>
                    <b>Emissão</b>: {{dtEmissao}}<br />
                    <b>Período: </b> {{campos.mes_inicial}} / {{campos.ano_inicial}}<br />
                    <b>Convênio: </b> {{empresa}}<br />
                    <b>Total previsto fechamento convênio</b>: R$ {{total}}<br />
                    <b>Total previsto repasse lojistas</b>: R$ {{totalRep}}<br />
                    <b>Total previsto bonificação </b>: R$ {{totalBonus}}<br />
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mês / Ano <br />Fechamento</th>
                                <th>Total vendas <br />em aberto</th>
                                <th>Total em <br />bonificação</th>
                                <th>previsão mensal <br />repasse</th>
                                <th>Total transações</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="mdl in list">
                            <td style="min-width:120px;">{{ mdl.mesAno }}</td>
                            <td style="min-width:120px;">{{ mdl.tot }}</td>
                            <td style="min-width:120px;">{{ mdl.bonus }}</td>
                            <td style="min-width:120px;">{{ mdl.repasse }}</td>
                            <td style="min-width:120px;">{{ mdl.totTrans }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-if="pesquisa.tipoSel==2">
                <div ng-show="list.length == 0">
                    <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                    <br />
                    <br />
                </div>
                <div ng-show="list.length > 0 && !pesquisa.fornecedor == false">
                    <h3>ConveyNET Benefícios</h3>
                    <b>Emissão</b>: {{dtEmissao}}<br />
                    <b>Convênio: </b> {{empresa}}<br />
                    <b>Período: </b> {{campos.mes_inicial}} / {{campos.ano_inicial}}<br />
                    <b>Total previsto fechamento convênio</b>: R$ {{total}}<br />
                    <b>Total previsto repasse lojistas</b>: R$ {{totalRep}}<br />
                    <b>Total previsto bonificação </b>: R$ {{totalBonus}}<br />
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Terminal</th>
                                <th>Lojista</th>
                                <th>Qtd. Transações</th>
                                <th>Valor Parcelas</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="mdl in list">
                            <td style="min-width:120px;">{{ mdl.terminal }}</td>
                            <td style="min-width:120px;">{{ mdl.lojista }}</td>
                            <td style="min-width:120px;">{{ mdl.trans }}</td>
                            <td style="min-width:120px;">{{ mdl.valor }}</td>
                        </tr>
                    </table>
                </div>

                <div ng-show="list.length > 0 && !pesquisa.fornecedor == true">
                    <h3>ConveyNET Benefícios</h3>
                    <b>Emissão</b>: {{dtEmissao}}<br />
                    <b>Convênio: </b> {{empresa}}<br />
                    <b>Lojista: </b> {{lojista}}<br />
                    <b>Total previsto fechamento convênio</b>: R$ {{total}}<br />
                    <b>Total previsto repasse lojistas</b>: R$ {{totalRep}}<br />
                    <b>Total previsto bonificação </b>: R$ {{totalBonus}}<br />
                    <br />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>NSU</th>
                                <th>Matrícula</th>
                                <th>Associado</th>
                                <th>Valor parcela</th>
                                <th>Valor repasse</th>
                                <th>parcela</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="mdl in list">
                            <td style="min-width:120px;">{{ mdl.data }}</td>
                            <td style="min-width:120px;">{{ mdl.nsu }}</td>
                            <td style="min-width:120px;">{{ mdl.matricula }}</td>
                            <td style="min-width:120px;">{{ mdl.associado }}</td>
                            <td style="min-width:120px;">{{ mdl.vlrParcela }}</td>
                            <td style="min-width:120px;">{{ mdl.vlrRepasse }}</td>
                            <td style="min-width:120px;">{{ mdl.parcela }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />
            <br />
            <br />
        </div>
    </section>
    <br />
    <br />
</div>
