<div class="webFormPostion">
	<section class="widgetForm" style="width:950px; height:100%">
		<legend class="legendTop">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td>
						<span ng-show="viewModel.id == undefined">Nova </span> Configuração \ Notícia \ <i class="fa fa-spinner fa-spin" ng-show="loading"></i> <b><span class="btn-success" ng-show="viewModel.id > 0"> &nbsp;{{viewModel.stTitle}}&nbsp;</span></b>
						<button class="btn btn-default pull-right" ng-show="viewModel.id > 0" ng-click="remove()">Remover</button>
					</td>
					<td width="20px"></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div class="divWebForm">
			<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
				<tab heading="Notícia">
					<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
						<table>
							<thead>
								<tr>
									<th width="20px"></th>
									<th width="120px"></th>
									<th width="20px"></th>
									<th width="440px"></th>
								</tr>
							</thead>
							<tr height="12px"></tr>
							<tr height="40px">
								<td></td>
								<td>Título da notícia</td>
								<td>
									<button class="btn btn-xs btn-danger" ng-show="stTitle_fail">!</button>
								</td>
								<td>
									<input type="text" class="form-control input-transparent" maxlength="200"
										   ng-disabled="!permModel.edicao" ng-model="viewModel.stTitle">
								</td>
							</tr>
							<tr height="40px">
								<td></td>
								<td valign="top">Mensagem</td>
								<td>
									<button class="btn btn-xs btn-danger" ng-show="stMessage_fail">!</button>
								</td>
								<td>
									<textarea rows="6" type="text" class="form-control input-transparent" maxlength="2000"
											  ng-disabled="!permModel.edicao" ng-model="viewModel.stMessage"></textarea>

									<!--<trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content"
												 ng-model="viewModel.stMessage" angular-trix trix-initialize="trixInitialize(e, editor);"
												 trix-change="trixChange(e, editor);"
												 trix-selection-change="trixSelectionChange(e, editor);"
												 trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);"
												 trix-file-accept="trixFileAccept(e, editor);"
												 trix-attachment-add="trixAttachmentAdd(e, editor);"
												 trix-attachment-remove="trixAttachmentRemove(e, editor);"
												 placeholder="Write something.."></trix-editor>-->

								</td>
							</tr>
							<tr height="40px">
								<td></td>
								<td>
									Projeto
								</td>
								<td></td>
								<td>
									<input type="hidden" style="width:100%" ui-select2="selectProject"  data-placeholder="(Selecione)" ng-model="viewModel.fkProject" />
								</td>
							</tr>
							<tr height="40px">
								<td></td>
								<td>
									Ativo
								</td>
								<td></td>
								<td>
									<input type="checkbox" ng-disabled="!permModel.edicao" ng-model="viewModel.bActive" />
								</td>
							</tr>
							<tr height="20px"></tr>
						</table>
					</div>
				</tab>
			</tabset>
			<br />
			<br />
			<table>
				<tr>
					<td><button class="btn btn-default" ng-click="list()">Cancelar</button> </td>
					<td width="34px"></td>
					<td><button class="btn btn-primary" ng-click="save()">Salvar</button></td>
				</tr>
			</table>
			<br />
			<br />
		</div>
	</section>
</div>