<div class="webFormPostion">
    <section class="widgetForm" style="width:975px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Ativação de cartões na <b>gráfica</b> </td>
                    <td width="80px"></td>
                    <td></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">

            <table class="widget" style="color: white" width="600px">
                <tr height="12px"> </tr>
                <tr height="56px">
                    <td width="20px"></td>
                    <td width="150px"><b>Empresa</b></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                    </td>
                    <td width="420px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>

            </table>

            <h4>{{msgEmpresa}}</h4>
            <br />
            <br />

            <button class="btn btn-primary" ng-click="executar()">Executar</button><br />
            <br />
            <br />

        </div>

        <div class="modal-backdrop"
             ng-if="mostraModal"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Aviso do Sistema</legend>
                    <br />
                    <h3>Confirmar ação?</h3>
                    <br />
                    <br />
                    <table align="center">
                        <tr>
                            <td>
                                <button class="btn btn-default" ng-click="cancelaModal()"> Não </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="confirmar()"> Sim </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
        </div>

    </section>
</div>
