<div class="webFormPostion">
    <section class="widgetForm" style="width:1075px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> <b>Dashboard</b> </td>
                    <td width="80px"></td>
                    <td></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <table>
                <tr>
                    <td width="600px" valign="top">
                        <h3>Indicadores </h3> <!--101-->
                        <br />
                        <table class="table table-hover" ng-if="a.pendentesSitef != undefined">
                            <tr>
                                <td width="250px">STATUS SITEF</td>
                                <td>xxx</td>
                            </tr>
                            <tr>
                                <td>TEMPO RESPOSTA</td>
                                <td>?</td>
                            </tr>
                            <tr>
                                <td>No. PENDENTES SITEF</td>
                                <td>{{a.pendentesSitef}}</td>
                            </tr>
                            <tr>
                                <td>CONFIRMADAS SITEF</td>
                                <td>{{a.confirmadasSitef}}</td>
                            </tr>
                            <tr>
                                <td>STATUS PORTAL</td>
                                <td>ATIVO</td>
                            </tr>
                            <tr>
                                <td>TEMPO RESPOSTA</td>
                                <td>?</td>
                            </tr>
                            <tr>
                                <td>No. CONFIRMADAS PORTAL</td>
                                <td>{{a.confirmadasPortal}}</td>
                            </tr>
                            <tr>
                                <td>TOTAL CONFIRMADAS</td>
                                <td>{{a.totalConfirmadas}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50px"></td>
                    <td width="600px" valign="top">
                        <h3>Comparativo Autorizadores x Captura </h3> <!--102-->
                        <br />
                        SITEF: {{b.totalSITEF}}<br />
                        PORTAL: {{b.totalPORTAL}}<br />
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Transações em tempo real </h3> <!--103-->
                        <br />
                        <table class="table table-hover" ng-if="c.totalSitef != undefined">
                            <thead>
                                <tr>
                                    <th>CAPTURA TIPO</th>
                                    <th>QTD.TRANSAÇÕES</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>STATUS SITEF</td>
                                <td>{{c.totalSitef}}</td>
                                <td>{{c.statusSITEF}}</td>
                            </tr>
                            <tr>
                                <td>PORTAL</td>
                                <td>{{c.totalPortal}}</td>
                                <td>ONLINE</td>
                            </tr>
                            <tr>
                                <td>OUTROS</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td valign="top">
                        <h3>Transações em tempo real </h3> <!--104-->
                        <br />
                        <table class="table table-hover" ng-if="d.totTransacoesSITEF != undefined">
                            <thead>
                                <tr>
                                    <th>CAPTURA TIPO</th>
                                    <th>QTD.TRANSAÇÕES</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>STATUS SITEF</td>
                                <td>{{d.totTransacoesSITEF}}</td>
                                <td>ATIVO</td>
                            </tr>
                            <tr>
                                <td>PORTAL</td>
                                <td>{{d.totTransacoesPORTAL}}</td>
                                <td>ATIVO</td>
                            </tr>
                            <tr>
                                <td>OUTROS</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Transações x financeiro por empresa </h3> <!--105-->
                        <br />
                        <table class="table table-hover" ng-if="e.list != undefined">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Vol.Financeiro</th>
                                    <th>Confirmadas</th>
                                    <th>Pendentes</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in e.list">
                                <td>{{item.empresa}}</td>
                                <td>{{item.financ}}</td>
                                <td>{{item.confirmadas}}</td>
                                <td>{{item.pendentes}}</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td valign="top">
                        <h3>Volume financeiro x Emissor</h3>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Estabelecimento x Transações </h3> <!--106-->
                        <br />
                        Total Dia: <br />
                        <br />
                        <br />
                        <table class="table table-hover" ng-if="f.list != undefined">
                            <thead>
                                <tr>
                                    <th>Loja</th>
                                    <th>Confirmadas</th>
                                    <th>Pendentes</th>
                                    <th>Canceladas</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in f.list">
                                <td>{{item.loja}}</td>
                                <td>{{item.confirmadas}}</td>
                                <td>{{item.pendentes}}</td>
                                <td>{{item.canceladas}}</td>
                            </tr>
                        </table>
                        <h3>Estabelecimento x Volume Financeiro </h3> <!--107-->
                        <br />
                        Total Dia: <br />
                        <br />
                        <br />
                        <table class="table table-hover" ng-if="g.list != undefined">
                            <thead>
                                <tr>
                                    <th>Loja</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in g.list">
                                <td>{{item.loja}}</td>
                                <td>{{item.valor}}</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>                    
                </tr>
            </table>
            <br />
            <br />
            <br />
        </div>
    </section>
</div>
<br />
<br />
<br />