<div class="webFormPosition">
    <section class="widgetForm" style="width:1075px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> <b>Dashboard</b> </td>
                    <td width="80px"></td>
                    <td></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <button class="btn btn-success right" ng-click="refresh()"> Refresh </button>

            <div ng-if="h.fechamentos.length > 0">
                <br />
                <table class="table table-hover" style="width:600px" ng-if="h.fechamentos.length > 0">
                    <thead>
                        <tr>
                            <th>Fechamento de empresa</th>
                            <th>Data / Hora</th>
                            <th>Finalizado?</th>
                            <th>Cartões</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="mdl in h.fechamentos">
                        <td>{{ mdl.st_empresa }}</td>
                        <td>Dia <b>{{mdl.nu_diaFech}}</b> / Hora <b>{{ mdl.st_horaFech.substring(0,2)}}:{{mdl.st_horaFech.substring(2)}}</b> </td>
                        <td>{{ mdl.sfechFinalizado }}</td>
                        <td>{{ mdl.sfechCartoes }}</td>
                        <td>{{ mdl.sfechValorTotal }}</td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <td width="600px" valign="top">
                        <h3>Indicadores </h3> <!--101-->
                        <br />
                        <table class="table table-hover" ng-if="a.pendentesSitef != undefined">                            
                            <tr>
                                <td>No. PENDENTES SITEF</td>
                                <td>{{a.pendentesSitef}}</td>
                            </tr>
                            <tr>
                                <td>CONFIRMADAS SITEF</td>
                                <td>{{a.confirmadasSitef}}</td>
                            </tr>                            
                            <tr>
                                <td>No. CONFIRMADAS PORTAL</td>
                                <td>{{a.confirmadasPortal}}</td>
                            </tr>
                            <tr>
                                <td>TOTAL CONFIRMADAS</td>
                                <td>{{a.totalConfirmadas}}</td>
                            </tr>
                        </table>
                        <br />
                    </td>
                    <td width="50px"></td>
                    <td width="600px" valign="top">
                        <h3>Comparativo Autorizadores x Captura </h3> <!--102-->
                        <br />
                        <div align="center">
                            SITEF: {{b.totalSITEF}}, PORTAL: {{b.totalPORTAL}}<br />
                        </div>                        

                        <div class="demo-container102">
                            <div id="placeholder102" class="demo-placeholder"></div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Transações em tempo real </h3> <!--103-->
                        <br />                                               
                        <table class="table table-hover" ng-if="c.totalSitef != undefined">
                            <thead>
                                <tr>
                                    <th>CAPTURA TIPO</th>
                                    <th>QTD.TRANSAÇÕES</th>
                                    <th>CONFIRMADO</th>
                                    <th>PENDENTE</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>STATUS SITEF</td>
                                <td>{{c.totalSitef}}</td>
                                <td>{{c.confSitef}}</td>
                                <td>{{c.pendSitef}}</td>
                            </tr>
                            <tr>
                                <td>PORTAL</td>
                                <td>{{c.totalPortal}}</td>
                                <td>{{c.confPortal}}</td>
                                <td>0</td>
                            </tr>
                        </table>
                        <br />
                    </td>
                    <td></td>
                    <td valign="top">
                        <h3>Transações em tempo real </h3> <!--104-->
                        <br />
                        <div class="demo-container102">
                            <div id="placeholder103" class="demo-placeholder"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Transações x financeiro por empresa </h3> <!--105-->
                        <br />
                        <table class="table table-hover" ng-if="e.list != undefined">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Vol.Financeiro</th>
                                    <th>Confirmadas</th>
                                    <th>Pendentes</th>
                                    <th>Canceladas</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in e.list">
                                <td>{{item.empresa}}</td>
                                <td>{{item.financ}}</td>
                                <td>{{item.confirmadas}}</td>
                                <td>{{item.pendentes}}</td>
                                <td>{{item.canceladas}}</td>
                            </tr>
                        </table>
                        <br />
                    </td>
                    <td></td>
                    <td valign="top">
                        <h3>Volume financeiro x Emissor</h3>
                        <br />

                        <div class="demo-container102">
                            <div id="placeholder105" class="demo-placeholder"></div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h3>Estabelecimento x Transações </h3> <!--106-->
                        Total Dia: {{f.total}}<br />
                        <br />
                        <br />
                        <table class="table table-hover" ng-if="f.list != undefined">
                            <thead>
                                <tr>
                                    <th>Loja</th>
                                    <th>Confirmadas</th>
                                    <th>Pendentes</th>
                                    <th>Canceladas</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in f.list">
                                <td>{{item.loja}}</td>
                                <td>{{item.confirmadas}}</td>
                                <td>{{item.pendentes}}</td>
                                <td>{{item.canceladas}}</td>
                            </tr>
                        </table>
                        <br />
                    </td>
                    <td></td>
                    <td>
                        <h3>Estabelecimento x Volume Financeiro </h3> <!--107-->
                        Total Dia: R$ {{g.total}}<br />
                        <br />
                        <br />
                        <table class="table table-hover" ng-if="g.list != undefined">
                            <thead>
                                <tr>
                                    <th>Loja</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="item in g.list">
                                <td>{{item.loja}}</td>
                                <td>{{item.valor}}</td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
        </div>
    </section>
</div>
<br />
<br />
<br />