<div class="webFormPostion">
    <section class="widgetForm" style="width:975px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Lançamento de <b>Despesas Administrativas</b> </td>
                    <td width="80px"></td>
                    <td></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <table class="widget" style="color: white" width="600px">
                <tr height="12px"> </tr>
                <tr height="56px">
                    <td width="20px"></td>
                    <td width="150px"><b>Empresa</b></td>
                    <td width="20px">
                        <button class="btn btn-xs btn-danger" ng-show="emp_fail">!</button>
                    </td>
                    <td width="420px">
                        <input type="hidden" name="setor" style="width:100%" ui-select2="campos.selects.empresa" ng-model="campos.idEmpresa" />
                    </td>
                    <td width="20px"></td>
                    <td width="120px"></td>
                </tr>

                <tr height="11px"></tr>

                <tr height="43px">
                    <td></td>
                    <td><b>Dia Inicial</b></td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-show="dt_ini_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtInicial">
                    </td>
                    <td></td>
                </tr>

                <tr height="43px">
                    <td></td>
                    <td><b>Dia Final</b></td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-show="dt_fim_fail">!</button>
                    </td>
                    <td>
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtFinal">
                    </td>
                    <td></td>
                </tr>

                <tr height="43px">
                    <td></td>
                    <td><b>Lançamento R$</b></td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-show="vlr_fail">!</button>
                    </td>
                    <td>
                        <input type="text"
                               class="form-control input-transparent" maxlength="11"
                               onKeyUp="money(this,Valor);"
                               ng-model="campos.valor" />
                    </td>
                </tr>

                <tr height="12px"></tr>

                <tr height="43px">
                    <td></td>
                    <td>
                        <button class="btn btn-primary" ng-click="pesquisar()">Pesquisar</button>
                    </td>
                </tr>

                <tr height="12px"></tr>

            </table>

            <div ng-show="list.length == 0">
                <br />
                <div class="btn btn-info btn-lg">Nenhum registro encontrado.</div>
                <br />
                <br />
            </div>

            <table class="table table-hover" ng-if="list.length > 0">
                <thead>
                    <tr>
                        <th>Associado</th>
                        <th>Matricula</th>
                        <th>Lançamento</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tr ng-click="editar(mdl)" data-ng-repeat="mdl in list">
                    <td>{{ mdl.associado }}</td>
                    <td>{{ mdl.matricula }}</td>
                    <td>{{ mdl.valor }}</td>
                    <td>{{ mdl.saldo }} <button class="btn btn-xs btn-danger" ng-show="mdl.falta == true">!</button></td>
                </tr>
            </table>

            <br />
            <button class="btn btn-success right" ng-click="lancar()" ng-if="list.length > 0"> Lançar Despesas </button>
            <br />
        </div>

        <div class="modal-backdrop"
             ng-if="mostraModal"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Editar lançamento</legend>
                    <br />
                    {{lanc.associado}} / {{lanc.matricula}}<br />
                    <br />
                    <table>
                        <tr height="43px">
                            <td width="20px"></td>
                            <td width="120px"><b>Lançamento R$</b></td>
                            <td width="120px">
                                <input type="text"
                                       style="background-color:lightgray"
                                       class="form-control input-transparent" maxlength="11"
                                       onKeyUp="money(this,Valor);"
                                       ng-model="lanc.valor" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <div align="right">
                        <button class="btn btn-success right" ng-click="salvar()"> Salvar </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <div class="modal-backdrop"
             ng-if="mostraModalConf"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Confirmar lançamentos?</legend>
                    <br />                    
                    <br />
                    <br />

                    <table align="center">
                        <tr>
                            <td>
                                <button class="btn btn-default right" ng-click="nao()"> Não </button>
                            </td>
                            <td width="20px"></td>
                            <td>
                                <button class="btn btn-success right" ng-click="sim()"> Sim </button>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
        </div>
        <br /><br />
    </section>
    <br /><br />
</div>
<br /><br />