<div class="webFormPostion">
    <section class="widgetForm" style="width:975px">
        <legend class="legendTop">
            <table><tr height="12px"><td> </td></tr></table>
            <table style="color:white; width:100%">
                <tr height="48px">
                    <td width="20px"></td>
                    <td><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Limpeza de <b>pendências</b> </td>
                    <td width="80px"></td>
                    <td></td>
                    <td width="20px"></td>
                </tr>
                <tr height="12px"></tr>
            </table>
        </legend>
        <div class="divWebForm">
            <table>
                <tr height="43px">
                    <td width="20px"></td>
                    <td width="90px">Dia inicial</td>
                    <td width="110px">
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtInicial">
                    </td>
                    <td width="20px"></td>
                    <td width="90px">Dia final</td>
                    <td width="110px">
                        <input type="text" class="form-control input-transparent"
                               maxlength="10" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               ng-model="campos.dtFinal">
                    </td>
                    <td width="20px"></td>
                    <td width="100px">
                        <button class="btn btn-primary" ng-click="limpaPendenciaModal()">Limpar</button>
                    </td>
                    <td width="20px"></td>
                    <td width="180px">
                        {{campos.resultado}}
                    </td>

                </tr>
            </table>
        </div>

        <div class="modal-backdrop"
             ng-if="mostraModal"
             style="background: rgba(55, 55, 55, 0.5 );">
            <div class="modal-dialog" style="width:320px;margin-left:32px">
                <br />
                <br />
                <br />
                <div class="modal-content" style="color:black">
                    <legend style="color:black">Aviso do Sistema</legend>
                    <br />
                    <h3>Confirmar todas as pendências?</h3>
                    <br />
                    <br />
                    <table align="center">
                        <tr>
                            <td>
                                <button class="btn btn-default" ng-click="cancelaPendencia()"> Não </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-success" ng-click="limpaPendencia()"> Sim </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
            </div>
        </div>

    </section>
</div>
