<div class="webFormPostion">
	<section class="widgetForm">
		<legend style="background: rgba(15, 43, 89, 0.1	);">
			<table><tr height="12px"><td> </td></tr></table>
			<table style="color:white; width:100%">
				<tr>
					<td width="20px"></td>
					<td><i class="fa fa-cogs"> </i> \ Operacional \ Perfil de usuários <i class="fa fa-spinner fa-spin" ng-show="loading"></i></td>
				</tr>
				<tr height="12px"></tr>
			</table>
		</legend>
		<div style="padding-left:25px;padding-top:7px;width:100%;min-height:320px;height:100%;width:100%">
			<form name="formEntidade" role="form" class="form-horizontal" ng-disabled="!permModel.edicao" xt-form novalidate>
				<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
					<tab heading="Perfil">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<table>
								<thead>
									<tr>
										<th width="20px"></th>
										<th width="120px"></th>
										<th width="240px"></th>
									</tr>
								</thead>
								<tr height="12px"></tr>
								<tr height="40px" ng-show="viewModel.id > 0">
									<td></td>
									<td>Código</td>
									<td>
										<b>{{viewModel.id}}</b>
									</td>
								</tr>
								<tr height="40px">
									<td></td>
									<td>Nome do perfil</td>
									<td>
										<input type="text" focus="true" name="nome" class="form-control input-transparent" ng-disabled="!permModel.edicao"
											   id="nome" placeholder="" ng-model="viewModel.stNome"
											   ng-maxlength="150" xt-validate required>
									</td>
								</tr>
							</table>
						</div>
					</tab>

					<tab heading="Usuários" disabled="true" ng-if="viewModel.id == undefined"></tab>
					<tab heading="Usuários ({{viewModel.usuarios.length}})" ng-if="viewModel.id != undefined">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<table width="100%">
								<tr height="12px"></tr>
								<tr>
									<td width="20px"></td>
									<td width="400px">
										<legend style="color:white">Lista de usuários</legend>
										<br />
										<table>
											<tr>
												<td>
													<table class="table table-hover" ng-if="viewModel.usuarios.length > 0">
														<thead>
															<tr>
																<th width="100px">Código</th>
																<th width="250px">Login</th>
															</tr>
														</thead>
														<tr ng-click="exibirUsuario(mdl)" data-ng-repeat="mdl in viewModel.usuarios">
															<td>{{ mdl.id }}</td>
															<td>{{ mdl.stLogin }}</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
									<td width="20px"></td>
								</tr>
							</table>
						</div>
					</tab>

					<tab heading="Permissões" disabled="true" ng-if="viewModel.id == undefined"></tab>
					<tab heading="Permissões" ng-if="viewModel.id != undefined">
						<div style="width:100%;min-height:320px;background:rgba(15, 43, 89, 0.25);">
							<table width="100%">
								<tr height="12px"></tr>
								<tr>
									<td width="20px"></td>
									<td width="400px">
										<legend style="color:white">Lista de permissões</legend>
										<br />
										<table class="table table-hover">
											<thead>
												<tr>
													<th width="250px"><b>Operacional</b></th>
													<th width="70px">Listagem</th>
													<th width="70px">Visualizar</th>
													<th width="70px">Editar</th>
													<th width="70px">Criar</th>
													<th width="70px">Remover</th>
												</tr>
											</thead>
											<tr>
												<td>Perfis de usuários</td>
												<td><input name="tg1011" type="checkbox" ng-model="viewModel.tg1011" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1012" type="checkbox" ng-model="viewModel.tg1012" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1013" type="checkbox" ng-model="viewModel.tg1013" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1014" type="checkbox" ng-model="viewModel.tg1014" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1015" type="checkbox" ng-model="viewModel.tg1015" ng-disabled="!permModel.edicao"></td>
											</tr>
											<tr>
												<td>Manutenção de usuários</td>
												<td><input name="tg1021" type="checkbox" ng-model="viewModel.tg1021" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1022" type="checkbox" ng-model="viewModel.tg1022" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1023" type="checkbox" ng-model="viewModel.tg1023" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1024" type="checkbox" ng-model="viewModel.tg1024" ng-disabled="!permModel.edicao"></td>
												<td><input name="tg1025" type="checkbox" ng-model="viewModel.tg1025" ng-disabled="!permModel.edicao"></td>
											</tr>
										</table>
									</td>
									<td width="20px"></td>
								</tr>
							</table>
						</div>
					</tab>

				</tabset>
			</form>
		</div>
		<br />
		<br />
		<table>
			<tr>
				<td width="34px"></td>
				<td><button class="btn btn-default" ng-click="listar()">CANCELAR</button> </td>
				<td width="34px"></td>
				<td><button class="btn btn-success" ng-click="salvar()">SALVAR</button></td>
			</tr>
		</table>
		<br />
		<br />
	</section>
</div>